

.portfolio-box-1 .mask,
#filter li a span,
.color-over-hero,
.stack__deco,
#owl-home.owl-theme .owl-controls .owl-page.active span,
#owl-home.owl-theme .owl-controls .owl-page span:hover,
.background-color-blue,
.home-video,
.project-next-prev:hover .mask,
.partners,
#owl-sep-1.owl-theme .owl-controls .owl-page span:hover,
#owl-sep-1.owl-theme .owl-controls .owl-page.active span,
#owl-blog-slider.owl-theme .owl-controls .owl-page.active span,
#owl-blog-slider.owl-theme .owl-controls .owl-page span:hover,
.sidebar-search button,
.sidebar-list-two li a:hover,
#ajax-form button:hover,
#cd-zoom-in, #cd-zoom-out{
	background-color: #363dc2;
}
.cbp-af-header.cbp-af-header-shrink .menu ul li ul li a.curent-multi-page,
.cbp-af-header.cbp-af-header-shrink .menu ul li ul li a.curent-multi-page:hover,
.menu ul li ul li a.curent-multi-page,
.menu ul li ul li a.curent-multi-page:hover,
.project-des a:hover,
.page-title h3,
.page-title .text-up,
.page-title h5,
.about-wrap .about-icon,
.quote h4,
.num-of-com span,
.comm-link,
.sidebar-list-one li a:hover,
.comment a{
	color:#6e73d7;
}

.menu ul li a:hover:after{
	width: 120%;
}
.menu ul li a:after{
	content: "";
	position: relative;
	height: 10px;
	width: 0%;
	background-color: #202692;
	background-size: 10px 10px;
	left: -4px;
	top: -10px;
	z-index: -1;
	transition: width .3s ease-in;
	display: block;
}
.menu ul li a.curent-shadow{
	text-shadow: -7px 6px 0 #202692;
}
.content__link,
.home-text-freelance h2 span,
.subscribe button:hover{
	color:#202692;
}
.decoshape.arrow-top,
.content__link:hover .decoshape {
	fill: #202692;
}
.content .content__mask{
	background-color: #363dc2;
}
.morph {
	fill: #282faf;
}
.list-social-footer li:hover{
	background-color: #202692;
}
.portfolio-box-1 .text-on-hover,
.case-study-wrapper li a span,
.home-text-freelance .link,
.tipper .tipper-content,
.team-wrap h6 {
	/*text-shadow: -5px 4px 0 #202692;*/
}
#filter li a:hover,
#filter li .current,
.quote p {
	text-shadow: -7px 5px 0 rgba(54,61,194,.3);
}
.home-text-freelance.shadow-text h2{
	text-shadow: -9px 7px 0 #202692;
}
.home-video {
	outline: 1px double #363dc2;
}
figure.vimeo a:before, figure.youtube a:before {
	border-left: 10px solid #363dc2;
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
	background:#363dc2;
}
.tooltip__shape,
.tooltip--sadoc .tooltip__shape path {
	fill: #363dc2;
}
.tooltip--sadoc .tooltip__shape path {
	stroke: rgba(54,61,194,.3);
}
.arrow-icons:hover,
.blog-pagination li p:hover,
.subscribe button:hover{
	color: #363dc2;
}
.post-wrapper blockquote{
	border-left:3px solid #363dc2;
}
.sidebar-search input:active,
.sidebar-search input:focus {
	border-bottom:1px solid #363dc2;
}
.subscribe input:active,
.subscribe input:focus {
	border-bottom:1px solid #363dc2;
}
.sidebar-list-one li:before{
	border:1px solid #363dc2;
}
.sidebar-list-two li a:hover{
	border:2px solid #363dc2;
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {
	border-bottom:1px solid #363dc2;
}
