nav.post_nav
  .content
    .item
      a.back_link(href="{{ site.baseurl }}/")
        svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M3.68224 6.50006L6.28508 3.9209C6.40348 3.80358 6.40354 3.61224 6.28522 3.49484L5.99772 3.20959C5.8808 3.09359 5.69222 3.09354 5.57524 3.20948L2.17624 6.57836C1.94125 6.81126 1.94125 7.18887 2.17624 7.42177L5.57524 10.7906C5.69222 10.9066 5.88081 10.9065 5.99772 10.7905L6.28519 10.5053C6.40351 10.3879 6.40345 10.1965 6.28505 10.0792L3.68223 7.50006H11.7C11.8657 7.50006 12 7.36575 12 7.20006V6.80006C12 6.63438 11.8657 6.50006 11.7 6.50006H3.68224Z" fill="white")
          path(d="M3.68224 6.50006L3.54147 6.358L3.19626 6.70006H3.68224V6.50006ZM6.28508 3.9209L6.14431 3.77884L6.14431 3.77884L6.28508 3.9209ZM6.28522 3.49484L6.14435 3.63681L6.14435 3.63681L6.28522 3.49484ZM5.99772 3.20959L6.13859 3.06762L6.13859 3.06762L5.99772 3.20959ZM5.57524 3.20948L5.43445 3.06743L5.43445 3.06743L5.57524 3.20948ZM2.17624 6.57836L2.31703 6.72041L2.31703 6.72041L2.17624 6.57836ZM2.17624 7.42177L2.31703 7.27972L2.31703 7.27972L2.17624 7.42177ZM5.57524 10.7906L5.43445 10.9327L5.43445 10.9327L5.57524 10.7906ZM5.99772 10.7905L6.13859 10.9325L6.13859 10.9325L5.99772 10.7905ZM6.28519 10.5053L6.14433 10.3633L6.14433 10.3633L6.28519 10.5053ZM6.28505 10.0792L6.42583 9.93716L6.42583 9.93716L6.28505 10.0792ZM3.68223 7.50006V7.30006H3.19626L3.54146 7.64213L3.68223 7.50006ZM3.82301 6.64213L6.42586 4.06297L6.14431 3.77884L3.54147 6.358L3.82301 6.64213ZM6.42586 4.06297C6.62319 3.86743 6.62329 3.54853 6.42608 3.35286L6.14435 3.63681C6.1838 3.67595 6.18378 3.73973 6.14431 3.77884L6.42586 4.06297ZM6.42608 3.35286L6.13859 3.06762L5.85686 3.35157L6.14435 3.63681L6.42608 3.35286ZM6.13859 3.06762C5.94372 2.87428 5.62942 2.87419 5.43445 3.06743L5.71603 3.35153C5.75503 3.31289 5.81789 3.3129 5.85686 3.35157L6.13859 3.06762ZM5.43445 3.06743L2.03545 6.43631L2.31703 6.72041L5.71603 3.35153L5.43445 3.06743ZM2.03545 6.43631C1.72152 6.74745 1.72152 7.25267 2.03545 7.56382L2.31703 7.27972C2.16099 7.12506 2.16099 6.87506 2.31703 6.72041L2.03545 6.43631ZM2.03545 7.56382L5.43445 10.9327L5.71603 10.6486L2.31703 7.27972L2.03545 7.56382ZM5.43445 10.9327C5.62942 11.1259 5.94373 11.1258 6.13859 10.9325L5.85686 10.6485C5.81788 10.6872 5.75502 10.6872 5.71603 10.6486L5.43445 10.9327ZM6.13859 10.9325L6.42606 10.6473L6.14433 10.3633L5.85686 10.6485L6.13859 10.9325ZM6.42606 10.6473C6.62326 10.4516 6.62315 10.1327 6.42583 9.93716L6.14428 10.2213C6.18374 10.2604 6.18376 10.3242 6.14433 10.3633L6.42606 10.6473ZM6.42583 9.93716L3.82301 7.358L3.54146 7.64213L6.14428 10.2213L6.42583 9.93716ZM11.7 7.30006H3.68223V7.70006H11.7V7.30006ZM11.8 7.20006C11.8 7.25529 11.7552 7.30006 11.7 7.30006V7.70006C11.9761 7.70006 12.2 7.4762 12.2 7.20006H11.8ZM11.8 6.80006V7.20006H12.2V6.80006H11.8ZM11.7 6.70006C11.7552 6.70006 11.8 6.74483 11.8 6.80006H12.2C12.2 6.52392 11.9761 6.30006 11.7 6.30006V6.70006ZM3.68224 6.70006H11.7V6.30006H3.68224V6.70006Z" fill="white")
        | 返回
  //- .logo_z(href='/')
  //-   i

section.post
  .content
    .post_top
      .blog_item
        .post_top_content
          span.blog_title {{ page.title }}
          span.blog_tips
            span
              | {{ page.date | date: ' %Y-%m-%d' }} · 
              span 读完大概需要 {{ page.time }} 分钟
      | {% if page.cover %}
      img.blog_header_img(src='{{ page.cover }}')
      | {% endif %}
    .post-wrapper
      | {{ content }}
    .post_pagination
      | {% if page.previous.url %}
      a.previous(href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}", data-toggle='tooltip', data-placement='top', title='{{page.previous.title}}')
        | 上一篇
        br
        span {{page.previous.title}}
      | {% endif %}
      | {% if page.next.url %}
      a.next(href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}", data-toggle='tooltip', data-placement='top', title='{{page.next.title}}')
        | 下一篇
        br
        span {{page.next.title}}
      | {% endif %}
//- .comment
//-   #disqus_thread
//-   noscript
//-     | Please enable JavaScript to view the
//-     a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
//- script.
//-   (function() { // DON'T EDIT BELOW THIS LINE
//-   var d = document, s = d.createElement('script');
//-   s.src = 'https://zuonx.disqus.com/embed.js';
//-   s.setAttribute('data-timestamp', +new Date());
//-   (d.head || d.body).appendChild(s);
//-   })();
script(src='{{ site.baseurl }}/assets/javascripts/medium-zoom.js')
script.
  mediumZoom(document.images)
