---
layout: default
---
.main_layout
  .left_wrap
    include LeftBar
  .right_wrap
    include NavTop
    include BlogList

//- include WrapAbout

//- include WrapAbout2
//- include WrapAbout3
//- //- include WrapAbout4
//- section.home_top
//-   .content
//-     .home_top_title
//-       #home_top_title
//-         .main_title.first(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
//-           | 你好，我是左子祯，
//-           br
//-           | 一个兴趣广泛的设计师和独立开发者
//-         .sub_title(data-aos="fade-up", data-aos-delay="200", data-aos-duration="500", data-aos-easing="ease-out-cubic")
//-           | 我热爱世界的缤纷多彩，更喜欢自己无尽的可能性
//- section.section_full.works1
//-   .content.about_desc(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
//-     .desc_title
//-       | 我综合自己的所长，<br>
//-       | 尝试着创造些有意思的东西
//-     .cases
//-       .case
//-         .case_about
//-           .case_title
//-            | FigmaChina
//-           .case_logo
//-             img(src='assets/images/logo/figmachina-logo.svg')
//-         .case_info 2019 · 独立设计开发
//-         .case_desc
//-           | FigmaChina 是一个以中文介绍 Figma 的网站，这里有最新的 Figma 中文用户手册、原创教程、使用技巧和在线社区。
//-         a.view_more.link(href='https://figmachina.com', target='_blank')
//-           span Read More
//-         img.cover.lozad(src='assets/images/home/figmachina.jpg', alt='')
//-       .case
//-         .case_about
//-           .case_title
//-            | ELIFE
//-           .case_logo
//-             img(src='assets/images/logo/elife-logo.svg')
//-         .case_info 2018 · 独立设计开发
//-         .case_desc
//-           | ELIFE 是我整理的在线工具集，首页的生命倒计时器提醒自己生命短暂
//-         a.view_more.link(href='https://startelife.com', target='_blank')
//-           span Read More
//-         img.cover.lozad(src='assets/images/home/elife.png', alt='')
//-       .case
//-         .case_about
//-           .case_title
//-            | DesignerAndStudio
//-         .case_info 2017 · 独立设计开发
//-         .case_desc
//-           | 这里是我自己收集的设计师和工作室个人网站的集合，可以给需要的设计师带来灵感
//-         a.view_more.link(href='https://designerandstudio.com', target='_blank')
//-           span Read More
//-         img.cover.lozad(src='assets/images/home/designerandstudio.jpg', alt='')

//- section.section_full.works2
//-   .content.about_desc(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
//-     .desc_title
//-       | 在工作中，<br>
//-       | 我做了很多有意义的事
//-     .cases
//-       .case.master
//-         .case_about
//-           .case_title
//-            | Master
//-           .case_info 2020 · 产品设计负责人
//-           .case_desc
//-             | 目前的工作是保密的。
//-           .view_more.link(href='#')
//-             span Read More
//-         //- img.cover.lozad(src='assets/images/home/smartisan.png', alt='')
//-       .case.smartisan_ds
//-         .case_about
//-           .case_title
//-            | Smartisan OS 7.0 <br>
//-            | Design System
//-           .case_info 2019 · UI 设计师
//-           .case_desc
//-             | 为 OS 7.0 搭建基于 Figma 的大型设计系统，提高设计效率和可维护性
//-           a.view_more.link(href='https://www.smartisan.com/jianguopro3/os', target='_blank')
//-             span Read More
//-         img.cover.lozad(src='assets/images/home/smartisan.png', alt='')
//-       .case.cachemoment
//-         .case_about
//-           .case_title
//-            | CacheMoment
//-           .case_info 2018 · 产品设计师
//-           .case_desc
//-             | 负责 CacheMoment 的所有产品设计和部分 Rails 开发工作
//-           a.view_more.link(href='https://www.cachemoment.com', target='_blank')
//-             span Read More
//-         img.cover.lozad(src='assets/images/home/cachemoment.png', alt='')

//- include WrapDribbble
//- //- include WrapInstagram
//- include WrapContact