---
layout: default
---

section.home_top
  .content
    .home_top_title
      #home_top_title
        .main_title.first(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
          | 你好，我是左子祯，
          br
          | 一个爱好广泛的设计师和独立开发者
        .sub_title(data-aos="fade-up", data-aos-delay="200", data-aos-duration="500", data-aos-easing="ease-out-cubic")
          | 我喜欢世界的缤纷多彩，更喜欢自己无尽的可能性，人生最大的乐趣就在这里
  include ModifyScroll

include WrapAbout
include WrapAbout2
include WrapAbout3
include WrapAbout4

section.section_full.title_split
  .content.about_desc(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .desc_title
      | 我不断尝试把自己的<br>
      | 所想所爱结合在一起，创造些有意思的东西

section.section_full.cases.figmachina
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .case_left
      .case_cover
        img.lozad(src='assets/images/home/figmachina.jpg', alt='')
    .case_right
      .case_about
        .case_logo
          img(src='assets/images/logo/smartisan.svg')
        .case_title FigmaChina.com
        .case_desc
          | 毕业后，我加入了一家负责网站和产品设计的公司。我还负责前端开发（Rails）。现在我主要负责为Smartisan构建和维护设计系统（Figma）
        a.case_button(href='https://figmachina.com', target="_blank") 访问网站
        a.case_button(href='https://figmachina.com', target="_blank") 阅读：为 Smartisan OS 搭建设计系统

section.section_full.cases.elife
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .case_left
      .case_about
        .case_logo
          img(src='assets/images/logo/smartisan.svg')
        .case_title ELIFE
        .case_desc
          | 毕业后，我加入了一家负责网站和产品设计的公司。我还负责前端开发（Rails）。现在我主要负责为Smartisan构建和维护设计系统（Figma）
        a.case_button(href='https://startelife.com', target="_blank") 访问网站
        a.case_button(href='https://figmachina.com', target="_blank") 阅读：为 Smartisan OS 搭建设计系统
    .case_right
      .case_cover
        img.lozad(src='assets/images/home/elife.jpg', alt='')

section.section_full.cases.designer_and_studio
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .case_left
      .case_cover
        img.lozad(src='assets/images/home/designerandstudio.jpg', alt='')
    .case_right
      .case_about
        .case_logo
          img(src='assets/images/logo/smartisan.svg')
        .case_title DesignerAndStudio
        .case_desc
          | 毕业后，我加入了一家负责网站和产品设计的公司。我还负责前端开发（Rails）。现在我主要负责为Smartisan构建和维护设计系统（Figma）
        a.case_button(href='https://designerandstudio.com', target="_blank") 访问网站
        a.case_button(href='https://figmachina.com', target="_blank") 阅读：为 Smartisan OS 搭建设计系统

section.section_full.title_split
  .content.about_desc(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .desc_title
      | 工作上，<br>
      | 我做了许多有用的事

section.section_full.cases.smartisan
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .case_left
      .case_about
        .case_logo
          img(src='assets/images/logo/smartisan.svg')
        .case_title Smartisan OS 7.0 <br> Design System
        .case_desc
          | 毕业后，我加入了一家负责网站和产品设计的公司。我还负责前端开发（Rails）。现在我主要负责为Smartisan构建和维护设计系统（Figma）
        a.case_button(href='https://www.smartisan.com', target="_blank") 访问网站
    .case_right
      .case_cover
        img.lozad(src='assets/images/home/smartisan.jpg', alt='')

section.section_full.cases.cachemoment
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .case_left
      .case_cover
        img.lozad(src='assets/images/home/cachemoment.jpg', alt='')
    .case_right
      .case_about
        .case_logo
          img(src='assets/images/logo/cachemoment.svg')
        .case_title CacheMoment
        .case_desc
          | 毕业后，我加入了一家负责网站和产品设计的公司。我还负责前端开发（Rails）。现在我主要负责为Smartisan构建和维护设计系统（Figma）
        a.case_button(href='https://www.cachemoment.com', target="_blank") 访问网站
        a.case_button(href='https://www.behance.net/gallery/58498171/Moment', target="_blank") View Behance

include WrapLastBlog
include WrapDribbble
include WrapInstagram
include WrapContact