---
layout: default
title: zuonx - design effective digital products
description: Do one thing for a lifetime
---

<nav class="section top_nav">
  <a href= {{ "/works" | prepend: site.baseurl }} class="nav_link">Work</a>
  <a href= {{ "/blog" | prepend: site.baseurl }} class="nav_link">Blog</a>
  <a href= {{ "/about" | prepend: site.baseurl }} class="nav_link">About</a>
  <a href= {{ "/contact" | prepend: site.baseurl }} class="nav_link">Contact</a>
  <a href= {{ "/" | prepend: site.baseurl }} class="logo_z"><i></i></a>
</nav>

<section class="section main">
  <div class="main_title">
    Hello <span class="point">. </span>
    <br class="title_br">
    <span class="title_other">I'm Zuo Zizhen</span>
  </div>
  <div class="main_desc">
    <p> I’m an China UX/UI & Product designer with 2+ years of experience. I also mentor at San Francisco based code & design bootcamp Bloc.</p>
    <p> My advantage is good at integrating different skills. I can independently complete the website design and development, there are some complete online product case.</p>
  </div>
</section>

<section class="section case">
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item cachemoment" target="_blank">
    <div class="color_cover purple">
      <div class="case_item_desc">
        <div class="case_title">Cachemoment</div>
        <div class="case_tag">Web Interfaces · Development · Digital Branding</div>
      </div>
    </div>
  </a>
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item presen" target="_blank">
    <div class="color_cover red">
      <div class="case_item_desc">
        <div class="case_title">Presen</div>
        <div class="case_tag">Web Interfaces · Development · Digital Branding</div>
      </div>
    </div>
  </a>
</section>

<section class="case_full">
  <div class="case_full_desc">
    <div class="case_duty">Developer & Interaction Designer</div>
    <div class="case_full_title">Elife</div>
    <div class="line"></div>
    <p> To provide users with large data driven large data driven intelligent cloud acceleration, global CDN solutions,To provide users with large data driven large data driven</p>
    <a class="case_link">Link</a>
  </div>
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_full_cover" target="_blank">
    <img src="assets/images/main/case-1.jpg" alt="">
  </a>
</section>

<section class="section service">
  <div class="section_title">Service</div>
  <div class="section_item">
    <div class="item_content">
      <div class="item_title">Web Interfaces</div>
      <p> I had the opportunity to practice at Accenture, which enabled me to maintain good working habits. After graduation</p>
    </div>
    <div class="item_content">
      <div class="item_title">Frontend Development</div>
      <p> I had the opportunity to practice at Accenture, which enabled me to maintain good working habits. After graduation</p>
    </div>
    <div class="item_content">
      <div class="item_title">App Interface</div>
      <p> I had the opportunity to practice at Accenture, which enabled me to maintain good working habits. After graduation</p>
    </div>
    <div class="item_content">
      <div class="item_title">Digital Branding</div>
      <p> I had the opportunity to practice at Accenture, which enabled me to maintain good working habits. After graduation</p>
    </div>
  </div>
</section>

<section class="section brand">
  <img src="assets/images/main/brand.png" alt="">
</section>

<section class="case_full">
  <div class="case_full_desc">
    <div class="case_duty">Developer & Interaction Designer</div>
    <div class="case_full_title">DesignerAndStudio</div>
    <div class="line"></div>
    <p> To provide users with large data driven large data driven intelligent cloud acceleration, global CDN solutions,To provide users with large data driven large data driven</p>
    <div class="case_link">Link</div>
  </div>
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_full_cover" target="_blank">
    <img src="assets/images/main/case-2.jpg" alt="">
  </a>
</section>

<section class="section blog_home">
  <div class="section_title">Blog</div>
  <div class="">
    <div class="blog_item_grid">
      {% for post in site.posts limit:5 %}
      <div class="blog_item">
        <a href="{{ post.url }}">
          <img src="assets/images/post/{{ post.date | date: '%Y-%m-%d' }}/bg.jpg" alt="" class="blog_cover">
        </a>
          <!-- <span class="blog_date">{{ post.date | date: '%B %d, %Y' }}</span> -->
          <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
        <a href="{{ post.url }}">
          <span class="blog_title">{{ post.title }}</span>
        </a>
          <div class="blog_excerpt">{{ post.excerpt }}</div>
      </div>
      {% endfor %}
    </div>
    <a href="{{ site.baseurl }}/blog" class="view_more"><span>View More</span></a>
  </div>
</section>

<section class="post_full">
  <img src="assets/images/main/full-post-bg.jpg" alt="">
</section>

<section class="section story">
  <div class="section_title">Story</div>
  <div id="instagram"></div>
</section>

<section class="section more">
  <div class="section_title">More</div>
  <div class="section_item">
    <div class="contact_item">
      <div class="item_title">Say hi</div>
      <a class="item_desc" href="mailto:{{site.email}}">{{ site.email }}</a>
    </div>
    <div class="contact_item">
      <div class="item_title">Be a friend</div>
      <a class="item_desc" href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank">Dribbble</a>
      <a class="item_desc" href="https://www.behance.net/{{ site.behance_username }}" target="_blank">Behance</a>
      <a class="item_desc" href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
      <a class="item_desc" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>
      <a class="item_desc" href="https://zhihu.com/people/{{ site.zhihu_username }}" target="_blank">Zhihu</a>
    </div>
    <div class="contact_item">
      <div class="item_title">Thank you for Reading!</div>
      <span class="item_desc">@ 2018 Designed & Built by Zuo Zizhen</span>
    </div>
  </div>
</section>

<script src="{{ site.baseurl }}/assets/javascripts/instagram.min.js"></script>

<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: 3253094037,
    accessToken: '3253094037.1677ed0.994bc82dab524da98ee59864cca18df0',
    target: 'instagram',
    resolution: 'standard_resolution',
    limit: '9',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });
  window.onload = function() {
    feed.run();
  };
</script>
