---
layout: default
title: zuonx - design effective digital products
description: Do one thing for a lifetime
---

section.home_top
  .content
    .home_top_title
      #home_top_title
        .sub_title
        .main_title.first
          | Hello! I’m Zizhen, a UI designer
        .main_title.second
          | and Indie Developer in China.
  include ModifyScroll
include WrapAbout
section.section_full.cases.elife
  .case
    .case_left
      .case_about
        //- .case_logo
        //-   img(src= {{ include.src }})
        //- A collection of commonly used design tools and other interesting gadgets
        .case_info Personal Product
        .case_title Start your Elife
        a.case_button(href='https://startelife.com') Learn more
    .case_right
      .case_cover
        img.lozad(src='https://i.loli.net/2019/03/16/5c8d124cb1a68.jpg', alt='')
section.section_full.cases.smartisan
  .case
    .case_left
      .case_about
        .case_logo
          img(src='assets/images/logo/smartisan.svg')
        //- .case_info Personal Product
        .case_title Smartisan OS 7.0 Design System
        a.case_button(href='https://www.smartisan.com') Learn more
    .case_right
      .case_cover
        img.lozad(src='https://i.loli.net/2019/02/24/5c729f7f044db.jpg', alt='')
section.section_full.cases.designer_and_studio
  .case
    .case_left
      .case_about
        //- .case_logo
        //-   img(src='assets/images/logo/smartisan.svg')
        .case_info Personal Product
        .case_title Best designer and studio website
        a.case_button(href='https://designerandstudio.com') Learn more
    .case_right
      .case_cover
        img.lozad(src='https://i.loli.net/2019/02/24/5c729f28a7dc4.jpg', alt='')
section.section_full.cases.cachemoment
  .case
    .case_left
      .case_about
        .case_logo
          img(src='assets/images/logo/cachemoment.svg')
        //- .case_info Personal Product
        .case_title CacheMoment
        a.case_button(href='https://www.cachemoment.com') Learn more
    .case_right
      .case_cover
        img.lozad(src='https://i.loli.net/2019/03/17/5c8d2a2ed4d81.jpg', alt='')
section.section_full.cases.presen
  .case
    .case_left
      .case_about
        .case_logo
          img(src='assets/images/logo/presen.svg')
        //- .case_info Personal Product
        .case_title SmartHome web and App Design
        a.case_button(href='https://presen.com') Learn more
    .case_right
      .case_cover
        img.lozad(src='https://i.loli.net/2019/03/17/5c8e108b28585.png', alt='')
section.section_full.cases.petme
  .case
    .case_left
      .case_about
        //- .case_logo
        //-   img(src='assets/images/logo/presen.svg')
        .case_info Brand
        .case_title Everything about your pet is here
        a.case_button(href='https://presen.com') Learn more
    .case_right
      .case_cover
        img.lozad(src='https://i.loli.net/2019/03/17/5c8e1184c38ca.png', alt='')
include WrapLastBlog
include WrapDribbble
include WrapInstagram
include WrapContact