---
layout: default
title: zuonx - design effective digital products
description: Do one thing for a lifetime
---

{% include language_swich.html %}

<nav class="top_nav white">
  <a href= {{ "/works" | prepend: site.baseurl }} class="nav_link">Work</a>
  <a href= {{ "/blog" | prepend: site.baseurl }} class="nav_link">Blog</a>
  <a href= {{ "/about" | prepend: site.baseurl }} class="nav_link">About</a>
  <a href= {{ "/contact" | prepend: site.baseurl }} class="nav_link">Contact</a>
  <a href="http://elife.zuonx.com" class="nav_link link_right" target="_blank">Elife</a>
  <a href= {{ "/" | prepend: site.baseurl }} class="logo_z"><i></i></a>
</nav>
<!-- <script>
  // init controller
  var controller = new ScrollMagic.Controller();
</script> -->
<section class="home_top">
  <!-- <div class="lines-grid">
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
  </div> -->
  <div class="content">
    <div class="home_top_title">
      <div class="home_top_title_swich" id="home_top_tabs">
        <a href="javascript:void(0)" class="swich"></a>
        <a href="javascript:void(0)" class="swich"></a>
        <a href="javascript:void(0)" class="swich current"></a>
      </div>
      <div class="" id="home_top_title">
        <span class="top_title">
          I’M<br>
          DEVELOPER
        </span>
        <span class="top_title">
          I’M<br>
          DESIGNER
        </span>
        <span class="top_title current">
          I’M<br>
          ZIZHEN ZUO
        </span>

      </div>
    </div>
    <div class="home_top_pic" id="home_top_pic">
      <img src="https://i.loli.net/2018/12/25/5c222d207275c.jpg" alt="" draggable="false" class="main_pic_z">
      <img src="https://i.loli.net/2018/12/25/5c222c91f323f.jpg" alt="" draggable="false" class="main_pic_z">
      <img src="https://i.loli.net/2018/12/25/5c222c912ca19.jpg" alt="" draggable="false" class="main_pic_z current">
    </div>
  </div>
</section>
<section class="home_about">
  <!-- <div class="lines-grid">
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
  </div> -->
  <div class="content">
    <div class="about_info">
      <div class="contact_item">
        <div class="item_title">Say hi</div>
        <a class="item_desc" href="mailto:{{site.email}}">{{ site.email }}</a>
      </div>
      <div class="contact_item">
        <div class="item_title">Be a friend</div>
        <a class="item_desc" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>
        <a class="item_desc" href="https://zhihu.com/people/{{ site.zhihu_username }}" target="_blank">Zhihu</a>
      </div>
      <div class="contact_item">
        <div class="item_title">Official Accounts</div>
        <div class="item_img">
          <img src="https://i.loli.net/2018/12/25/5c2234929d3cb.png" alt="">
        </div>
        <span class="item_desc">Scan to follow me</span>
      </div>
    </div>
    <div class="about_desc">
      <p>
        I'm Zizhen Zuo, A Product designer & Developer & Freelancer form China.
        <!--{cn}我是左子祯，一名来自中国的产品设计 & 工程师 & 独立开发者。-->
      </p>
      <p>
        After graduation, I joined a start-up company and was responsible for the brand image design and design specifications of the company. In the later stage, I led the website and product design and completed part of the front-end development work (Rails) at the same time.
        <!--{cn}我在毕业后加入了一家创业公司，负责公司的品牌形象设计及制定设计规范，后期主导网站及产品设计同时完成部分前端开发工作（Rails），期间协作迭代多次版本，提高用户体验。  -->
      </p>
      <p>
        Currently working in smartisan technology, I am responsible for maintaining the daily iteration of smartisan mall Web and App terminal and following up new requirements, as well as leading the establishment of the Web terminal UI component library, supplementing and improving design specifications, and assisting in the design of product station and related marketing requirements of new products.
        <!--{cn}目前在锤子科技工作，负责维护锤子商城 Web、App 端日常迭代和新需求跟进，以及主导建立 Web 端 UI 组件库，补充完善设计规范，协助新产品的产品站设计和相关营销需求。  -->
      </p>
      <p>
        My goal is to be an independent developer, I am good at integrating my various skills together to play out more power, such as design, code and 3D animation.
        <!--{cn}我的目标是成为一名独立的开发人员，我善于将各种技能整合在一起，以发挥更多的力量，如设计，代码和 3D 动画。  -->
      </p>
    </div>
  </div>
</section>

<section class="section case">
  <!-- <div class="section_title title_fixed">
    <div id="trigger_case"></div>
    <div id="pin_case" class="section_title_fixd">Some real<br>cases for<br>custom</div>
    <script>
      $(function () { // wait for document ready
        // build scene
        var scene = new ScrollMagic.Scene({triggerElement: "#trigger_case", duration: 1700, offset: 460})
                .setPin("#pin_case")
                .addIndicators({name: "1 (duration: 300)"}) // add indicators (requires plugin)
                .addTo(controller);
      });
    </script>
  </div> -->
  <div class="section_title title_normal">Some real<br>cases for<br>custom</div>
  <div class="section_item">
    <a href= {{ "/works/moment" | prepend: site.baseurl }} class="case_item smartisan" target="_blank">
      <div class="color_cover purple"></div>
      <img src="https://i.loli.net/2018/12/29/5c272d785169f.jpg" alt="" class="color_cover_img">
      <div class="case_item_desc">
        <div class="case_title">Smartisan Web Library</div>
        <div class="case_tag">Gulid</div>
      </div>
    </a>
  <a href= {{ "/works/moment" | prepend: site.baseurl }} class="case_item cachemoment" target="_blank">
    <div class="color_cover purple"></div>
    <img src="https://i.loli.net/2018/12/12/5c108945875e0.jpg" alt="" class="color_cover_img">
    <div class="case_item_desc">
      <div class="case_title">Cachemoment</div>
      <div class="case_tag">Web Interfaces · Development · Digital Branding</div>
    </div>
  </a>
  <a href= {{ "/works/presen" | prepend: site.baseurl }} class="case_item presen" target="_blank">
    <div class="color_cover red"></div>
    <img src="https://i.loli.net/2018/12/12/5c1089c07a433.jpg" alt="" class="color_cover_img">
    <div class="case_item_desc">
      <div class="case_title">Presen</div>
      <div class="case_tag">Web Interfaces · App Interfaces</div>
    </div>
  </a>
  <a href= {{ "/works/petme" | prepend: site.baseurl }} class="case_item presen bottom_0" target="_blank">
    <div class="color_cover red"></div>
    <img src="https://i.loli.net/2018/12/12/5c1089b055b66.jpg" alt="" class="color_cover_img">
    <div class="case_item_desc">
      <div class="case_title">Petme</div>
      <div class="case_tag">Web Interfaces · App Interfaces</div>
    </div>
  </a>
  <a href="{{ site.baseurl }}/works" class="view_more"><span>View More</span></a>
</div>
</section>

<section class="case_full">
  <div class="case_full_desc">
    <div class="case_duty">Developer & Interaction Designer</div>
    <div class="case_full_title">Elife</div>
    <div class="line"></div>
    <p>
      A collection of commonly used design tools and other interesting gadgets.
      <!--{cn}集合了常用的设计工具和其它有趣的小工具  -->
    </p>
    <a href="http://elife.zuonx.com" class="view_more link" target="_blank"><span>Link</span></a>
  </div>
  <a href="http://elife.zuonx.com" class="case_full_cover" target="_blank">
    <img src="https://i.loli.net/2018/12/12/5c10898b5ef8d.jpg" alt="">
  </a>
</section>

<section class="section service">
  <div class="section_title">Services<br>and skills</div>
  <div class="section_item">
    <div class="item_content">
      <div class="item_title">
        Web Interfaces
        <!--{cn} 网站界面  -->
      </div>
      <p>
        I am good at corporate website, landing page, dashboard design, and successfully complete the goal for customers.
        <!--{cn}擅长企业网站、Landing Page和 Dashboard的设计，并有成熟的线上案例。  -->
      </p>
    </div>
    <div class="item_content">
      <div class="item_title">
        Frontend Development
        <!--{cn}静态网站开发  -->
      </div>
      <p>
        I can independently complete the front-end development of static pages, and can provide customers with high-fidelity front-end design drafts.
        <!--{cn}可以独立完成静态页面的前端开发，并可以为客户提供高保真的前端设计草图。  -->
      </p>
    </div>
    <div class="item_content">
      <div class="item_title">
        App Interface
        <!--{cn}移动应用界面  -->
      </div>
      <p>
        I can complete the iOS & Android interface design, and I am familiar with the Swift language, which can better connect and communicate with engineers.
        <!--{cn}擅长 iOS 和 Android 界面设计，并且熟悉 Swift 语言，可以更好地与工程师沟通。  -->
      </p>
    </div>
    <div class="item_content">
      <div class="item_title">
        Digital Branding
        <!--{cn}数字化品牌  -->
      </div>
      <p>
        Creating interesting, successful brands for our customers is my goal, I have created interesting digital brands for many customers.
        <!--{cn}为客户创造有趣、成功的品牌是我的目标，我已经为许多客户创造了有趣的数字品牌。  -->
      </p>
    </div>
  </div>
</section>

<!-- <section class="section brand">
  <img src="assets/images/main/brand.png" alt="">
</section> -->
<section class="post_full">
  <img src="https://i.loli.net/2018/12/12/5c0fee529db16.jpg" alt="">
</section>


<section class="section blog_home">
  <div class="section_title title_normal">Keep<br>thinking</div>
  <div class="">
    <div class="blog_item_grid">
      {% for post in site.posts limit:5 %}
      <div class="blog_item">
        <a href="{{ post.url }}">
          <img src="{{ post.cover }}" alt="" class="blog_cover">
        </a>
          <!-- <span class="blog_date">{{ post.date | date: '%B %d, %Y' }}</span> -->
        <div class="blog_info">
          <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
        <a href="{{ post.url }}">
          <span class="blog_title">{{ post.title }}</span>
        </a>
          <div class="blog_excerpt">{{ post.excerpt }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="{{ site.baseurl }}/blog" class="view_more"><span>View More</span></a>
  </div>
</section>

<section class="case_full">
  <div class="case_full_desc">
    <div class="case_duty">Developer & Interaction Designer</div>
    <div class="case_full_title">DesignerAndStudio</div>
    <div class="line"></div>
    <p>
      A collection of excellent personal websites for designers and studios.
      <!--{cn}优秀的设计师和工作室的个人网站集合  -->
    </p>
    <div class="case_link">Link</div>
  </div>
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_full_cover" target="_blank">
    <img src="https://i.loli.net/2018/12/20/5c1b59ad0e714.jpg" alt="">
  </a>
</section>

<section class="section shots">
  <div class="section_title title_normal">Keep<br>learning</div>
  <div class="">
    <div id="dribbble-shots"></div>
    <a href="https://dribbble.com/zuonx" class="view_more" target="_blank"><span>View more in Dribbble</span></a>
  </div>
</section>
<section class="appraise_full">
  <div class="appraise_content">
    <div class="appraise_desc">
      “ Professional and meticulous for us to complete the establishment of the initial brand image. ”
      <!--{cn}“ 专业细致的为我们完成了初期品牌形象的建立。”  -->
    </div>
    <div class="appraise_name">
      Liu Jiang
      <!--{cn}刘江  -->
    </div>
    <div class="appraise_title">
      CACHEMOMENT CEO
      <!--{cn}魔门云 CEO -->
    </div>
  </div>
</section>
<section class="section story">
  <div class="section_title">Youth durable hidden treasure</div>
  <div class="">
    <div id="instagram"></div>
    <a href="https://www.instagram.com/zuozizhen" class="view_more" target="_blank"><span>View more in Instagram</span></a>
  </div>
</section>
<section class="home_more">
  <div class="section more">
    <div class="section_title">Let's talk</div>
    <div class="section_item">
      <div class="contact_item">
        <div class="item_title">Say hi</div>
        <a class="item_desc" href="mailto:{{site.email}}">{{ site.email }}</a>
      </div>
      <div class="contact_item">
        <div class="item_title">Be a friend</div>
        <a class="item_desc" href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank">Dribbble</a>
        <a class="item_desc" href="https://www.behance.net/{{ site.behance_username }}" target="_blank">Behance</a>
        <a class="item_desc" href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
        <a class="item_desc" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>
        <a class="item_desc" href="https://zhihu.com/people/{{ site.zhihu_username }}" target="_blank">Zhihu</a>
      </div>
      <div class="contact_item">
        <div class="item_title">Thank you for Reading!</div>
        <span class="item_desc">@ 2018 Designed & Built by Zuo Zizhen</span>
      </div>
    </div>
  </div>

</section>

<script src="{{ site.baseurl }}/assets/javascripts/instagram.min.js"></script>

<script src="{{ site.baseurl }}/assets/javascripts/jribbble.min.js"></script>

<script>
  jribbble.shots({token: "935c9bc6c35616b09c4214afb1e6ef80f22aa8175e1766881e00c2289ee2911e",page: 1, per_page: 6,}, function(shotsArray) {
    document.getElementById("dribbble-shots").innerHTML = shotsArray.reduce(function(html, shot) {
      return html + '<a href="'+  shot.html_url + '" target="_blank"><img src="' + shot.images.hidpi + '"></a>';
    }, "");
  });
</script>

<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: 3253094037,
    accessToken: '3253094037.1677ed0.994bc82dab524da98ee59864cca18df0',
    target: 'instagram',
    resolution: 'standard_resolution',
    limit: '9',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });
  window.onload = function() {
    feed.run();
  };
</script>
