---
layout: default
title: zuonx - design effective digital products
description: Do one thing for a lifetime
---

<nav class="top_nav white">
  <a href= {{ "/works" | prepend: site.baseurl }} class="nav_link">Work</a>
  <a href= {{ "/blog" | prepend: site.baseurl }} class="nav_link">Blog</a>
  <a href= {{ "/about" | prepend: site.baseurl }} class="nav_link">About</a>
  <a href= {{ "/contact" | prepend: site.baseurl }} class="nav_link">Contact</a>
  <!-- <a href="javascript:tran.setLang('default');" class="nav_link_language en">English</a>
  <a href="javascript:tran.setLang('cn');" class="nav_link_language cn">中文</a> -->
  <a href="{{ site.url }}/feed.xml" class="nav_link link_right">RSS</a>
  <a href= {{ "/" | prepend: site.baseurl }} class="logo_z"><i></i></a>
</nav>
<script>
  // init controller
  var controller = new ScrollMagic.Controller();
</script>
<section class="home_top">
  <!-- <div class="lines-grid">
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
  </div> -->
  <div class="content">
    <div class="home_top_title">
      <div class="home_top_title_swich" id="home_top_tabs">
        <a href="javascript:void(0)" class="swich"></a>
        <a href="javascript:void(0)" class="swich"></a>
        <a href="javascript:void(0)" class="swich current"></a>
      </div>
      <div class="" id="home_top_title">
        <span class="top_title">
          I’M<br>
          DEVELOPER
        </span>
        <span class="top_title">
          I’M<br>
          DESIGNER
        </span>
        <span class="top_title current">
          I’M<br>
          ZIZHEN ZUO
        </span>

      </div>
    </div>
    <div class="home_top_pic" id="home_top_pic">
      <img src="https://i.loli.net/2018/12/12/5c0fedd52171b.png" alt="" draggable="false" class="main_pic_z">
      <img src="https://i.loli.net/2018/12/12/5c0fedcef17b7.png" alt="" draggable="false" class="main_pic_z">
      <img src="https://i.loli.net/2018/12/12/5c0fee319d1e2.png" alt="" draggable="false" class="main_pic_z current">
    </div>
  </div>
  <!-- <div class="main_scroll">
    <div class="c-scrolldown">
      <div class="c-line"></div>
    </div>
    <span>SCROLL TO EXPLORE</span>
  </div> -->
</section>
<section class="home_about">
  <!-- <div class="lines-grid">
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
    <i class="lines_i"></i>
  </div> -->
  <div class="content">
    <div class="about_info">
      <div class="contact_item">
        <div class="item_title">Say hi</div>
        <a class="item_desc" href="mailto:{{site.email}}">{{ site.email }}</a>
      </div>
      <div class="contact_item">
        <div class="item_title">Be a friend</div>
        <a class="item_desc" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>
        <a class="item_desc" href="https://zhihu.com/people/{{ site.zhihu_username }}" target="_blank">Zhihu</a>
      </div>
    </div>
    <div class="about_desc">
      <p>
        I'm Zizhen Zuo, A <span>Product designer</span> & <span>Developer</span> & <span>Freelancer</span> form China.
      </p>
      <p>
        I had the opportunity to practice at <span>Accenture</span>, which enabled me to maintain good working habits.</p>
      <p>
        After graduation, I joined a start-up company and was responsible for product design and brand design in the early stage of the company</p>
      <p>
        My goal is to be an independent developer, I am good at integrating my various skills together to play out more power, such as design, code and 3D animation.</p>
    </div>
  </div>
</section>

<section class="section case">
  <div class="section_title title_fixed">
    <div id="trigger_case"></div>
    <div id="pin_case" class="section_title_fixd">Some real<br>cases for<br>custom</div>
    <script>
      $(function () { // wait for document ready
        // build scene
        var scene = new ScrollMagic.Scene({triggerElement: "#trigger_case", duration: 1700, offset: 460})
                .setPin("#pin_case")
                .addIndicators({name: "1 (duration: 300)"}) // add indicators (requires plugin)
                .addTo(controller);
      });
    </script>
  </div>
  <div class="section_title title_normal">Some real<br>cases for<br>custom</div>
  <div class="section_item">
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item cachemoment" target="_blank">
    <div class="color_cover purple"></div>
    <img src="https://i.loli.net/2018/12/12/5c0feeb8dbb1c.jpg" alt="" class="color_cover_img">
    <div class="case_item_desc">
      <div class="case_title">Cachemoment</div>
      <div class="case_tag">Web Interfaces · Development · Digital Branding</div>
    </div>
  </a>
  <a href="https://www.behance.net/gallery/61684929/Presen" class="case_item presen" target="_blank">
    <div class="color_cover red"></div>
    <img src="https://i.loli.net/2018/12/12/5c0feed62826f.jpg" alt="" class="color_cover_img">
    <div class="case_item_desc">
      <div class="case_title">Presen</div>
      <div class="case_tag">Web Interfaces · App Interfaces</div>
    </div>
  </a>
  <a href="https://www.behance.net/gallery/61684929/Presen" class="case_item presen bottom_0" target="_blank">
    <div class="color_cover red"></div>
    <img src="https://i.loli.net/2018/12/12/5c0feebab1378.jpg" alt="" class="color_cover_img">
    <div class="case_item_desc">
      <div class="case_title">Petme</div>
      <div class="case_tag">Web Interfaces · App Interfaces</div>
    </div>
  </a>
  <a href="{{ site.baseurl }}/works" class="view_more"><span>View More</span></a>
</div>
</section>

<section class="case_full">
  <div class="case_full_desc">
    <div class="case_duty">Developer & Interaction Designer</div>
    <div class="case_full_title">Elife</div>
    <div class="line"></div>
    <p> To provide users with large data driven large data driven intelligent cloud acceleration, global CDN solutions,To provide users with large data driven large data driven</p>
    <a href="{{ site.baseurl }}/works" class="view_more link"><span>Link</span></a>
  </div>
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_full_cover" target="_blank">
    <img src="https://i.loli.net/2018/12/12/5c0feecd9ce30.jpg" alt="">
  </a>
</section>

<section class="section service">
  <div class="section_title">Services<br>and skills</div>
  <div class="section_item">
    <div class="item_content">
      <div class="item_title">Web Interfaces</div>
      <p>I am good at corporate website, landing page, dashboard design, and successfully complete the goal for customers.</p>
    </div>
    <div class="item_content">
      <div class="item_title">Frontend Development</div>
      <p>I can independently complete the front-end development of static pages, and can provide customers with high-fidelity front-end design drafts.</p>
    </div>
    <div class="item_content">
      <div class="item_title">App Interface</div>
      <p>I can complete the iOS & Android interface design, and I am familiar with the Swift language, which can better connect and communicate with engineers.</p>
    </div>
    <div class="item_content">
      <div class="item_title">Digital Branding</div>
      <p>Creating interesting, successful brands for our customers is my goal, I have created interesting digital brands for many customers.</p>
    </div>
  </div>
</section>

<section class="section brand">
  <img src="assets/images/main/brand.png" alt="">
</section>
<section class="post_full">
  <img src="https://i.loli.net/2018/12/12/5c0fee529db16.jpg" alt="">
</section>


<section class="section blog_home">
  <div class="section_title title_fixed">
    <div id="trigger_blog"></div>
    <div id="pin_blog" class="section_title_fixd">Keep<br>thinking</div>
    <script>
      $(function () { // wait for document ready
        // build scene
        var scene = new ScrollMagic.Scene({triggerElement: "#trigger_blog", duration: 1400, offset: 450})
                .setPin("#pin_blog")
                .addIndicators({name: "1 (duration: 300)"}) // add indicators (requires plugin)
                .addTo(controller);
      });
    </script>
  </div>
  <div class="section_title title_normal">Keep<br>thinking</div>
  <div class="">
    <div class="blog_item_grid">
      {% for post in site.posts limit:5 %}
      <div class="blog_item">
        <a href="{{ post.url }}">
          <img src="assets/images/post/{{ post.date | date: '%Y-%m-%d' }}/bg.jpg" alt="" class="blog_cover">
        </a>
          <!-- <span class="blog_date">{{ post.date | date: '%B %d, %Y' }}</span> -->
        <div class="blog_info">
          <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
        <a href="{{ post.url }}">
          <span class="blog_title">{{ post.title }}</span>
        </a>
          <div class="blog_excerpt">{{ post.excerpt }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="{{ site.baseurl }}/blog" class="view_more"><span>View More</span></a>
  </div>
</section>

<section class="case_full">
  <div class="case_full_desc">
    <div class="case_duty">Developer & Interaction Designer</div>
    <div class="case_full_title">DesignerAndStudio</div>
    <div class="line"></div>
    <p> To provide users with large data driven large data driven intelligent cloud acceleration, global CDN solutions,To provide users with large data driven large data driven</p>
    <div class="case_link">Link</div>
  </div>
  <a href="https://www.behance.net/gallery/58498171/Moment" class="case_full_cover" target="_blank">
    <img src="https://i.loli.net/2018/12/12/5c0feec8713d8.jpg" alt="">
  </a>
</section>

<section class="section shots">

  <div class="section_title title_fixed">
    <div id="trigger_shots"></div>
    <div id="pin_shots" class="section_title_fixd">Keep<br>learning</div>
    <script>
      $(function () { // wait for document ready
        // build scene
        var scene = new ScrollMagic.Scene({triggerElement: "#trigger_shots", duration: 600, offset: 450})
                .setPin("#pin_shots")
                .addIndicators({name: "1 (duration: 300)"}) // add indicators (requires plugin)
                .addTo(controller);
      });
    </script>
  </div>
  <div class="section_title title_normal">Keep<br>learning</div>
  <div class="">
    <div id="dribbble-shots"></div>
    <a href="https://dribbble.com/zuonx" class="view_more" target="_blank"><span>View more in Dribbble</span></a>
  </div>
</section>
<section class="appraise_full">
  <div class="appraise_content">
    <div class="appraise_desc">
      “ Working with ustwo is unlike a typical studio relationship. It’s closer to hiring a team of commandos that become a part of your organization. ”
    </div>
    <div class="appraise_name">
      Liu Jiang
    </div>
    <div class="appraise_title">
      CACHEMOMENT CEO
    </div>
  </div>
</section>
<section class="section story">
  <div class="section_title">Life is a little<br>less volatile<br>dream</div>
  <div class="">
    <div id="instagram"></div>
    <a href="https://www.instagram.com/zuozizhen" class="view_more" target="_blank"><span>View more in Instagram</span></a>
  </div>
</section>
<section class="home_more">
  <div class="section more">
    <div class="section_title">Let's talk</div>
    <div class="section_item">
      <div class="contact_item">
        <div class="item_title">Say hi</div>
        <a class="item_desc" href="mailto:{{site.email}}">{{ site.email }}</a>
      </div>
      <div class="contact_item">
        <div class="item_title">Be a friend</div>
        <a class="item_desc" href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank">Dribbble</a>
        <a class="item_desc" href="https://www.behance.net/{{ site.behance_username }}" target="_blank">Behance</a>
        <a class="item_desc" href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
        <a class="item_desc" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>
        <a class="item_desc" href="https://zhihu.com/people/{{ site.zhihu_username }}" target="_blank">Zhihu</a>
      </div>
      <div class="contact_item">
        <div class="item_title">Thank you for Reading!</div>
        <span class="item_desc">@ 2018 Designed & Built by Zuo Zizhen</span>
      </div>
    </div>
  </div>

</section>

<script src="{{ site.baseurl }}/assets/javascripts/instagram.min.js"></script>

<script src="{{ site.baseurl }}/assets/javascripts/jribbble.min.js"></script>

<script type="text/javascript">
  tran = new Translater();
     if (tran.getLang() === "default") tran.setLang('cn');
     var tran = new Translater({
         lang:"cn"
     });
  localStorage.setItem("language","cn");
</script>

<script>
jribbble.shots({token: "935c9bc6c35616b09c4214afb1e6ef80f22aa8175e1766881e00c2289ee2911e",page: 1, per_page: 6,}, function(shotsArray) {
  document.getElementById("dribbble-shots").innerHTML = shotsArray.reduce(function(html, shot) {
    return html + '<a href="'+  shot.html_url + '" target="_blank"><img src="' + shot.images.hidpi + '"></a>';
  }, "");
});
</script>

<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: 3253094037,
    accessToken: '3253094037.1677ed0.994bc82dab524da98ee59864cca18df0',
    target: 'instagram',
    resolution: 'standard_resolution',
    limit: '9',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });
  window.onload = function() {
    feed.run();
  };
</script>
