<div class="main_layout">
  <div class="left_wrap">
    <section class="left_bar">
      <div class="content">
        <div class="info">
          <div class="avatar"><img class="img_qr" src="../assets/images/home/top-pic.jpg" alt=""/></div>
          <div class="title">你好，我是左子祯 <span class="hello">👋</span></div>
          <div class="desc">我曾在锤子科技和字节跳动就职，目前是<a class="link" href="#" target="_blank">Master</a>的设计和产品负责人，持续专注于整合设计、产品和编程技能以解决问题。</div>
        </div>
        <div class="contact">
          <div class="item_desc wechat"><img class="item_icon" src="../assets/images/social-icon/wechat.png" alt=""/><img class="img_qr" src="../assets/images/main/qrcode.png" alt=""/></div><a class="item_desc" href="https://zhihu.com/people/ZiJen" target="_blank"><img class="item_icon" src="../assets/images/social-icon/zhihu.png" alt=""/></a><a class="item_desc" href="https://www.linkedin.com/in/zuozizhen" target="_blank"><img class="item_icon" src="../assets/images/social-icon/linkedin.png" alt=""/></a><a class="item_desc" href="https://github.com/zuozizhen" target="_blank"><img class="item_icon" src="../assets/images/social-icon/github.png" alt=""/></a>
        </div>
        <div class="copyright">&copy; 2020 By Zizhen</div>
      </div>
    </section>
  </div>
  <div class="right_wrap">
    <nav class="top_nav">
      {% for item in site.data.menus.header %}
        <a class="nav_link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
      <div class="logo_z" href="/"><i></i></div>
    </nav>
    <div class="wonderful-tab">
      <ul class="title" id="title">
        <li class="highligh"><a href="javascript:void(0)">我读过的 · 好书</a></li>
        <li><a href="javascript:void(0)">我看过的 · 好文</a></li>
        <li><a href="javascript:void(0)">我正在用的 · 产品</a></li>
      </ul>
      <div class="wrap" id="wrap">
        <div class="wonderful_content active">
          <div class="wonderful_book_list_item">{% for item in site.data.wonderful-book.book_list %}
            <div class="item">
              <div class="cover_wrap"><img src="{{ item.cover }}" alt=""/></div>
              <div class="info_wrap">
                <div class="title_wrap"><a class="title title_link_book" href="{{ item.url }}">{{ item.title }}</a></div>
                <div class="desc_wrap">
                  <div class="desc">{{ item.desc }}</div>
                </div>
                <div class="score_wrap">
                  <div class="score">豆瓣 · {{ item.score }}</div>
                </div>
              </div>
            </div>{% endfor %}
          </div>
        </div>
        <div class="wonderful_content">
          <div class="wonderful_article_list_item">{% for item in site.data.wonderful-article.article_list %}
            <div class="item">
              <div class="title_wrap"><a class="title title_link_h1" href="{{ item.url }}">{{ item.title }}</a></div>
              <div class="desc_wrap">
                <div class="desc">{{ item.desc }}</div>
              </div>
              <div class="site_wrap">
                <div class="site">{{ item.site }} · {{ item.time }} 分钟读完</div>
              </div>
            </div>{% endfor %}
          </div>
        </div>
        <div class="wonderful_content">
          <div class="wonderful_product_list_item">
            <div class="h2">🎨 设计</div>
            <div class="item_wrap">{% for item in site.data.wonderful-product.product_list_1 %}
              <div class="item">
                <div class="title_wrap"><a class="title title_link_product" href="{{ item.url }}">{{ item.title }}</a></div>
                <div class="desc_wrap">
                  <div class="desc">{{ item.desc }}</div>
                </div>
              </div>{% endfor %}
            </div>
            <div class="h2">💻 开发</div>
            <div class="item_wrap">{% for item in site.data.wonderful-product.product_list_2 %}
              <div class="item">
                <div class="info_wrap">
                  <div class="title_wrap"><a class="title title_link_product" href="{{ item.url }}">{{ item.title }}</a></div>
                  <div class="desc_wrap">
                    <div class="desc">{{ item.desc }}</div>
                  </div>
                </div>
              </div>{% endfor %}
            </div>
            <div class="h2">💻 开发</div>
            <div class="item_wrap">{% for item in site.data.wonderful-product.product_list_3 %}
              <div class="item">
                <div class="info_wrap">
                  <div class="title_wrap"><a class="title title_link" href="{{ item.url }}">{{ item.title }}</a></div>
                  <div class="desc_wrap">
                    <div class="desc">{{ item.desc }}</div>
                  </div>
                </div>
              </div>{% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>