section.home_about
  .content
    .section_title
    .about_desc
      .about_info
        img(src='https://cdn.jsdelivr.net/gh/zuozizhen/oss@master/img/20210406230547.jpg', alt='')
      .desc
        p.p1
          | 我是一名产品设计师，目前在北京。日常工作主要是关于产品策划、界面设计、设计系统和团队管理，偶尔也写一些文章和为初创公司提供建议。业余时间会投入在前端技术研究和独立设计开发中。
        p.p2
          | 作为设计师，我热衷于通过结合对产品的研究，极致的设计和对技术的理解来解决和平衡问题。
        p.p2
          | 我热爱世界的缤纷多彩，更喜欢自己无尽的可能性，所以我会涉猎尽可能多的领域和学习感兴趣的一切。我也相信数字化生活会让我们更加了解自己，所以我致力通过数字产品优化工作流，科学的提高自己的工作效率和生活品质。
        p.p2
          | 2018 年，我创立了
          a.link(href='https://figmachina.com', target='_blank') FigmaChina
          | ，这是一个以中文内容介绍 Figma 的网站，我希望可以帮助中国设计师了解和学习最好的工具来提升生产力，目前月均 2w+ 访问量。
        p.p2
          | 同一时期，我在锤子科技时为
          a.link(href='https://www.smartisan.com/jianguopro3/os', target='_blank') Smartisan OS 7.0
          | 搭建了基于 Figma 的大型设计系统，也同时推动改变了整个团队的工作方式。
        p.p2.last
          | 目前我是蓝湖
          a.link(href='https://mastergo.com', target='_blank') Master
          | 产品线的产品设计负责人，专注协作工具类产品的设计品质与竞争力提升。
      .only-title
        .h2 职业经历
      .timeline
        ol
          li
            | 2016 <br>
            span
              | 魔门云 · 产品设计师
          li
            | 2018 <br>
            span
              | 字节跳动 / 原锤子科技 · UI 设计师
          li.now
            .sonar-motion
              svg.sonar.sonar-waves(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='75px', fill='#FFC42C')
              svg.sonar.sonar-waves(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='73px', fill='#FFC42C')
              svg.sonar(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='16px', fill='#FFC42C', opacity='1')
            | 2019 - Now <br>
            span
              | Master · 产品设计负责人
      .desc
        .h2 打个招呼
        .grid-2
          .item
            .h3 邮件
            a.p3(href='mailto:hjsfzzz@gmail.com') hjsfzzz@gmail.com
          .item
            .h3 领英
            a.p3(href='https://www.linkedin.com/in/zuozizhen', target='_blank') 个人主页

      //- .desc
      //-   .h2 我的兴趣
      //-   .grid-2
      //-     .item
      //-       .h3 音乐和吉他
      //-       p.p3 工作时，音乐可以帮助我提高效率
      //-     .item
      //-       .h3 读书
      //-       p.p3 喜欢看各种领域的书
      //-     .item
      //-       .h3 数字产品
      //-       p.p3 我热爱研究和使用数字产品
      //-     .item
      //-       .h3 科幻
      //-       p.p3 好的科幻电影是我的最爱