section.home_about
  .content
    .section_title
    .about_desc
      .about_info
        img(src='../assets/images/main/pic-me.jpg', alt='')
      .desc
        p.p1
          | 我叫巴兹，是一位英国设计师，在澳大利亚东海岸的一个小冲浪镇远程工作。目前我是 Help Scout 的首席设计师ーー我也指导设计团队，为创业公司提供建议，偶尔也写一些关于设计的文章。
        p.p2
          | 我相信数字时代会使得自学更加普遍和高效，我自学了设计、前端，现在依然在不断学习
          | 我致力通过各种数字产品，<br>
          | 科学提高自己工作效率和生活品质
          | 我会建立自己的工作流，不断优化和提高生产力，我相信数字化生活会让我们更加了解自己。
        p.p2
          | + 丰富的跨平台产品设计经验 <br>
          | + 完整的大型设计系统搭建经验 <br>
          | + 熟悉前端技能，良好的代码习惯 <br>
          | + 参与产品设计到开发整个流程，和工程师无障碍沟通 <br>
          | + 高度注重细节，追求完美至最后一个像素 <br>
          | + ···
        p.p2
          | 我叫巴兹，是一位英国设计师，在澳大利亚东海岸的一个小冲浪镇远程工作。目前我是 Help Scout 的首席设计师ーー我也指导设计团队，为创业公司提供建议，偶尔也写一些关于设计的文章。
        p.p2.last
          | 我叫巴兹，是一位英国设计师，在澳大利亚东海岸的一个小冲浪镇远程工作。目前我是 Help Scout 的首席设计师ーー我也指导设计团队，为创业公司提供建议，偶尔也写一些关于设计的文章。
      .timeline
        ol
          li 2016
          li 2017
          li 2018
          li 2019
          li.now
            | 2020
            .sonar-motion
              svg.sonar.sonar-waves(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='75px', fill='#FFC42C')
              svg.sonar.sonar-waves(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='73px', fill='#FFC42C')
              svg.sonar(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='16px', fill='#FFC42C', opacity='1')

          li 
      .desc
        .h2 我的兴趣
        .grid-2
          .item
            .h3 音乐和吉他
            p.p3 我的忠诚在于 Philly-roasted La Colombe，我的日常果酱: 美式咖啡
          .item
            .h3 音乐和吉他
            p.p3 我的忠诚在于 Philly-roasted La Colombe，我的日常果酱: 美式咖啡
          .item
            .h3 音乐和吉他
            p.p3 我的忠诚在于 Philly-roasted La Colombe，我的日常果酱: 美式咖啡
          .item
            .h3 音乐和吉他
            p.p3 我的忠诚在于 Philly-roasted La Colombe，我的日常果酱: 美式咖啡
          .item
            .h3 音乐和吉他
            p.p3 我的忠诚在于 Philly-roasted La Colombe，我的日常果酱: 美式咖啡