<div id="page-container" class="side-scroll header-navbar-fixed header-navbar-transparent">
<footer id="page-footer" class="bg-footer">
    <div class="content content-boxed cm-footer">
        <!-- Footer Navigation -->
        <div class="row push-30-t items-push">
            <div class="col-sm-3">
                <h3 class="h5 font-w400 text-uppercase push-20">产品与服务</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w300" href="https://www.cachemoment.com/product/wco">页面性能优化</a>
                    </li>
                    <li>
                        <a class="font-w300" href="https://www.cachemoment.com/product/cdn">全球融合CDN</a>
                    </li>
                    <li>
                        <a class="font-w300" href="https://www.cachemoment.com/product/safe">高性能云防护</a>
                    </li>
                    <li>
                        <a class="font-w300" href="https://www.cachemoment.com/pricing">价格</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="h5 font-w400 text-uppercase push-20">公司相关</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w300" href="https://www.cachemoment.com/aboutus">关于我们</a>
                    </li>
                    <li>
                        <a class="font-w300" href="#">加入我们</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="h5 font-w400 text-uppercase push-20">联系我们</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        售前咨询: 400-996-0023
                    </li>
                    <li>
                        电子邮件: pingme@cachemoment.com
                    </li>
                </ul>

            </div>
            <div class="col-sm-3">
                <h3 class="h5 font-w400 text-uppercase push-20">关注我们</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        微信公众号:cachemoment
                    </li>
                    <li>
                        <img src="../img/QR-code.png" alt="" width="80" />
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Footer Navigation -->

        <!-- Copyright Info -->
        <div class="font-s12 push-20 clearfix">
            <hr class="remove-margin-t hr-footer">
            <div class="pull-right">
                <span class="font-w300 cm-footer-bottom" href="" target="_blank"> 京ICP备15045020号-1 京公网安备 11010102001943号</span>
            </div>
            <div class="pull-left">
                <span class="font-w300 cm-footer-bottom" href="" target="_blank">© 2017 北京云界网络科技有限公司</span>
            </div>
        </div>
        <!-- END Copyright Info -->
    </div>
</footer>
</div>
<script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
<!-- analytics -->
