<audio hidden id="music_sound" loop="true" preload="preload" autoplay="autoplay">
  <source src="/assets/sound/music_sound.mp3" type="audio/mpeg">
</audio>
<audio hidden id="music_close">
  <source src="/assets/sound/close.mp3" type="audio/mpeg">
</audio>
<audio hidden id="music_hover">
  <source src="/assets/sound/hover.mp3" type="audio/mpeg">
</audio>
<audio hidden id="music_open">
  <source src="/assets/sound/open.mp3" type="audio/mpeg">
</audio>
<audio hidden id="music_click">
  <source src="/assets/sound/click.mp3" type="audio/mpeg">
</audio>

<script src="{{ "/assets/js/main.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/instafeed.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/separate-js/main.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/separate-js/loader.js " | prepend: site.baseurl }}"></script>

<!--script home page-->
<script src="{{ "/assets/js/separate-js/home.js " | prepend: site.baseurl }}"></script>

<!--end script home page-->
