script(src='{{ site.baseurl }}/assets/javascripts/imagesLoaded.js')
script(src='{{ site.baseurl }}/assets/javascripts/masonry.min.js')
script(src='{{ site.baseurl }}/assets/javascripts/jribbble.min.js')
script(src='{{ site.baseurl }}/assets/javascripts/instagram.min.js')
script(src='{{ site.baseurl }}/assets/javascripts/main.js')