  <div class="bg-image" style="background-image: url('../img/10.jpg');">
      <div class="bg-primary-dark-op">
          <div class="content content-full content-boxed">
              <!-- Section Content -->
              <div class="push-100-t push-50 text-center">
                  <h1 class="h2 text-white push-10">了解我们的故事</h1>
                  <h2 class="h5 text-white-op">最新的活动、资讯、以及技术分享</h2>
              </div>
              <!-- END Section Content -->
          </div>
      </div>
  </div>
