<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    <!-- Mobile Specific Metas
    ================================================== -->
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ "/css/layout.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/base.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/ionicons.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/retina.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/owl.carousel.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/owl.transitions.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    
    <script src="{{ "/js/modernizr.custom.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery-2.1.1.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/royal_preloader.min.js " | prepend: site.baseurl }}"></script>


</head>
