<!-- menu, we did go with a static one, you can build a dynamic one, just google a little around -->
<header id="header-navbar" class="content content-full absolute m-top-header">
    <div class="content-full">
        <!-- Main Header Navigation -->
        <ul class=" nav-main-header pull-right backhome">
            <li>
                <a href='https://www.cachemoment.com'>魔门云官网</a>
            </li>

        </ul>
        <!-- END Main Header Navigation -->

        <!-- Header Navigation Left -->
        <ul class="nav-header pull-left">
            <li class="header-content">
                <a class="h5" href="{{ site.baseurl }}/">
                    <img class="icon-cachemoment" src="../img/cachemoment_icon_color.svg"> <span class="h4 font-w600 text-white icon-cachemoment-text">魔门录</span>
                </a>
            </li>
        </ul>
        <!-- END Header Navigation Left -->
    </div>
</header>
