<!-- Navigation -->

<!-- MENU
  ================================================== -->

  <nav id="menu-wrap" class="menu-back cbp-af-header">
    <div class="menu">
      <a href="{{ site.baseurl }}/" ><div class="logo"></div></a>
      <ul>
        <li>
          <a class="shadow-hover" href="{{ site.baseurl }}/" >Home</a>
        </li>
        <li>
          <a class="shadow-hover" href="{{ site.baseurl }}/blog">Blog</a>
        </li>
        <li>
          <a class="shadow-hover" href="{{ site.baseurl }}/works">Works</a>
        </li>
        <li>
          <a class="shadow-hover" href="{{ site.baseurl }}/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
