section.projectlist
  .content
    .project_best_list_item
      | {% for item in site.data.project-best.best_list %}
      a.item(href="{{ item.url }}")
        .info
          .title {{ item.title }}
          .desc {{ item.desc }}
          .duty {{ item.year }} · {{ item.duty }}
        .cover_wrap
          img(src="{{ item.cover }}", alt="")
      | {% endfor %}

    .h2 其它项目
    .project_other_list_item
      | {% for item in site.data.project-other.other_list %}
      a.item(href="{{ item.url }}") 
        .info
          .title {{ item.title }}
          .desc {{ item.desc }}
        img(src="{{ item.cover }}", alt="")
      | {% endfor %}

      //- .project_other_list_item
      //- | {% for item in site.data.project-other.other_list %}
      //- .item
      //-   .info_wrap
      //-     .title_wrap
      //-       .title {{ item.title }}
      //-       .info {{ item.duty }} · {{ item.year }}
      //-     .desc_wrap
      //-       .desc {{ item.desc }}
      //-   .link_wrap
      //-     a(href="{{ item.url }}") 访问网站
      //- | {% endfor %}