section.section_full.ins
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    //- .section_title Instagram
    .ins_content
      #instafeed-gallery-feed.grid
        .grid-sizer
      a.view_more(href='https://www.instagram.com/zuozizhen', target='_blank')
        span View More