section.section_full.home_about
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .section_title
    .about_desc
      .about_info
        img(src='assets/images/home/top-pic.jpg', alt='')
      .desc
        .desc_title 我人生的最大乐趣是开发自己
        p
          | 我有丰富的 UI / UX 和前端经验，熟悉设计到开发整个流程，熟悉如何搭建复杂 <i>设计系统<i>。
        p
          | 毕业后，我加入了一家负责网站和产品设计的公司。我还负责前端开发（Rails）。现在我主要负责为 Smartisan 构建和维护设计系统。
        //- span.desc_title Skills
        //- p.last
        //-   | + Strong knowledge of HTML/CSS/JS, MVVM model and Rails, Vue framework.<br>
        //-   | + Familiar with how build team design system.<br>
        //-   | + Producing neat, tested, readable and well documented code.<br>
        //-   | + Building prototype concepts to demonstrate and test ideas.<br>
        //-   | + Highly attention to detail, the pursuit of perfection to the last pixel.<br>
        //- .social_link
        //-   span Ins
        //-   | ,
        //-   span Dribbble
        //-   | ,
        //-   span Medium
        //-  <p>
        //-   Currently working in smartisan technology, I am responsible for maintaining the daily iteration of smartisan mall Web and App terminal and following up new requirements, as well as leading the establishment of the Web terminal UI component library, supplementing and improving design specifications, and assisting in the design of product station and related marketing requirements of new products.
        //-   My goal is to be an independent developer, I am good at integrating my various skills together to play out more power, such as design, code and 3D animation.
        //-   </p>