section.section_full.about3
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .about_desc
      .desc
        .desc_title
          | 我致力通过各种数字产品，<br>
          | 科学提高自己工作效率和生活品质
        p
          | 我会建立自己的工作流，不断优化和提高生产力，我相信数字化生活会让我们更加了解自己。
    .info
      img(src='assets/images/home/flow.png', alt='')

    //- .readinglists
    //-   .blog_list_book
    //-     .blog_item
    //-       a.blog_cover_link(href='{{ post.url }}')
    //-         img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
    //-       .blog_info
    //-           span.blog_title
    //-             | 捷径的使用：由浅入深完全指南
    //-     .blog_item
    //-       a.blog_cover_link(href='{{ post.url }}')
    //-         img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
    //-       .blog_info
    //-           span.blog_title
    //-             | 捷径的使用：由浅入深完全指南
    //-     .blog_item
    //-       a.blog_cover_link(href='{{ post.url }}')
    //-         img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
    //-       .blog_info
    //-           span.blog_title
    //-             | 捷径的使用：由浅入深完全指南
    //-     .blog_item
    //-       a.blog_cover_link(href='{{ post.url }}')
    //-         img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
    //-       .blog_info
    //-           span.blog_title
    //-             | 捷径的使用：由浅入深完全指南