//- section.section_full.cases
//-   .case
//-     .case_left
//-       .case_about
//-         .case_logo
//-           img(src= {{ include.src }})
//-         .case_info {{ include.info }}
//-         .case_title {{ include.title }}
//-         a.case_button(href='href') {{ include.button }}
//-     .case_right
//-       .case_cover
//-         img.lozad(src= {{include.src}}, alt='')