section.section_full.more
  .content
    .section_title
      | We’d love to build something
      br
      | great together.
    .section_item
      .contact_item
        .item_title Say hi
        a.item_desc(href='mailto:hello@zuonx.com') hello@zuonx.com
      .contact_item
        .item_title Be a friend
        a.item_desc(href='https://dribbble.com/zuozizhen', target='_blank') Dribbble
        a.item_desc(href='https://www.behance.net/zuozizhen', target='_blank') Behance
        a.item_desc(href='https://github.com/zuone', target='_blank') Github
        a.item_desc(href='https://www.instagram.com/zuozizhen', target='_blank') Instagram
        a.item_desc(href='https://zhihu.com/people/ZiJen', target='_blank') Zhihu
    .footer
      .desc
        | This site is designed and hand-coded by me, using a Yeoman generator for static sites named Yeogurt, with the power of Jade, Sass and Foundation. The code can be found on Github. It's constantly being updated, see the changelog.
    .copyright
      | &copy; 2019