section.section_full.ins
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    //- .about_desc
      //- .desc
      //-   .desc_title 有趣的生活值得被记录
        //- p
        //-   | 我有丰富的 UI / UX 和前端经验，熟悉设计到开发整个流程，熟悉如何搭建复杂 <i>设计系统<i>。
    .ins_content
      #instafeed-gallery-feed.grid
        .grid-sizer
      a.view_more.link(href='https://www.instagram.com/zuozizhen', target='_blank')
        span View More