section.section_full.about4
  .content.about_desc(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .title_item
      .desc_title
        | 不止设计，<br>
        | 我会的很多
    .desc
      p
        | + 熟悉 iOS，Android 和 Web 设计规范，有跨平台设计经验 <br>
        | + 熟悉如何建立设计规范以及为团队搭建大型设计系统 <br>
        | + 熟悉产品设计到开发整个流程，和工程师无障碍沟通、合作和讨论 <br>
        | + 熟悉交互设计和产品设计基本知识以及行业标准用研方法<br>
        | + 熟悉 Adobe CC 、Figma、ProtoPie 等行业标准设计工具 <br>
        | + 有使用 Photoshop 进行图像合成和修饰的高级经验 <br>
        | + 高度注重细节，良好的排版习惯，追求完美至最后一个像素<br>
        | + 熟悉 Rails、Vue.js 等，有良好的代码习惯 <br>
        | + 掌握 JS、CSS 核心技术、网络请求方式以及前端的性能优化方法<br>
        | + 掌握 Sass、Scss、Stylus、Haml、Pug 等扩展语法<br>
        | + 掌握自动化开发工具 Gulp，Webpack 等，熟练操作 Git 版本管理工具<br>