section.section_full.about2
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .section_pic
      img(src='assets/images/home/dot.svg')
    .about_desc
      .desc
        .desc_title
          | 我喜欢自学，<br>
          | 将自己所学的多学科知识关联整合
        p
          | 我相信数字时代会使得自学更加普遍和高效，我自学了设计、前端，现在依然在不断学习
        p.skill
          | + 丰富的跨平台产品设计经验 <br>
          | + 完整的大型设计系统搭建经验 <br>
          | + 熟悉前端技能，良好的代码习惯 <br>
          | + 参与产品设计到开发整个流程，和工程师无障碍沟通 <br>
          | + 高度注重细节，追求完美至最后一个像素 <br>
          | + ···

