section.section_full.home_about
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .section_title About me
    .about_desc
      .about_info
        img(src='assets/images/home/top-pic.jpg', alt='')
      .desc
        span.desc_title About
        p
          | Hi there, I'm Zizhen Zuo, a creative <i>designer</i> and <i>developer</i> form China. I am familiar with the complete process from design to development and have rich cross-platform design experience.
        span.desc_title Job
        p
          | After graduation, I joined a company responsible for website and product design. I am also responsible for front-end development (Rails). Now I am mainly responsible for building and maintaining the <i>Design System</i> (Figma) for <i>Smartisan</i>.
        span.desc_title Skills
        p.last
          | + Strong knowledge of HTML/CSS/JS, MVVM model and Rails, Vue framework.<br>
          | + Familiar with how build team design system.<br>
          | + Producing neat, tested, readable and well documented code.<br>
          | + Building prototype concepts to demonstrate and test ideas.<br>
          | + Highly attention to detail, the pursuit of perfection to the last pixel.<br>
        //- .social_link
        //-   span Ins
        //-   | ,
        //-   span Dribbble
        //-   | ,
        //-   span Medium
        //-  <p>
        //-   Currently working in smartisan technology, I am responsible for maintaining the daily iteration of smartisan mall Web and App terminal and following up new requirements, as well as leading the establishment of the Web terminal UI component library, supplementing and improving design specifications, and assisting in the design of product station and related marketing requirements of new products.
        //-   My goal is to be an independent developer, I am good at integrating my various skills together to play out more power, such as design, code and 3D animation.
        //-   </p>