section.section_full.dribbble
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    #dribbble-shots
    a.view_more(href='https://dribbble.com/zuonx', target='_blank')
      span View More