section.section_full.more(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
  .content
    .section_item
      .contact_item
        .item
          img.img_qr(src="assets/images/main/qrcode.png", alt="")
          .item_title 邮箱
          a.item_desc(href='mailto:hjsfzzz@gmail.com') hjsfzzz@gmail.com
      .contact_item
        a.item_desc(href='https://dribbble.com/zizhen', target='_blank')
          img.item_icon(src="assets/images/social-icon/icon-dribbble.png", alt="")
          | Dribbble
        a.item_desc(href='https://www.behance.net/zuozizhen', target='_blank')
          img.item_icon(src="assets/images/social-icon/icon-behance.png", alt="")
          | Behance
        a.item_desc(href='https://github.com/zuone', target='_blank')
          img.item_icon(src="assets/images/social-icon/icon-github.png", alt="")
          | Github
        a.item_desc(href='https://www.instagram.com/zuozizhen', target='_blank')
          img.item_icon(src="assets/images/social-icon/icon-Instagram.png", alt="")
          | Instagram
        a.item_desc(href='https://pinterest.com/zizhenzuo', target='_blank')
          img.item_icon(src="assets/images/social-icon/icon-pinterest.png", alt="")
          | Pinterest
        a.item_desc(href='https://zhihu.com/people/ZiJen', target='_blank')
          img.item_icon(src="assets/images/social-icon/icon-zhihu.png", alt="")
          | 知乎
  .copyright
    | &copy; 2019 By Zizhen