section.appraise_full
  .appraise_content
    .appraise_desc
      | “ Working with ustwo is unlike a typical studio relationship. It’s closer to hiring a team of commandos that
      | become a part of your organization. ”
    .appraise_name
      | Liu Jiang
    .appraise_title
      | CACHEMOMENT CEO