section.section_full.about3
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .about_desc
      .desc
        .desc_title 我人生的最大乐趣是开发自己
        p
          | 我有丰富的 UI / UX 和前端经验，熟悉设计到开发整个流程，熟悉如何搭建复杂 <i>设计系统<i>。
        p
          | 毕业后，我加入了一家负责网站和产品设计的公司。我还负责前端开发（Rails）。现在我主要负责为 Smartisan 构建和维护设计系统。
    .readinglists
      .blog_list_book
        .blog_item
          a.blog_cover_link(href='{{ post.url }}')
            img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
          .blog_info
              span.blog_title
                | 捷径的使用：由浅入深完全指南
        .blog_item
          a.blog_cover_link(href='{{ post.url }}')
            img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
          .blog_info
              span.blog_title
                | 捷径的使用：由浅入深完全指南
        .blog_item
          a.blog_cover_link(href='{{ post.url }}')
            img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
          .blog_info
              span.blog_title
                | 捷径的使用：由浅入深完全指南
        .blog_item
          a.blog_cover_link(href='{{ post.url }}')
            img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
          .blog_info
              span.blog_title
                | 捷径的使用：由浅入深完全指南
        .blog_item
          a.blog_cover_link(href='{{ post.url }}')
            img.blog_cover(src='assets/images/home/readlist-1.jpg', alt='')
          .blog_info
              span.blog_title
                | 捷径的使用：由浅入深完全指南