section.section_full.more(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
  .content
    .section_title
      | Looking forward to hearing
      br
      | from you.
    .section_item
      .contact_item
        .item_title Say hi
        a.item_desc(href='mailto:hjsfzzz@gmail.com') hjsfzzz@gmail.com
      .contact_item
        .item_title Be a friend
        a.item_desc(href='https://dribbble.com/zizhen', target='_blank') Dribbble
        a.item_desc(href='https://www.behance.net/zuozizhen', target='_blank') Behance
        a.item_desc(href='https://github.com/zuone', target='_blank') Github
        a.item_desc(href='https://www.instagram.com/zuozizhen', target='_blank') Instagram
        a.item_desc(href='https://zhihu.com/people/ZiJen', target='_blank') Zhihu
    .footer
      .desc
        | This site is designed and hand-coded by me, using Jekyll generate static website, with the power of Jade and Stylus. The code hosted on Github and deployed by Netlify. It's constantly being updated.
  .copyright
    | &copy; 2019