section.section_full.home_about
  .content
    .section_title About me
    .about_desc
      .about_info
        img(src='https://i.loli.net/2019/03/16/5c8cf74c244ad.jpg', alt='')
      .desc
        span.desc_title About
        p
          | Hi there, I am a creative developer and designer, I enjoy building beautiful and thoughtful experiences. I like to mix code surprising visuals and pleasing interactions. I take my work seriously but not myself.
        span.desc_title Job
        p
          | After graduation, I joined a start-up company and was responsible for the brand image design and design specifications of the company. In the later stage, I led the website and product design and completed part of the front-end development work (Rails) at the same time.
        span.desc_title Skills
        p
          | Strong knowledge of HTML/CSS/JS, graceful degradation and progressive enhancement
          | Creative coding : physics, 2D, 3D, motion
          | Working within multidisciplinary teams with visual designers, motion designers and developers
          | Producing neat, tested, readable and well documented code
          | Building prototype concepts to demonstrate and test ideas
        .social_link
          span Ins
          | ,
          span Dribbble
          | ,
          span Medium
        //-  <p>
        //-   Currently working in smartisan technology, I am responsible for maintaining the daily iteration of smartisan mall Web and App terminal and following up new requirements, as well as leading the establishment of the Web terminal UI component library, supplementing and improving design specifications, and assisting in the design of product station and related marketing requirements of new products.
        //-   My goal is to be an independent developer, I am good at integrating my various skills together to play out more power, such as design, code and 3D animation.
        //-   </p>