section.appraise_full
  .appraise_content
    .appraise_desc
      | “ Working with ustwo is unlike a typical studio relationship. It’s closer to hiring a team of commandos that
      | become a part of your organization. ”
      // {cn}“与ustwo合作不同于典型的工作室关系。它更接近雇佣一支成为贵组织一员的突击队员。”
    .appraise_name
      | Liu Jiang
      // {cn}刘江
    .appraise_title
      | CACHEMOMENT CEO
      // {cn}魔门云 CEO

//- style
//-   .appraise_full
//-     position: relative
//-     height: 800px
//-     background-color: $gray-dark
//-     margin-bottom: 90px
//-     .appraise_content
//-       position: absolute
//-       transform: translate(-50%, -50%)
//-       top: 50%
//-       left: 50%
//-       .appraise_desc
//-         font-weight: 800
//-         font-size: 40px
//-         color: #FFFFFF
//-         text-align: center
//-         line-height: 60px
//-         width: 80vw
//-         margin-bottom: 30px
//-       .appraise_name
//-         font-weight: 500
//-         font-size: 24px
//-         color: #FFFFFF
//-         text-align: center
//-         margin-bottom: 10px
//-       .appraise_title
//-         opacity: 0.5
//-         font-weight: 400
//-         font-size: 16px
//-         color: #FFFFFF
//-         text-align: center
//-   @media only screen and (max-width: 1140px)
//-     .appraise_full
//-       height: 600px
//-       .appraise_content
//-         .appraise_desc
//-           font-size: 28px
//-           line-height: 40px
//-         .appraise_name
//-           font-size: 20px
//-         .appraise_title
//-           font-size: 14px
//-     .case_full
//-       height: 600px