section.section_full.develop
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .section_title
      | 喜欢研究，
      br
      | 在感兴趣的任何领域
    .blog_list_n
      .blog_list_nn
        | {% for post in site.posts limit:3 %}
        .blog_item
          .blog_info
            a(href='{{ post.url }}')
              .blog_title {{ post.title }}
              .blog_tag
                | {% for tag in post.tags limit:3 %}
                span {{tag}}
                | {% endfor %}
                | -
                | {{ post.date | date: '%B %d, %Y' }}
        | {% endfor %}
      a.view_more(href='https://dribbble.com/zuonx', target='_blank')
        span Read More