section.section_full.about2
  .content(data-aos="fade-up", data-aos-easing="ease-out-cubic", data-aos-duration="700")
    .section_pic
      img(src='assets/images/home/dot.svg')
    .about_desc
      .desc
        .desc_title
          | 我喜欢自学，<br>
          | 将自己所学的多学科知识关联整合
        p
          | 我相信数字时代会使得自学更加普遍和高效。
        p
          | 我在学校自学了设计，在工作中自学了前端，现在依然在不断学习未知的知识