<div class="main_layout">
  <div class="left_wrap">
    <section class="left_bar">
      <div class="content">
        <div class="info">
          <div class="avatar"><img class="img_qr" src="../assets/images/home/top-pic.jpg" alt=""/></div>
          <div class="title">你好，我是左子祯 <span class="hello">👋</span></div>
          <div class="desc">我曾在锤子科技和字节跳动就职，目前是<a class="link" href="#" target="_blank">Master</a>的设计和产品负责人，持续专注于整合设计、产品和编程技能以解决问题。</div>
        </div>
        <div class="contact">
          <div class="item_desc wechat"><img class="item_icon" src="../assets/images/social-icon/wechat.png" alt=""/><img class="img_qr" src="../assets/images/main/qrcode.png" alt=""/></div><a class="item_desc" href="https://zhihu.com/people/ZiJen" target="_blank"><img class="item_icon" src="../assets/images/social-icon/zhihu.png" alt=""/></a><a class="item_desc" href="https://www.linkedin.com/in/zuozizhen" target="_blank"><img class="item_icon" src="../assets/images/social-icon/linkedin.png" alt=""/></a><a class="item_desc" href="https://github.com/zuozizhen" target="_blank"><img class="item_icon" src="../assets/images/social-icon/github.png" alt=""/></a>
        </div>
        <div class="copyright">&copy; 2020 By Zizhen</div>
      </div>
    </section>
  </div>
  <div class="right_wrap">
    <nav class="top_nav">
      {% for item in site.data.menus.header %}
        <a class="nav_link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
      <div class="logo_z" href="/"><i></i></div>
    </nav>
    <section class="home_about">
      <div class="content">
        <div class="section_title"></div>
        <div class="about_desc">
          <div class="about_info"><img src="../assets/images/main/pic-me.jpg" alt=""/></div>
          <div class="desc">
            <p class="p1">我叫左子祯，是一位中国设计师，在北京工作。目前我是 Master 的产品设计负责人 —— 我也为创业公司提供建议，偶尔也写一些关于设计的文章。</p>
            <p class="p2">通过工作和学习，我现在掌握了成熟的设计技巧，作为设计师，热衷于通过结合周到的研究，巧妙的技术和精美的设计来解决棘手的客户问题。我之前曾为锤子科技设计团队做出了贡献。</p>
            <p class="p2">2018 年，我创立了 FigmaChina</p>
            <p class="p2 last">我致力通过各种数字产品，科学提高自己工作效率和生活品质。我会建立自己的工作流，不断优化和提高生产力，我相信数字化生活会让我们更加了解自己。</p>
          </div>
          <div class="timeline">
            <ol>
              <li>2016 <br><span>魔门云 · 产品设计师</span></li>
              <li>2018 <br><span>字节跳动 / 原锤子科技 · UI 设计师</span></li>
              <li class="now">2019 - Now <br><span>Master · 产品设计负责人</span>
                <div class="sonar-motion">
                  <svg class="sonar sonar-waves" width="150px" max-width="150px" height="150px" viewbox="0 0 150px 150px">
                    <circle cx="75px" cy="75px" r="75px" fill="#FFC42C"></circle>
                  </svg>
                  <svg class="sonar sonar-waves" width="150px" max-width="150px" height="150px" viewbox="0 0 150px 150px">
                    <circle cx="75px" cy="75px" r="73px" fill="#FFC42C"></circle>
                  </svg>
                  <svg class="sonar" width="150px" max-width="150px" height="150px" viewbox="0 0 150px 150px">
                    <circle cx="75px" cy="75px" r="16px" fill="#FFC42C" opacity="1"></circle>
                  </svg>
                </div>
              </li>
              <li> </li>
            </ol>
          </div>
          <div class="desc">
            <div class="h2">我的兴趣</div>
            <div class="grid-2">
              <div class="item">
                <div class="h3">音乐和吉他</div>
                <p class="p3">我平时喜欢音乐和吉他</p>
              </div>
              <div class="item">
                <div class="h3">读书</div>
                <p class="p3">喜欢看各种领域的书</p>
              </div>
              <div class="item">
                <div class="h3">数字产品</div>
                <p class="p3">我热爱研究和使用数字产品</p>
              </div>
              <div class="item">
                <div class="h3">科幻</div>
                <p class="p3">好的科幻电影是我的最爱</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>