@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_SC_Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
    url('/fonts/inter-var-latin.woff2') format('woff2 supports variations'),
    url('/fonts/inter-var-latin.woff2') format('woff2-variations');
	font-display: swap;
	font-weight: 100 900;
	font-stretch: 100% 100%;
}

html {
  font-family: Inter, "HarmonyOS", "Helvetica Neue", "Noto Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
}

body {
  background: #ffffff;
  background-image: url(background_noise.png);
  background-repeat: repeat;
  background-size: 300px 300px;
  min-height: 100vh;
}

.yellow-green-text {
  background: linear-gradient(90deg, #FFEA31 0%, #2DDEB4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.yellow-orange-text {
  background: linear-gradient(90deg, #FDC820 0%, #FFA052 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cyan-green-text {
  background: linear-gradient(90deg, #3CFFE8 0%, #2DDE89 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cyan-blue-text {
  background: linear-gradient(90deg, #4DBFFF 0%, #3479FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.purple-blue-text {
  background: linear-gradient(90deg, #a662ff 0%, #6866ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.glass-blue {
  background: linear-gradient(120deg, #14161B 0%, #1b2633 50%, #16191C 100%);
  border: 1px solid #213143;
}

.glass-green {
  background: linear-gradient(120deg, #141B18 0%, #1A2F29 50%, #161C19 100%);
  border: 1px solid #273D35;
}

.glass-yellow {
  background: linear-gradient(120deg, #231B0F 0%, #332916 50%, #1E170D 100%);
  border: 1px solid #423b26;
}

.mona {
  font-family: 'Mona Sans';
}

/* ConverKit 自定义 */

.formkit-form {
  margin: 0 auto;
}

.formkit-alert-success {
  background-color: rgba($color: #FCCB1C, $alpha: 0.06) !important;
  color: rgba($color: #FCCB1C, $alpha: 1) !important;
  border-radius: 100px !important;
  font-weight: 600 !important;
  border-color: rgba($color: #FCCB1C, $alpha: 0.5) !important;
  text-shadow: 0 0 20px rgba($color: #FCCB1C, $alpha: 0.05) !important;
  margin-bottom: 0 !important;
}

.formkit-powered-by-convertkit-container {
  display: none !important;
}

.formkit-input {
  font-family: "Silkscreen", "HarmonyOS";
  &::placeholder {
    font-weight: 400 !important;
    color: rgba($color: #ffffff, $alpha: 0.5) !important;
  }
  &:hover {
    border-color: rgba($color: #FCCB1C, $alpha: 0.2) !important;
    background-color: rgba($color: #FCCB1C, $alpha: 0.03) !important;
  }
  &:focus {
    border-color: rgba($color: #FCCB1C, $alpha: 0.5) !important;
    background-color: rgba($color: #FCCB1C, $alpha: 0.06) !important;
  }
  padding-left: 18px !important;
  color: #FFF !important;
  font-weight: 700 !important;
  font-stretch: 110% !important;
  background-color: rgba($color: #ffffff, $alpha: 0.06) !important;
  border-color: rgba($color: #ffffff, $alpha: 0.12) !important;
  font-size: 1rem !important;
  letter-spacing: 0.02rem !important;
  transition: all 0.2s ease-out !important;
}

.formkit-fields {
  margin: 0 auto !important;
  gap: 1rem;
}

.formkit-field {
  flex: 1 1 auto !important;
  margin-bottom: 0 !important;
}

.formkit-submit {
  flex: 0 0 auto !important;
  color: #622F00 !important;
  // background: linear-gradient(180deg, rgba(255, 223, 112, 0.5) 0%, rgba(255, 138, 0, 0.5) 100%) !important;
  background: transparent !important;
  margin-bottom: 0 !important;
  transition: all 0.3s ease-out;
  // box-shadow: 0 2px 4px 0 inset #ffd98e !important;
  font-size: 1rem !important;
  transition: all 0.2s ease-out !important;
  &:hover {
    span {
      background: none !important;
    }
    box-shadow: 0 2px 4px 0 inset #ffd98e, 0 0 0 3px rgba($color: #FCCB1C, $alpha: 0.3) !important;
    // background: linear-gradient(89.77deg, #ffd747 0.16%, #ffa463 101.07%) !important;
  }
  &:active {
    box-shadow: 0 2px 4px 0 inset #ffd98e !important;
    transform: scale(0.97, 0.97);
  }
  span {
    position: relative;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 300%;
        height: 200%;
        background: linear-gradient(100deg, #ffcd18 0%, #ffb411 30%, #ffcd18 50%, #ffdd60 60%, #ffcd18 70%, #ffb411 100%);
        animation: colorCycle 3s infinite ease-in;
        z-index: -1;
    }
  }
}

@keyframes colorCycle {
    0% {
        top: 0;
        left: 0;
        transform: scale(1);
    }
    50% {
        left: -50%;
        transform: scale(1);
    }
    100% {
        top: 0;
        left: -200%;
        transform: scale(1);
    }
}


section {
  &.introduction {
    overflow: hidden;
    .top_line {
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      mix-blend-mode: soft-light;
      &.yellow {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 240, 104, 1) 50%, rgba(255, 255, 255, 0) 100%);
      }
      &.brown {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 222, 176) 50%, rgba(255, 255, 255, 0) 100%);
      }
      &.blue {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(174, 206, 255) 50%, rgba(255, 255, 255, 0) 100%);
      }
      &.purple {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(238, 191, 255) 50%, rgba(255, 255, 255, 0) 100%);
      }
      &.green {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(137, 226, 183) 50%, rgba(255, 255, 255, 0) 100%);
      }
    }
    .top_light {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -90%);
      width: 350px;
      height: 350px;
      filter: blur(200px);
      opacity: 0.7;
      &.yellow {
        background: #d1a300;
      }
      &.brown {
        background: #a04e02;
      }
      &.blue {
        background: #1F4C83;
      }
      &.purple {
        background: #391068;
      }
      &.green {
        background: #186448;
      }
    }
  }
}

.brown-text {
  background: linear-gradient(180deg, #fff6ef 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.personal_photo {
  background: url(https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/0025eeac-722c-4bb6-7715-fc0506334600/public);
  background-size: 100%;
  background-repeat: no-repeat;
}

.qr {
  background: url(https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/5a37b821-cd16-4fdc-b85b-d6763a7e9500/public);
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 300%;
      height: 100%;
      background: linear-gradient(120deg, #e4e4e4 0%, #a8a8a8 20%, #c2c2c2 30%, #ffffff 40%, #c2c2c2 50%, #dbdbdb 60%,#a8a8a8 75%, #ffffff 100%);
      animation: colorCycle 3s infinite ease-out;
      z-index: 1;
      opacity: 1;
      mix-blend-mode: darken;
      border-radius: 0.5rem;
      opacity: 0.5;
  }
}

.cover {
  display: inline-block;
  height: 246px;
	width: 446px;
	border-radius: 8px;
}

.atvImg {
	border-radius: 8px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
	border-radius: 8px;
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}

// .atvImg-container.over .atvImg-shadow {
// 	box-shadow: 0 45px 100px rgba(14,21,47,0.2), 0 16px 40px rgba(14,21,47,0.2);
// }

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}

// .atvImg-shadow {
// 	position: absolute;
// 	top: 5%;
// 	left: 5%;
// 	width: 90%;
// 	height: 90%;
// 	transition: all 0.2s ease-out;
// 	box-shadow: 0 8px 30px rgba(14,21,47,0.2);
// }

.atvImg-shine {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 8px;
	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}

.card-cv {
  background: url(https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/87244fd5-9a04-45b3-d972-cfab24b60900/public);
  background-size: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 322 / 362;
}
