@charset "UTF-8";
:root {
  --z-gray-darker: #1B2639;
  --z-gray-dark: #27344A;
  --z-gray: #8F9AB2;
  --z-gray-light: #D7DBE3;
  --z-gray-lighter: #f0f2f7;
  --z-white: #FFFFFF;
  --z-red: #F94346;
}
