---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import { Icon } from "astro-icon/components";
import PersonalCard from "@components/PersonalCard.astro";

import { Content as AboutWrap } from "../content/about/about.md";
---

<Layout title="About">
  <Section>
    <div class="flex mx-auto gap-20">
      <div class="w-full sm:mb-40 mb-20">
        <div class="prose prose-lg mt-12">
          <AboutWrap />
        </div>
      </div>
      <PersonalCard />
    </div>
  </Section>
</Layout>
