---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import { Content as About } from '../content/about.md';

---

<Layout title="About">
  <Container>
    <div  class="prose prose-lg mt-6 mx-auto">
      <About />
    </div>
  </Container>
</Layout>
