---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import BlogWrap from "@components/BlogWrap.astro";
import WrapTitle from "../components/WrapTitle.astro";
---

<Layout title="Blog">
  <Section>
      <WrapTitle title="文章" description="我会写关于我感兴趣方向的文章" />
      <BlogWrap maxDisplay={9999} showMoreLink={false} />
  </Section>
</Layout>
