---
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Indie from "@components/indie.astro";
import Hero from "@components/Hero.astro";
import BlogWrap from "@components/BlogWrap.astro";
import Layout from "@layouts/Layout.astro";
import WrapTitle from "../components/WrapTitle.astro";
import Section from "@components/Section.astro";
---

<Layout title="">
  <div class="sm:space-y-20 space-y-3 mb-24">
    <Hero />

    <Section>
      <WrapTitle title="资源" description="为设计师或创作者提供有用的资源" />
      <Features />
    </Section>

    <Section>
      <WrapTitle title="文章" description="和设计、开发、创作有关的分享" />
      <BlogWrap maxDisplay={2} showMoreLink={true} />
    </Section>

    <Section>
      <WrapTitle title="建造" description="我乐于建造有用和有趣的产品" />
      <Indie />
    </Section>

    <Section>
      <Cta />
    </Section>
  </div>
</Layout>
