---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Indie from "@components/indie.astro";
import Lessoncontent from "@components/lessoncontent.astro";
import Hero from "@components/hero.astro";
import Blog from "@components/blog.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <div class="sm:space-y-20 space-y-3">
      <Hero />
      <Blog />
      <Features />
      <!-- <Lessoncontent /> -->
      <Indie />
    </div>
    <Cta />
  </Container>
</Layout>
