---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Indie from "@components/indie.astro";
import Lessoncontent from "@components/lessoncontent.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <div class="space-y-20">
      <Hero />
      <Features />
      <Lessoncontent />
      <Indie />
    </div>
    <Cta />
  </Container>
</Layout>
