---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import WrapTitle from "../components/WrapTitle.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Layout title="Blog">
  <Section>
    <WrapTitle title="工作项目" description="我的一些工作项目" />
    <ProjectList count={9999} />
  </Section>
</Layout>
