---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Features from "@components/features.astro";

---

<Layout title="Blog">
  <Container>
    <main>
      <Features />
    </main>
  </Container>
</Layout>
