---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Tool from "@components/tool.astro";
import Uses from "@components/uses.astro";
import Book from "@components/book.astro";

---

<Layout title="Blog">
  <Container>
    <main>
      <Features />
      <Tool />
      <Uses />
      <Book />
    </main>
  </Container>
</Layout>
