---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Resources from "@components/Resources.astro";
import WrapTitle from "../components/WrapTitle.astro";
---

<Layout title="Blog">
  <Section>
    <WrapTitle title="资源" description="为设计师或创作者提供有用的资源" />
    <Resources />
  </Section>
</Layout>
