---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About">
  <div class="max-w-screen-lg mx-auto py-40">
      <img class="mx-auto w-48 border border-neutral-200 rounded-xl" src="https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/7ea8e596-ee1f-42cd-2c3e-60748825b500/public" alt="">
  </div>
</Layout>
