---
layout: blog
title: Blog - Keep thinking
description: Do one thing for a lifetime
---
<nav class="top_nav">
    <a href= {{ "/" | prepend: site.baseurl }} class="logo_z"><i></i></a>
    <span class="separator"></span>
    <a href= {{ "blog.zuonx.com" | prepend: site.baseurl }} class="nav_link">New</a>
    <a href= {{ "blog.zuonx.com" | prepend: site.baseurl }} class="nav_link">Reading lists</a>
    <a href= {{ "blog.zuonx.com" | prepend: site.baseurl }} class="nav_link">Topics</a>
    <a href="https://zuone.co" class="nav_link right" target="_blank">zuone.co</a>
  </nav>
<section class="section_full space "></section>

<section class="section_full new ">
  <div class="content">
    <div class="blog_large">
      {% for post in paginator.posts limit:1 %}
      <div class="blog_item">
        <a href="{{ post.url }}" class="blog_cover_link">
          <div class="blog_info">
              <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
            <a href="{{ post.url }}">
              <span class="blog_title">{{ post.title }}</span>
            </a>
              <div class="blog_excerpt">{{ post.excerpt }}</div>
          </div>
          <img src="{{ post.cover }}" alt="" class="blog_cover">
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="blog_list_s">
      <div class="blog_section_title">New</div>
        {% for post in paginator.posts limit:5 %}
        <div class="blog_item">
          <div class="blog_info">
            <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
          <a href="{{ post.url }}">
            <span class="blog_title">{{ post.title }}</span>
          </a>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>

<section class="section_full readinglists ">
    <div class="content">
        <div class="blog_section_title">Reading List</div>
        <div class="blog_list_book">
            {% for post in paginator.posts limit:5 %}
            <div class="blog_item">
              <a href="{{ post.url }}" class="blog_cover_link">
                <img src="{{ post.cover }}" alt="" class="blog_cover">
                <div class="blog_info">
                    <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
                  <a href="{{ post.url }}">
                    <span class="blog_title">{{ post.title }}</span>
                  </a>
                </div>
              </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section_full Thinking ">
    <div class="content">
        <div class="blog_section_title">Thinking</div>
        <div class="blog_list_grid">
            {% for post in paginator.posts limit:6 %}
            <div class="blog_item">
              <a href="{{ post.url }}" class="blog_cover_link">
                <img src="{{ post.cover }}" alt="" class="blog_cover">
                <div class="blog_info">
                    <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
                  <a href="{{ post.url }}">
                    <span class="blog_title">{{ post.title }}</span>
                  </a>
                </div>
              </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section_full readinglists ">
    <div class="content">
        <div class="blog_section_title">Reading List</div>
        <div class="blog_list_book">
            {% for post in paginator.posts limit:5 %}
            <div class="blog_item">
              <a href="{{ post.url }}" class="blog_cover_link">
                <img src="{{ post.cover }}" alt="" class="blog_cover">
                <div class="blog_info">
                    <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
                  <a href="{{ post.url }}">
                    <span class="blog_title">{{ post.title }}</span>
                  </a>
                </div>
              </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section_full develop">
  <div class="content">
    <div class="blog_section_title">Develop</div>
    <div class="blog_list_n">
        {% for post in paginator.posts limit:4 %}
        <div class="blog_item">
          <div class="blog_info">
          <a href="{{ post.url }}">
            <span class="blog_title">{{ post.title }}</span>
            <div class="blog_excerpt">{{ post.excerpt }}</div>
            <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
          </a>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>

</section>

<section class="section">
  <div class="blog_list_tags">
    <div class="">

      <div class="page_pagination page_footer_nav">
        <!-- <div class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</div> -->
        {% if paginator.total_pages > 1 %}
          {% if paginator.previous_page %}
          <a class="previous left"href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
          Previous
          <span>Previous page</span>
          </a>
          {% endif %}

          {% if paginator.next_page %}
          <a class="next right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
          Next
          <span>Next page</span>
          </a>
          {% endif %}
       {% endif %}
      </div>
    </div>
    <div class="tags_list">
      <div class="tags_list_content">
        <a href= {{ "/blog" | prepend: site.baseurl }} class="current"><span>ALL</span></a>
        <a href= {{ "/tags/design" | prepend: site.baseurl }} ><span>DESIGN</span></a>
        <a href= {{ "/tags/design" | prepend: site.baseurl }} ><span>THINKING</span></a>
        <a href= {{ "/tags/design" | prepend: site.baseurl }} ><span>MUSIC</span></a>
        <a href= {{ "/tags/design" | prepend: site.baseurl }} ><span>MOVIE</span></a>
        <a href= {{ "/tags/design" | prepend: site.baseurl }} ><span>READ</span></a>
        <a href= {{ "/tags/design" | prepend: site.baseurl }} ><span>设计之外</span></a>
      </div>
    </div>
  </div>


  <!-- <div class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</div> -->
</section>
