---
layout: default
title: Blog - design effective digital products
description: Do one thing for a lifetime
---

<div class="lines-grid">
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
</div>

<div class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</div>

<section class="section blog" data-class="body_white" data-id="blog" id="blog">
  <div class="wrapper">
    <div class="section_title">Blog</div>
    <div class="title">
      <span>Reading and thinking.</span>
      <span>About everything I know about the world.</span>
    </div>
    <div class="blog_wrap">
      {% for post in paginator.posts %}
        <a href="{{ post.url }}" class="blog_item">
          <span class="blog_date">{{ post.date | date: '%B %d, %Y' }}</span>
          <span class="blog_tag">  {% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
          <span class="blog_title">{{ post.title }}</span>
          <div class="blog_excerpt">{{post.excerpt}}</div>
        </a>
       {% endfor %}
    </div>
  </div>
  <div class="pagination_space"></div>
  <div class="page_pagination">
    {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
      <a class="previous"href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
      上一页<br><span>Previous page</span>
      </a>
      {% endif %}

      {% if paginator.next_page %}
      <a class="previous"href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
      上一页<br><span>Previous page</span>
      </a>
        <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
        下一页<br><span>Next Page</span>
        </a>
      {% endif %}
   {% endif %}
  </div>
</section>
