---
layout: default
title: "Blog"
description: "Do one thing for a lifetime"
---

<style type="text/css">
    .menu-back {
			background-color: rgba(0,0,0,.93) !important;
		}
    .tooltip__content_img {
      background-size:cover;
      width: 460px;
      height: 260px;
    }
    @media only screen and (max-width: 1600px) {
      .tooltip__content_img {
        background-size: cover;
        width: 180px;
        height: 126px;
      }
    }
</style>
<!-- Primary Page Layout
================================================== -->

<div class="section-block padding-top-page">
  <div class="container">
    <div class="eight columns">
      <h1>What I've been writing</h1>
    </div>
  </div>
</div>

<div class="section-block padding-bottom">
  <div class="container">


{% for post in paginator.posts %}
    <div class="twelve columns remove-bottom">
      <div class="blog-page-wrapper">
        <div class="date-time-blog-page">{{ post.date | date: "%B %-d, %Y" }}</div>
        <div class="tooltip tooltip--indis" data-type="indis">
          <div class="tooltip__trigger" role="tooltip">
            <a href="{{ post.url }}" ><span class="tooltip__trigger-text">{{ post.title }}</span></a>
          </div>
          <div class="tooltip__base">
            <svg class="tooltip__shape" width="100%" height="100%" viewBox="0 0 400 300">
              <path d="M 44.5,24 C 138,4.47 246,-6.47 356,24 367,26.9 376,32.9 376,44 L 376,256 C 376,267 367,279 356,276 231,240 168,241 44.5,276 33.8,279 24.5,267 24.5,256 L 24.5,44 C 24.5,32.9 33.6,26.3 44.5,24 Z"/>
            </svg>
            <div class="tooltip__content">
              <div class="tooltip__content_img" style="background-image:url('{{ site.baseurl }}/{{ post.header-img }}')">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}

    <div class="twelve columns padding-top-small" data-scroll-reveal="enter bottom move 60px over 0.9s after 0.1s">
      {% if paginator.total_pages > 1 %}
      <ul class="blog-pagination">
          {% if paginator.previous_page %}
          <li class="previous">
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <div class="arrow-icons">
                  <span class="fa-long-arrow-left"></span> &nbsp;&nbsp;Previous
                </div>
              </a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="next">
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <div class="arrow-icons">
                  Next &nbsp;&nbsp;<span class="fa-long-arrow-right">
                  </span>
                </div>
              </a>
          </li>
          {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

<script src="{{ "/js/owlCarousel.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/anime.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/charming.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/blog-tooltip.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/custom-blog.js " | prepend: site.baseurl }}"></script>
