---
layout: default
title: Blog - Keep thinking
description: Do one thing for a lifetime
---

section.section_full.post
  .content
    .post_top
      | {% for post in paginator.posts limit:1 %}
      .post_top_item
        .post_top_content
            a.blog_cover_link(href='{{ post.url }}')
              //- span.blog_tag
              //-   | {% for tag in post.tags limit:3 %}
              //-   span {{tag}}
              //-   | {% endfor %}
              span.blog_title {{ post.title }}
              span.blog_tips ARTICLE POSTED ON {{ post.date | date: '%B %d, %Y' }}
      a(href='{{ post.url }}')
        img.blog_header_img(src='{{ post.cover }}', alt='')    
      | {% endfor %}
//- section.section_full.readinglists
//-   .content
//-     .blog_section_title Reading List
//-     .blog_list_book
//-       | {% for post in paginator.posts limit:5 %}
//-       .blog_item
//-         a.blog_cover_link(href='{{ post.url }}')
//-           img.blog_cover(src='{{ post.cover }}', alt='')
//-         .blog_info
//-           a.blog_cover_link(href='{{ post.url }}')
//-             span.blog_tag
//-               | {% for tag in post.tags limit:3 %}
//-               span {{tag}}
//-               | {% endfor %}
//-           a(href='{{ post.url }}')
//-             span.blog_title {{ post.title }}
//-       | {% endfor %}
section.section_full.Design
  .content
    .blog_section_title Design
    .blog_list_grid
      | {% for post in site.categories.design limit:10 %}
      .blog_list_item
        a.blog_cover_link(href='{{ post.url }}')
          img.blog_cover(src='{{ post.cover }}', alt='')
        .blog_info
          a.blog_cover_link(href='{{ post.url }}')
          a(href='{{ post.url }}')
            span.blog_title {{ post.title }}
            span.blog_tag
              | {% for tag in post.tags limit:2 %}
              span {{tag}}
              | {% endfor %}
              | - {{ post.date | date: '%B %d, %Y' }}
      | {% endfor %}

section.section_full.Thinking
  .content
    .blog_section_title Thinking
    .blog_list_grid
      | {% for post in site.categories.thinking limit:9 %}
      .blog_list_item
        a.blog_cover_link(href='{{ post.url }}')
          img.blog_cover(src='{{ post.cover }}', alt='')
        .blog_info
          a.blog_cover_link(href='{{ post.url }}')
          a(href='{{ post.url }}')
            span.blog_title {{ post.title }}
            span.blog_tag
              | {% for tag in post.tags limit:2 %}
              span {{tag}}
              | {% endfor %}
              | - {{ post.date | date: '%B %d, %Y' }}
      | {% endfor %}

//- section.section_full.develop
//-   .content
//-     .blog_section_title Develop
//-     .blog_list_n
//-       | {% for post in paginator.posts limit:4 %}
//-       .blog_item
//-         .blog_info
//-           a(href='{{ post.url }}')
//-             span.blog_title {{ post.title }}
//-             .blog_excerpt {{ post.excerpt }}
//-             span.blog_tag
//-               | {% for tag in post.tags limit:3 %}
//-               span {{tag}}
//-               | {% endfor %}
//-       | {% endfor %}
//- .tags_list
//-   .tags_list_content
//-     a.current(href='')
//-       span ALL
//-     a(href='')
//-       span DESIGN
//-     a(href='')
//-       span THINKING
//-     a(href='')
//-       span MUSIC
//-     a(href='')
//-       span MOVIE
//-     a(href='')
//-       span READ
//-     a(href='')
//-       span 设计之外
