---
layout: default
title: zuonx - design effective digital products
description: Do one thing for a lifetime
---
<div class="lines-grid">
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
</div>
<div id="fullpage">
  <section class="section main">
    <div class="logo_o"><i></i></div>
    <div class="content">
      <div class="main_title">
        设计<br>
        有效的数字化</br>
        产品.
      </div>
      <div class="main_pic">
        <img src="assets/images/main/pic-z.svg" alt="" draggable="false" class="main_pic_z">
        <img src="assets/images/main/pic-z-hover.svg" alt="" draggable="false" class="main_pic_z_hover">
      </div>
    </div>
    <div class="main_scroll">
      <div class="c-scrolldown">
          <div class="c-line"></div>
        </div>
      <span>SCROLL TO EXPLORE</span>
    </div>
  </section>
  <section class="section about">
    <div class="content">
      <div class="section_title">About</div>
      <div class="title">
        嗨!<br>
        我是左子祯.
      </div>
      <p class="about_desc one">
        现在我是北京的一名自由职业者。我擅长将我的技能整合到一起，创造更多的力量，比如设计、代码和灵感来自不同的设计领域，我喜欢创造的过程。
      </p>
      <p class="about_desc two">
        我认为一个伟大的产品在各个方面都是最好的。在这个过程中，需要设计和代码等各个环节的协作和协调。我的优点是有复合技能。在设计过程中，我们可以充分考虑开发的可行性，从产品和交互的角度来控制设计质量，我的灵感来自于建筑和自然。
      </p>
      <div class="service_item">
        <div class="section_title">服务</div>
        <div class="item_desc">
          <span>Web界面设计</span>
          <span>前端开发</span>
          <span>APP界面设计</span>
          <span>数字化品牌</span>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_first">
    <div class="content">
      <div class="case_main">
        <div class="case_number">01 CASE</div>
        <div class="case_category">Developer & Interaction Designer</div>
        <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Cachemoment</a>
        <span class="line"></span>
      </div>
      <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item">
        <img src="assets/images/main/case-1.png" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-dot-main.svg" alt="">
          <img class="pattern_sub" src="assets/images/main/pattern-dot-sub.svg" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>Sass service</span>
        </div>
        <div class="case_desc">
          <p>
            To provide users with large data driven large data driven intelligent cloud acceleration, global CDN solutions,
            To provide users with large data driven large data driven</p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2017</span>
        </div>
        <div class="case_info_two">
          <img class="info_two_content" src="assets/images/main/arrow-right-long.svg" alt="">
        </div>
        <div class="case_info_three">
          <span class="info_three_content">Web Interfaces<br>
            Development<br>
            Digital Branding
          </span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Portfolio</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_second">
    <div class="content">
      <div class="case_main">
        <div class="case_number">02 CASE</div>
        <div class="case_category">Interaction Designer</div>
        <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Persen</a>
        <span class="line"></span>
      </div>
      <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item">
        <img src="assets/images/main/case-2.png" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-line.svg" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>Sass service</span>
        </div>
        <div class="case_desc">
          <p>
            To provide users with large data driven large data driven intelligent cloud acceleration, global CDN solutions,
            To provide users with large data driven large data driven</p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2017</span>
        </div>
        <div class="case_info_two">
          <img class="info_two_content" src="assets/images/main/arrow-right-long.svg" alt="">
        </div>
        <div class="case_info_three">
          <span class="info_three_content">Web Interfaces<br>
            Development<br>
            Digital Branding
          </span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Portfolio</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_third">
    <div class="content">
      <div class="case_main">
        <div class="case_number">03 CASE</div>
        <div class="case_category">Interaction Designer</div>
        <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Petme</a>
        <span class="line"></span>
      </div>
      <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item">
        <img src="assets/images/main/case-3-icon.svg" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-plane.png" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>Sass service</span>
        </div>
        <div class="case_desc">
          <p>
            To provide users with large data driven large data driven intelligent cloud acceleration, global CDN solutions,
            To provide users with large data driven large data driven</p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2017</span>
        </div>
        <div class="case_info_two">
          <img class="info_two_content" src="assets/images/main/arrow-right-long.svg" alt="">
        </div>
        <div class="case_info_three">
          <span class="info_three_content">Web Interfaces<br>
            Development<br>
            Digital Branding
          </span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Portfolio</a>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section case">
    <div class="content">
      <div class="case_synopsis">
        <div class="case_category">Smart home</div>
        <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Presen</a>
        <span class="line"></span>
        <p class="case_desc">
          Presen is a Internet Co that provides smart home services.</p>
        <div class="case_tag">
          <span class="tag">
            <span class="tag_title">SERVICE</span>
            <span class="tag_desc">Web Interfaces & App Interfaces</span>
          </span>
        </div>
      </div>
      <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item">
        <img src="assets/images/main/case-2.png" alt="">
      </a>
    </div>
  </section> -->
  <!-- <section class="section case">
    <div class="content">
      <div class="case_synopsis">
        <div class="case_category">Online training</div>
        <a href="https://www.behance.net/gallery/58498171/Moment" class="case_title">Petme</a>
        <span class="line"></span>
        <p class="case_desc">
          Petme is a comprehensive service platform for pet owners to meet the needs of pet owners, with pet social services and services as the core to meet the needs of pet lovers social, medical and other needs.</p>
        <div class="case_tag">
          <span class="tag">
            <span class="tag_title">SERVICE</span>
            <span class="tag_desc">Digital Branding</span>
          </span>
        </div>
      </div>
      <a href="https://www.behance.net/gallery/58498171/Moment" class="case_item">
        <img src="assets/images/main/case-3.png" alt="">
      </a>
    </div>
  </section> -->
  <section class="section essay">
    <div class="content">
      <div class="section_title">Last Essays</div>
      <div class="title">
        <span>保持阅读和思考.</span>
        <span>关于这个世界我所知道的一切.</span>
      </div>
      {% for post in site.posts limit:2 %}
      <a href="{{ post.url }}" class="blog_item">
        <span class="blog_date">{{ post.date | date: "%Y · %m · %d" }}</span>
        <span class="blog_tag">
          {% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}
        </span>
        <span class="blog_title">{{ post.title }}</span>
        <div class="blog_excerpt">{{ post.excerpt }}</div>
      </a>
      {% endfor %}
      <a href="{{ site.baseurl }}/blog" class="blog_more">View More</a>
    </div>
  </section>
  <section class="section story">
    <div class="content">
      <div class="section_title">Story</div>
      <div class="title">
        All endings are beginnings.<br>
        We just don't know it at the time.
      </div>
      <div id="instagram"></div>
    </div>
  </section>
  <section class="section contact">
    <div class="content">
      <div class="section_title">Contact</div>
      <div class="title">
        保持好奇心.<br>
        让我们一起创造最好的产品吧!
      </div>
      <div class="contact_content">
        <div class="contact_item">
          <div class="section_title">SAY HI</div>
          <a class="item_desc" href="mailto:{{site.email}}">{{ site.email }}</a>
        </div>
        <div class="contact_item">
          <div class="section_title">FOLLOW</div>
          <a class="item_desc" href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank">Dribbble</a>
          <a class="item_desc" href="https://www.behance.net/{{ site.behance_username }}" target="_blank">Behance</a>
          <a class="item_desc" href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
          <a class="item_desc" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>
          <a class="item_desc" href="https://zhihu.com/people/{{ site.zhihu_username }}" target="_blank">Zhihu</a>
        </div>
        <div class="contact_item">
          <div class="section_title">China</div>
          <span class="item_desc">
            Beijing&nbsp;&nbsp;<span class="js--time" data-timezone="Asia/Choibalsan"></span>
          </span>
          </span>
        </div>
        <div class="contact_item">
          <div class="section_title">Serive</div>
          <span class="item_desc">Web Interfaces</span>
          <span class="item_desc">Frontend Development</span>
          <span class="item_desc">App Interface</span>
          <span class="item_desc">Digital Branding</span>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="{{ site.baseurl }}/assets/javascripts/fullPage.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/instagram.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/moment.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/moment-timezone.min.js"></script>

<script type="text/javascript">
  // Instagram Image
  var feed = new Instafeed({
    get: 'user',
    userId: 3253094037,
    accessToken: '3253094037.1677ed0.661863f9351c4c66bc4869c570eb9c44',
    target: 'instagram',
    resolution: 'standard_resolution',
    limit: '6',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });
  window.onload = function() {
    feed.run();
  };
</script>
