---
const { subtitle, title, icon } = Astro.props;
---

<div class="mt-20">
  <div class="-mb-10 text-neutral-500 text-sm flex items-center space-x-1">
    <i class={icon}></i>
    <span>{subtitle}</span>
  </div>
  <h2 class="">{title}</h2>
</div>
