---

---
<section class="introduction relative">
  <div class="pt-32 pb-40 max-w-screen-lg mx-auto text-center px-10 lg:px-0">
    <div class="bg-neutral-50 py-16 px-20 flex flex-col items-center w-full rounded-xl border border-neutral-200">
       <h2 class="text-2xl font-semibold z-0 text-neutral-800">订阅我的月刊</h2>
      <p class="mt-2 text-neutral-500 max-w-4xl leading-7">
        获得关于设计、技术、创作等话题相关的独家经验和分享
      </p>
      <a href="https://zuozizhen.substack.com" class="font-semibold text-white leading-7 text-lg mt-6 bg-neutral-800 w-fit px-6 py-2.5 rounded-md block" target="_blank">订阅堆栈 Stack -></a>
    </div>
  </div>
</section>
