---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Framework",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
];
---

<section class="introduction relative">
  <div class="max-w-screen-lg mx-auto pt-40 px-10 lg:px-0">
    <div class="space-y-2 mb-7">
      <h2 class="text-2xl font-semibold ">
        资源
      </h2>
      <div class="text-neutral-500 text-lg">我为设计师或创造者提供有用的资源</div>
     </div>

     <div class="grid grid-cols-3 gap-6">
      <div class="rounded-lg p-6 relative card-cv border border-neutral-200">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">14k使用</div>
        <h2 class="text-lg font-semibold mb-1 ">极简简历模版包</h2>
        <a class="text-sm font-medium" href="">获取 -></a>
      </div>

      <div class="rounded-lg p-6 relative card-cv border border-neutral-200">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">14k使用</div>
        <h2 class="text-lg font-semibold mb-1 text-neutral-800">极简简历模版包</h2>
        <a class="text-sm font-medium" href="">获取 -></a>
      </div>

      <div class="rounded-lg p-6 relative card-cv border border-neutral-200">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">14k使用</div>
        <h2 class="text-lg font-semibold mb-1 ">极简简历模版包</h2>
        <a class="text-sm font-medium" href="">获取 -></a>
      </div>
      <div class="rounded-lg p-6 relative card-cv border border-neutral-200">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">14k使用</div>
        <h2 class="text-lg font-semibold mb-1 ">极简简历模版包</h2>
        <a class="text-sm font-medium" href="">获取 -></a>
      </div>

    </div>

  </div>
</section>
