---
// @ts-ignore
import { Icon } from "astro-icon";
---

<section class="introduction relative py-12">
  <div class="max-w-screen-lg mx-auto px-10 lg:px-0">
    <div class="space-y-2 mb-7">
      <h2 class="text-2xl font-semibold ">
        资源
      </h2>
      <div class="text-neutral-500 text-lg">我为设计师或创造者提供有用的资源</div>
     </div>

     <div class="grid grid-cols-3 gap-6">
      <a href="https://zuozizhen.lemonsqueezy.com/checkout/buy/871219ee-57d0-4c75-a59b-c226669df55b" class="rounded-lg p-6 relative card-resource cv border border-neutral-200 hover:shadow-lg" target="_blank">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">4+ 经典板式</div>
        <h2 class="text-lg font-semibold mb-1 ">极简简历模版包</h2>
        <div class="text-sm font-medium">获取 -></div>
      </a>
      <a href="https://zuozizhen.lemonsqueezy.com/checkout/buy/0c70f01e-b150-4175-b286-ed21ee5a57b6" class="rounded-lg p-6 relative card-resource cv-notion border border-neutral-200 hover:shadow-lg" target="_blank">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">免费</div>
        <h2 class="text-lg font-semibold mb-1 ">Notion 极简简历模版</h2>
        <div class="text-sm font-medium">获取 -></div>
      </a>
      <a href="https://zuozizhen.lemonsqueezy.com/checkout/buy/a8c1d2ff-7a1c-41e8-a6b7-3b38c3ec60ad" class="rounded-lg p-6 relative card-resource cv-figma-free border border-neutral-200 hover:shadow-lg" target="_blank">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">4+ 经典板式</div>
        <h2 class="text-lg font-semibold mb-1 ">Figma 极简简历模版</h2>
        <div class="text-sm font-medium">获取 -></div>
      </a>
      <a href="https://zuozizhen.lemonsqueezy.com/checkout/buy/266bd99a-c2ca-4b57-b8e0-de8ca4a6e230" class="rounded-lg p-6 relative card-resource year-end-notion border border-neutral-200 hover:shadow-lg" target="_blank">
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2 font-medium text-white">免费</div>
        <h2 class="text-lg font-semibold mb-1 ">Notion 个人年终总结模版</h2>
        <div class="text-sm font-medium">获取 -></div>
      </a>
      <!-- <a href="/resource" class="rounded-lg p-6 relative card-resource border border-neutral-200 hover:shadow-lg flex items-center justify-center flex-col" target="_blank">
        <h2 class="text-lg font-semibold mb-1 ">Notion 个人年终总结模版</h2>
        <div class="text-sm font-medium">更多 -></div>
      </a> -->
    </div>

  </div>
</section>
