---
import { Icon } from "astro-icon/components";

const sociaLitems = [
  {
    name: "mdi:twitter",
    link: "https://twitter.com/zuozizhen",
  },
  {
    name: "ic:round-mail",
    link: "mailto:me@zuozizhen.com",
  },
  {
    name: "official-accounts",
    link: "/wechat",
  },
  {
    name: "simple-icons:substack",
    link: "https://zuozizhen.substack.com",
  },
  {
    name: "akar-icons:youtube-fill",
    link: "https://www.youtube.com/channel/UCuN8sX4okv8FmlhKVhqviRA",
  },
  {
    name: "redbook",
    link: "https://www.xiaohongshu.com/user/profile/5c5f7e25000000001000fc79",
  },
];
---

<footer
  class="flex justify-between items-center gap-4 py-6 max-w-screen-lg mx-auto px-0 border-t border-neutral-100 sm:flex-row flex-col">
  <div class="flex flex-col items-center md:items-start">
    <div class="flex gap-8 flex-shrink-0">
      <a href="/about" class="flex-none text-neutral-500" target="_blank">
        关于我
      </a>
      <a
        href="https://wenjuan.feishu.cn/m?t=s3xoMp7dsiLi-j1k8"
        class="flex-none text-neutral-500"
        target="_blank">
        邮箱联系
      </a>
    </div>
    <p class="text-sm text-neutral-500 mt-2">
      Copyright © {new Date().getFullYear()} zuozizhen. All rights reserved.
    </p>
  </div>
  <div class="flex gap-4">
    {
      sociaLitems.slice(1).map((item) => (
        <a
          href={item.link}
          target="_blank"
          class="bg-neutral-800 hover:bg-neutral-700 transition rounded-xl w-[2.8rem] h-[2.8rem] p-2 flex items-center justify-center">
          <Icon name={item.name} class="text-white h-5" />
        </a>
      ))
    }
  </div>
</footer>
