---
import { Icon } from 'astro-icon';
---

<footer class="py-12 px-6 border-t border-neutral-100">
  <div class="max-w-screen-lg flex justify-between mx-auto flex-col items-center md:flex-row gap-4">
    <div class="flex flex-col items-center md:items-start">
      <!-- <Icon name="logo" alt="website logo" class="w-[4rem] mb-1"/> -->
      <div class="flex gap-8 flex-shrink-0">
        <a href="https://wenjuan.feishu.cn/m?t=s3xoMp7dsiLi-j1k8" class="flex-none text-neutral-500" target="_blank">
          关于我
      </a>
       <a href="https://wenjuan.feishu.cn/m?t=s3xoMp7dsiLi-j1k8" class="flex-none text-neutral-500" target="_blank">
          博客
      </a>
       <a href="https://wenjuan.feishu.cn/m?t=s3xoMp7dsiLi-j1k8" class="flex-none text-neutral-500" target="_blank">
          资源
      </a>
      <a href="https://wenjuan.feishu.cn/m?t=s3xoMp7dsiLi-j1k8" class="flex-none text-neutral-500" target="_blank">
          工作
      </a>
      </div>
      <p class="text-sm text-neutral-500 mt-2">
        Copyright © {new Date().getFullYear()} zuozizhen. All rights reserved.
      </p>
    </div>
    <div class="flex gap-4">
      <a href="https://twitter.com/zuozizhen" target="_blank" class="social-button bg-neutral-800 hover:bg-neutral-700 transition rounded-xl w-[2.8rem] h-[2.8rem] p-3"><Icon name="mdi:twitter" alt="" class="text-white"/></a>
      <a href="mailto:me@zuozizhen.com" class="social-button bg-neutral-800 hover:bg-neutral-700 rounded-xl w-[2.8rem] h-[2.8rem] p-3"><Icon name="ic:round-mail" alt="" class="text-white"/></a>
      <a href="" class="social-button bg-neutral-800 hover:bg-neutral-700 rounded-xl w-[2.8rem] h-[2.8rem] p-3"><Icon name="official-accounts" alt="" class="text-white"/></a>
    </div>
  </div>
</footer>
