---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="flex flex-col max-w-screen-lg mx-auto pt-40 pb-8 px-10 lg:px-0">
  <div class="flex flex-col">
    <h1 class="text-3xl font-semibold max-w-3xl">
      我是左子祯 — 设计师和创造者。
    </h1>
    <p class="text-xl mt-3 text-neutral-500 max-w-[52rem] leading-9">
      我是一名产品设计师，喜欢创造和分享，对一人事业充满热情，你可以关注我的 <a class="font-medium hover:opacity-70 border-neutral-500 text-neutral-800" href="https://twitter.com/zuozizhen">Twitter</a>、<a class="font-medium hover:opacity-70 border-neutral-500 text-neutral-800" href="https://www.xiaohongshu.com/user/profile/5c5f7e25000000001000fc79?xhsshare=Copya&appuid=5c5f7e25000000001000fc79&apptime=1648820442">小红书</a> ，订阅我的 <a class="font-medium hover:opacity-70 border-neutral-500 text-neutral-800" href="https://zuozizhen.substack.com">会员通讯</a>，或了解更多 <a class='font-medium hover:opacity-70 border-neutral-500 text-neutral-800' href="/about">关于我的故事</a>。
    </p>
    <div class="space-y-2 mt-12">
      <a href="https://zuozizhen.substack.com" class="font-semibold text-white leading-7 text-lg bg-neutral-800 w-fit px-6 py-2.5 rounded-md block hover:bg-neutral-900 transition" target="_blank">订阅会员通讯 -></a>
      <div class="text-neutral-500 text-sm">每月 1-2 封邮件，没有垃圾邮件，随时取消</div>
    </div>
  </div>
</main>
