---
import { Picture } from "@astrojs/image/components";
---

<section class="introduction relative py-12">
  <div class="max-w-screen-lg mx-auto px-10 lg:px-0">
    <div class="space-y-2 mb-7">
      <h2 class="text-2xl font-semibold">
        独立开发
      </h2>
      <div class="text-neutral-500 text-lg">我独立开发的产品</div>
     </div>

     <div class="grid grid-cols-2 gap-6">
      <a href=''>
        <Picture
          src="https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/82d806a8-96b5-4425-4067-7a10e8946900/public"
          alt=""
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          background="#ffffff"
          fit="cover"
          position="center"
          class="w-full rounded-md"
        />
        <div>
          <div class="arrow-motion mt-4 flex items-center">
            <h2 class=" text-lg font-semibold leading-snug tracking-tight text-neutral-800">
            FigmaChina
            </h2>
          </div>
          <div class="flex gap-1 mt-1 text-sm text-gray-500">
          Figma 中文站，帮助国内用户学习和使用 Figma
          </div>
        </div>
      </a>
      <a href=''>
        <Picture
          src="https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/6bf9fca9-3968-41d6-7eb3-9ed121bc3200/public"
          alt=""
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          background="#ffffff"
          fit="cover"
          position="center"
          class="w-full rounded-md"
        />
        <div>
          <div class="arrow-motion mt-4 flex items-center">
            <h2 class=" text-lg font-semibold leading-snug tracking-tight text-neutral-800">
            NotionChina
            </h2>
          </div>
          <div class="flex gap-1 mt-1 text-sm text-gray-500">
          Notion 中文站，帮助国内用户学习和使用 Figma
          </div>
        </div>
      </a>
      <a href=''>
        <Picture
          src="https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/71184dba-26a3-46fa-5309-8bedbb851700/public"
          alt=""
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          background="#ffffff"
          fit="cover"
          position="center"
          class="w-full rounded-md"
        />
        <div>
          <div class="arrow-motion mt-4 flex items-center">
            <h2 class=" text-lg font-semibold leading-snug tracking-tight text-neutral-800">
            Elife
            </h2>
          </div>
          <div class="flex gap-1 mt-1 text-sm text-gray-500">
          自己常用的在线工具合集，主页的生命倒计时器用于告诫自己要珍惜时间
          </div>
        </div>
      </a>

    </div>


  <!-- <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-neutral-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div> -->

  </div>
</section>
