<section class="introduction relative">
  <div class="max-w-screen-lg mx-auto pt-40 px-10 lg:px-0">
    <div class="space-y-2 mb-7">
      <h2 class="text-2xl font-semibold">
        项目
      </h2>
      <div class="text-neutral-500 text-lg">我的一些工作项目和一些业余项目</div>
     </div>

     <div class="grid grid-cols-2 gap-4">
      <div class="rounded-lg p-6 relative bg-neutral-50">
        <img src="https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/e052b51d-a97c-4f10-c4a8-f62d6bbf5000/public" alt="">
        <h2 class="text-lg font-semibold">产品设计</h2>
        <a class="text-neutral-800" href="">获取 -></a>
      </div>
      <div class="rounded-lg p-6 relative bg-neutral-50">
        <img src="https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/e052b51d-a97c-4f10-c4a8-f62d6bbf5000/public" alt="">
        <h2 class="text-lg font-semibold">1v1 咨询</h2>
        <a class="text-neutral-800" href="">获取 -></a>
      </div>
    </div>


  <!-- <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-neutral-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div> -->

  </div>
</section>
