<div class="flex space-x-6 justify-center my-16 ">
  <span class="w-1 h-1 rounded-full bg-gray-300 dark:bg-gray-600 inline-block flex-grow-0"></span>
  <span class="w-1 h-1 rounded-full bg-gray-300 dark:bg-gray-600 inline-block flex-grow-0"></span>
  <span class="w-1 h-1 rounded-full bg-gray-300 dark:bg-gray-600 inline-block flex-grow-0"></span>
</div>
