---
const { subtitle, title, icon } = Astro.props;
---

<div class="mt-12">
  <div class="-mb-10 text-xs text-gray-500 dark:text-gray-400 flex items-center space-x-1">
    <i class={icon}></i>
    <span>{subtitle}</span>
  </div>
  <h2 class="">{title}</h2>
</div>
