---
layout: default
---

<nav class="top_nav black">
  <a href= {{ "/works" | prepend: site.baseurl }} class="nav_link">Work</a>
  <a href= {{ "/blog" | prepend: site.baseurl }} class="nav_link active">Blog</a>
  <a href= {{ "/about" | prepend: site.baseurl }} class="nav_link">About</a>
  <a href= {{ "/contact" | prepend: site.baseurl }} class="nav_link">Contact</a>
  <a href="http://elife.zuonx.com" class="nav_link link_right" target="_blank">Elife</a>
  <a href= {{ "/" | prepend: site.baseurl }} class="logo_z"><i></i></a>
</nav>
<section class="title">
    <div class="main_title">Keep thinking</div>
</section>
<section class="section blog_list_tags">
  <div class="blog_list_grid_full">
    {% for post in site.categories[page.category] %}
    <div class="blog_item">
      <a href="{{ post.url }}" class="blog_cover_link">
        <img src="{{ post.cover }}" alt="" class="blog_cover">
      </a>
      <div class="blog_info">
        <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
      <a href="{{ post.url }}">
        <span class="blog_title">{{ post.title }}</span>
      </a>
        <div class="blog_excerpt">{{ post.excerpt }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ content }}
</section>
