<!DOCTYPE html>

<!--
  Name: zuonx
  Version: 1.0.0
  Author: Zuo Zizhen
  Website: https://zuonx.com
  Support: hjsfzzz@gmail.com
  License: An elegant web site
  Copyright 2017.
 -->

<html class="no-js" lang="en">

  {% include head.html %}

  <body class="body_black">
    <a href= {{ "/" | prepend: site.baseurl }} class="logo_z"><i></i></a>
    <a href= {{ "/" | prepend: site.baseurl }} class="logo_x"><i></i></a>
    <a href= {{ "/" | prepend: site.baseurl }} class="logo_u"><i></i></a>
    <a href= "" class="logo_n" id="goToTop"><i></i></a>
    <div class="btn_menu">
       <div class="line"></div>
       <div class="line"></div>
       <div class="line"></div>
    </div>
    <div class="menu">
      <div class="menu_wrapper">
        <div class="wrapper_title">Menu</div>
        <div class="lines-grid">
          <i class="lines_i"></i>
          <i class="lines_i"></i>
          <i class="lines_i"></i>
          <i class="lines_i"></i>
          <i class="lines_i"></i>
        </div>
        <div class="menu_content">
          <a href= {{ "/" | prepend: site.baseurl }}>
            <span>Main Page</span>
          </a>
          <a href= {{ "/portfolio" | prepend: site.baseurl }}>
            <span>Portfolio</span>
          </a>
          <a href= {{ "/blog" | prepend: site.baseurl }}>
            <span>Blog</span>
          </a>
          <a href= {{ "/contact" | prepend: site.baseurl }}>
            <span>Contact</span>
          </a>
        </div>
        <a class="footer_right" href="mailto:hjsfzzz@gmail.com">
          hjsfzzz@gmail.com</a>
      </div>
    </div>

    {{ content }}

    {% include footer.html %}

  </body>

</html>
