---
layout: default
---

include BaseNavigationTop
section.section.post
  .post_top
    .blog_item
      .post_top_content
        span.blog_tag
          | {% for tag in page.tags %}
          span {{tag}}
          | {% endfor %}
        span.blog_title {{ page.title }}
        span.blog_tips ARTICLE POSTED ON {{ page.date | date: '%B %d, %Y' }}
    | {% if page.cover %}
    img.blog_header_img(src='{{ page.cover }}')
    | {% endif %}
  .post-wrapper
    | {{ content }}
  .post_pagination
    | {% if page.previous.url %}
    a.previous(href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}", data-toggle='tooltip', data-placement='top', title='{{page.previous.title}}')
      | 上一篇
      br
      span {{page.previous.title}}
    | {% endif %}
    | {% if page.next.url %}
    a.next(href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}", data-toggle='tooltip', data-placement='top', title='{{page.next.title}}')
      | 下一篇
      br
      span {{page.next.title}}
    | {% endif %}
.comment
  #disqus_thread
  noscript
    | Please enable JavaScript to view the
    a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
script.
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://zuonx.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
script(src='{{ site.baseurl }}/assets/javascripts/medium-zoom.js')
script.
  mediumZoom(document.images)
