---
import { ViewTransitions } from "astro:transitions";

import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";
import "styles/global.scss";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "左子祯" : "左子祯 — 设计师和创造者";
---

<!doctype html>
<html lang="zh-CN" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="左子祯 — 设计师和创造者"
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `左子祯 — 设计师和创造者`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Homepage Screenshot",
        },
      }}
    />
    <script src="https://cdn.usefathom.com/script.js" data-site="VEGAJXXX" defer
    ></script>
    <script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>
    <ViewTransitions />
  </head>
  <body class="antialiased text-neutral-800">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
