@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-blue-500;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  font-size: 18px;
  overflow-y: scroll;
}

a {
  @apply transition;
}

.prose a:not(.anchor) {
  @apply font-bold border-b border-dotted no-underline border-gray-500 hover:opacity-50;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

.skip-nav {
  @apply absolute px-4 py-2 transition-transform duration-200 transform -translate-y-12 left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose > * {
  @apply max-w-screen-sm mx-auto;
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose p {
  @apply my-6;
  word-wrap:break-word;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply my-8 rounded-xl max-w-2xl relative transform left-1/2 -translate-x-2/4;

}

/* .prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
} */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

/* table {
  display: block;
  overflow-y: scroll;
} */

.awssld__bullets {
  display: none !important;
}

.awssld {
  @apply rounded-md overflow-hidden;
--slider-height-percentage: 60%;
--slider-transition-duration: 200ms !important;
--organic-arrow-thickness: 3px !important;
--organic-arrow-border-radius: 4px !important;
--organic-arrow-height: 12px !important;
--organic-arrow-color: #797979 !important;
--control-button-width: 10%;
--control-button-height: 30%;
--control-button-background: transparent !important;
--control-bullet-color: #fafafa;
--control-bullet-active-color: #d5d5d5;
--loader-bar-color: #609dff !important;
--loader-bar-height: 2px;
}

.awssld__container {
    padding-bottom: var(--slider-height-percentage) !important;
}



iframe {
  @apply rounded-md;
}

.prose h2 a,.prose h3 a,.prose h4 a {
  font-weight: 600;
}

#cta {
  @apply transition;
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  opacity: 0;
}


#cta .arrow {
  left: 50%;
}

.arrow {
  @apply text-gray-600 dark:text-gray-500;
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 14px;
  height: 14px;
  transform-origin: 50% 50% 0;
  display: flex;
}

.segunda {
  margin-left: 8px
}


.arrow-motion:hover #cta {
  opacity: 1;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);}
  25% {
    opacity: 0;
    transform:translateX(10px) scale(0.9);}

  26% {
    opacity: 0;
    transform:translateX(-10px) scale(0.9);}

  55%{
      opacity: 1;
    transform: translateX(0px) scale(1);}
}


.arrow-motion:hover .arrow {
  animation-name: bounceAlpha;
  animation-delay: 0.1s;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.arrow-motion:hover .primera {
  animation-name: bounceAlpha;
  animation-duration: 1.6s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#design-card-title {
  transition: all 0.3s;
}

#design-card:hover #design-card-title {
  @apply bottom-7 opacity-100;
}

#design-card:hover img {
  filter: brightness(70%);
}