section.home_about
  .content
    .section_title
    .about_desc
      .about_info
        img(src='../assets/images/main/pic-me.jpg', alt='')
      .desc
        p.p1
          | 我叫左子祯，是一位中国设计师，在北京工作。目前我是 Master 的产品设计负责人 —— 我也为创业公司提供建议，偶尔也写一些关于设计的文章。
        p.p2
          | 通过工作和学习，我现在掌握了成熟的设计技巧，作为设计师，热衷于通过结合周到的研究，巧妙的技术和精美的设计来解决棘手的客户问题。我之前曾为锤子科技设计团队做出了贡献。
        p.p2
          | 2018 年，我创立了 FigmaChina
        p.p2.last
          | 我致力通过各种数字产品，科学提高自己工作效率和生活品质。我会建立自己的工作流，不断优化和提高生产力，我相信数字化生活会让我们更加了解自己。
      .timeline
        ol
          li
            | 2016 <br>
            span
              | 魔门云 · 产品设计师
          li
            | 2018 <br>
            span
              | 字节跳动 / 原锤子科技 · UI 设计师
          li.now
            | 2019 - Now <br>
            span
              | Master · 产品设计负责人
            .sonar-motion
              svg.sonar.sonar-waves(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='75px', fill='#FFC42C')
              svg.sonar.sonar-waves(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='73px', fill='#FFC42C')
              svg.sonar(width='150px', max-width='150px', height='150px', viewbox='0 0 150px 150px')
                circle(cx='75px', cy='75px', r='16px', fill='#FFC42C', opacity='1')

          li 
      .desc
        .h2 我的兴趣
        .grid-2
          .item
            .h3 音乐和吉他
            p.p3 我平时喜欢音乐和吉他
          .item
            .h3 读书
            p.p3 喜欢看各种领域的书
          .item
            .h3 数字产品
            p.p3 我热爱研究和使用数字产品
          .item
            .h3 科幻
            p.p3 好的科幻电影是我的最爱