section.projectlist
  .content
    .project_other_list_item
      | {% for item in site.data.project-best.best_list %}
      .item
        .info_wrap
          .title_wrap
            a.title(href="{{ item.url }}") {{ item.title }}
            .info {{ item.duty }} · {{ item.year }}
          .desc_wrap
            .desc {{ item.desc }}
        .link_wrap
          a(href="{{ item.url }}") 访问网站
      | {% endfor %}

    .h2 其它项目
    .project_other_list_item
      | {% for item in site.data.project-other.other_list %}
      .item
        .info_wrap
          .title_wrap
            .title {{ item.title }}
            .info {{ item.duty }} · {{ item.year }}
          .desc_wrap
            .desc {{ item.desc }}
        .link_wrap
          a(href="{{ item.url }}") 访问网站
      | {% endfor %}