
$gray-lightest:               #FFFFFF !default;
$gray-lighter:                #BBBBBB !default;
$gray-light:                  #A1A1A1 !default;
$gray:                        #434343 !default;
$gray-dark:                   #151515 !default;
$gray-darkest:                #0A0A0A !default;

$sunglow:                     #FDCD00 !default;
$sunglow-dark:                #FDC000 !default;

$line-height: 40px;
$line-height-abs: -40px;

$family-post: "Helvetica Neue", "PingFang SC", "Arial", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;

$family-main: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;

$family-title: "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;

@font-face {
    font-family: 'GilroyExtraBold';
    src: url('/assets/fonts/GilroyExtraBold.eot');
    src: url('/assets/fonts/GilroyExtraBold.eot') format('embedded-opentype'),
         url('/assets/fonts/GilroyExtraBold.woff2') format('woff2'),
         url('/assets/fonts/GilroyExtraBold.woff') format('woff'),
         url('/assets/fonts/GilroyExtraBold.ttf') format('truetype'),
         url('/assets/fonts/GilroyExtraBold.svg#GilroyExtraBold') format('svg');
}


@font-face {
    font-family: 'BitterRegular';
    src: url('/assets/fonts/BitterRegular.eot');
    src: url('/assets/fonts/BitterRegular.eot') format('embedded-opentype'),
         url('/assets/fonts/BitterRegular.woff2') format('woff2'),
         url('/assets/fonts/BitterRegular.woff') format('woff'),
         url('/assets/fonts/BitterRegular.ttf') format('truetype'),
         url('/assets/fonts/BitterRegular.svg#BitterRegular') format('svg');
}

@font-face {
    font-family: 'BitterBold';
    src: url('/assets/fonts/BitterBold.eot');
    src: url('/assets/fonts/BitterBold.eot') format('embedded-opentype'),
         url('/assets/fonts/BitterBold.woff2') format('woff2'),
         url('/assets/fonts/BitterBold.woff') format('woff'),
         url('/assets/fonts/BitterBold.ttf') format('truetype'),
         url('/assets/fonts/BitterBold.svg#BitterBold') format('svg');
}

// Placeholders

%grid-1-830 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 100px;
}
%grid-830-1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 60px;
}
%grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
%grid-contact {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  grid-template-rows: 1fr 1fr;
}
%no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
