
$gray-lightest:               #FFFFFF !default;
$gray-lighter:                #BBBBBB !default;
$gray-light:                  #A1A1A1 !default;
$gray:                        #434343 !default;
$gray-dark:                   #151515 !default;
$gray-darkest:                #0A0A0A !default;

$sunglow:                     #FDCD00 !default;
$sunglow-dark:                #FDC000 !default;

$line-height: 40px;
$line-height-abs: -40px;

$family-post: "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;

$family-main: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;

@font-face {
    font-family: 'SofiaProLight';
    src: url('/assets/fonts/SofiaProLight.eot');
    src: url('/assets/fonts/SofiaProLight.eot') format('embedded-opentype'),
         url('/assets/fonts/SofiaProLight.woff2') format('woff2'),
         url('/assets/fonts/SofiaProLight.woff') format('woff'),
         url('/assets/fonts/SofiaProLight.ttf') format('truetype'),
         url('/assets/fonts/SofiaProLight.svg#SofiaProLight') format('svg');
}

@font-face {
    font-family: 'SofiaProRegular';
    src: url('/assets/fonts/SofiaProRegular.eot');
    src: url('/assets/fonts/SofiaProRegular.eot') format('embedded-opentype'),
         url('/assets/fonts/SofiaProRegular.woff2') format('woff2'),
         url('/assets/fonts/SofiaProRegular.woff') format('woff'),
         url('/assets/fonts/SofiaProRegular.ttf') format('truetype'),
         url('/assets/fonts/SofiaProRegular.svg#SofiaProRegular') format('svg');
}

@font-face {
    font-family: 'SofiaProMedium';
    src: url('/assets/fonts/SofiaProMedium.eot');
    src: url('/assets/fonts/SofiaProMedium.eot') format('embedded-opentype'),
         url('/assets/fonts/SofiaProMedium.woff2') format('woff2'),
         url('/assets/fonts/SofiaProMedium.woff') format('woff'),
         url('/assets/fonts/SofiaProMedium.ttf') format('truetype'),
         url('/assets/fonts/SofiaProMedium.svg#SofiaProMedium') format('svg');
}

@font-face {
    font-family: 'SofiaProSemiBold';
    src: url('/assets/fonts/SofiaProSemiBold.eot');
    src: url('/assets/fonts/SofiaProSemiBold.eot') format('embedded-opentype'),
         url('/assets/fonts/SofiaProSemiBold.woff2') format('woff2'),
         url('/assets/fonts/SofiaProSemiBold.woff') format('woff'),
         url('/assets/fonts/SofiaProSemiBold.ttf') format('truetype'),
         url('/assets/fonts/SofiaProSemiBold.svg#SofiaProSemiBold') format('svg');
}

@font-face {
    font-family: 'SofiaProBold';
    src: url('/assets/fonts/SofiaProBold.eot');
    src: url('/assets/fonts/SofiaProBold.eot') format('embedded-opentype'),
         url('/assets/fonts/SofiaProBold.woff2') format('woff2'),
         url('/assets/fonts/SofiaProBold.woff') format('woff'),
         url('/assets/fonts/SofiaProBold.ttf') format('truetype'),
         url('/assets/fonts/SofiaProBold.svg#SofiaProBold') format('svg');
}

@font-face {
    font-family: 'SofiaProBlack';
    src: url('/assets/fonts/SofiaProBlack.eot');
    src: url('/assets/fonts/SofiaProBlack.eot') format('embedded-opentype'),
         url('/assets/fonts/SofiaProBlack.woff2') format('woff2'),
         url('/assets/fonts/SofiaProBlack.woff') format('woff'),
         url('/assets/fonts/SofiaProBlack.ttf') format('truetype'),
         url('/assets/fonts/SofiaProBlack.svg#SofiaProBlack') format('svg');
}

@font-face {
    font-family: 'TimesNewRomanMTStdItalic';
    src: url('/assets/fonts/TimesNewRomanMTStdItalic.eot');
    src: url('/assets/fonts/TimesNewRomanMTStdItalic.eot') format('embedded-opentype'),
         url('/assets/fonts/TimesNewRomanMTStdItalic.woff2') format('woff2'),
         url('/assets/fonts/TimesNewRomanMTStdItalic.woff') format('woff'),
         url('/assets/fonts/TimesNewRomanMTStdItalic.ttf') format('truetype'),
         url('/assets/fonts/TimesNewRomanMTStdItalic.svg#TimesNewRomanMTStdItalic') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('/assets/fonts/GothamMedium.eot');
    src: url('/assets/fonts/GothamMedium.eot') format('embedded-opentype'),
         url('/assets/fonts/GothamMedium.woff2') format('woff2'),
         url('/assets/fonts/GothamMedium.woff') format('woff'),
         url('/assets/fonts/GothamMedium.ttf') format('truetype'),
         url('/assets/fonts/GothamMedium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('/assets/fonts/GothamBold.eot');
    src: url('/assets/fonts/GothamBold.eot') format('embedded-opentype'),
         url('/assets/fonts/GothamBold.woff2') format('woff2'),
         url('/assets/fonts/GothamBold.woff') format('woff'),
         url('/assets/fonts/GothamBold.ttf') format('truetype'),
         url('/assets/fonts/GothamBold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: 'GothamBlack';
    src: url('/assets/fonts/GothamBlack.eot');
    src: url('/assets/fonts/GothamBlack.eot') format('embedded-opentype'),
         url('/assets/fonts/GothamBlack.woff2') format('woff2'),
         url('/assets/fonts/GothamBlack.woff') format('woff'),
         url('/assets/fonts/GothamBlack.ttf') format('truetype'),
         url('/assets/fonts/GothamBlack.svg#GothamBlack') format('svg');
}

@font-face {
    font-family: 'BitterRegular';
    src: url('/assets/fonts/BitterRegular.eot');
    src: url('/assets/fonts/BitterRegular.eot') format('embedded-opentype'),
         url('/assets/fonts/BitterRegular.woff2') format('woff2'),
         url('/assets/fonts/BitterRegular.woff') format('woff'),
         url('/assets/fonts/BitterRegular.ttf') format('truetype'),
         url('/assets/fonts/BitterRegular.svg#BitterRegular') format('svg');
}

@font-face {
    font-family: 'BitterBold';
    src: url('/assets/fonts/BitterBold.eot');
    src: url('/assets/fonts/BitterBold.eot') format('embedded-opentype'),
         url('/assets/fonts/BitterBold.woff2') format('woff2'),
         url('/assets/fonts/BitterBold.woff') format('woff'),
         url('/assets/fonts/BitterBold.ttf') format('truetype'),
         url('/assets/fonts/BitterBold.svg#BitterBold') format('svg');
}

// Placeholders

%grid-1-830 {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-column-gap: 100px;
}

%grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

%no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
