$gray-lightest = white
$gray-lighter = #bbbbbb
$gray-light = #a4a4a4
$gray = rgba(255, 255, 255, .5)
$gray-dark = rgba(255, 255, 255, .2)
$gray-darkest = #0a0a0a

$sunglow = rgba(255, 187, 14, 1)
$sunglow-dark =rgba(255, 201, 61, 1)

$blue =rgba(73, 113, 255, 1)
$blue-light = rgba(92, 128, 255, 1)

$green = rgba(45, 165, 93, 1)
$green-light = rgba(61, 184, 109, 1)

$red = rgba(212, 78, 48, 1)
$red-light = rgba(224, 95, 66, 1)



$h3 = 20px
$h4 = 18px
$h5 = 15px
$max-width = 1440px

/* noto-sans-sc-regular */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans SC'), local('NotoSans SC-Normal'),
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff') format('woff'), /* Modern Browsers */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.svg#NotoSans SC') format('svg'); /* Legacy iOS */
}
  
/* noto-sans-sc-500 */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans SC'), local('NotoSans SC-Normal'),
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-500.woff') format('woff'), /* Modern Browsers */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-500.svg#NotoSans SC') format('svg'); /* Legacy iOS */
}
  
/* noto-sans-sc-700 */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans SC'), local('NotoSans SC-Normal'),
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.woff') format('woff'), /* Modern Browsers */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.svg#NotoSans SC') format('svg'); /* Legacy iOS */
}
  


$family-post = "Helvetica Neue", "PingFang SC", "Arial", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif
$family-main = "Helvetica Neue", "Arial", "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif
$family-title = "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif

// Placeholders

$X-Center
  transform: translateX(-50%)
  left: 50%
$Y-Center
  transform: translateY(-50%)
  top: 50%
$XY-Center
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%

$LargeShadow
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.8), 0px 10px 30px rgba(0, 0, 0, 0.8), 0px 5px 10px rgba(0, 0, 0, 0.5);

$Transition-Normal
  transition: all 0.15s ease-out;

$no_select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

