// Base

body,
html {
  background: #FFF;
  color: $gray-dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: $family-main;
}

// Nav

.top_nav {
  position: absolute;
  max-width: $max-width - 300;
  width: calc(100% - 300px);
  margin: 80px auto;
  z-index: 10;
  transform: translateX(-50%);
  left: 50%;
  &.white {
    .nav_link {
      color: $gray-light;
        &:after {
          background: $gray-light;
        }
    }
  }
  &.black {
    .nav_link {
      color: $gray;
        &:after {
          background: $gray-light;
        }
    }
    .logo_z {
      i {
        background-color: $gray;
      }
    }
  }
  .nav_link {
    font-size: $h4;
    margin-right: 40px;
    font-family: BitterRegular;
    letter-spacing: -0.5px;
    position: relative;
    transition: color 0.3s;
    z-index: 2;
    &.link_right {
      position: absolute;
      right: 175px;
    }
    &:after {
    	content: '';
      background: $gray-light;
    	position: absolute;
      z-index: -1;
    	bottom: 0;
    	left: -7.5%;
    	width: 115%;
    	height: 50%;
    	opacity: 0.3;
    	transform: scale3d(0,1,1);
    	transform-origin: 0% 50%;
    	transition: transform 0.5s;
    	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    }
    &:hover,
    &.active {
      // color: #FF4377;
    }
    &:hover:after,
    &.active:after {
      transform: scale3d(1,1,1);
    }
    &.active {
      font-family: BitterBold;
    }
  }
  .logo_z {
    position: absolute;
    right: 150px;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    transition: all 0.3s;

    i {
      position: absolute;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      left: 50%;
      display: block;
      background-color: $gray-dark;
      background-image: none;
      width: 22px;
      height: 22px;
      background-size: 20px 20px;
      -webkit-mask-image: url("../images/logo/z.svg");
      mask-image: url("../images/logo/z.svg");
      transition: all 0.3s;
    }
    &:hover i {
      opacity: .8;
    }
  }
}
@media only screen and (max-width: 750px) {
  .top_nav {
    .nav_link {
      margin-right: 20px;
      font-size: 16px;
    }
  }
}
// Module

.section {
  max-width: $max-width;
  padding: 0 150px 90px 150px;
  margin: 0 auto;

  .section_title {
    color: $gray-dark;
    font-size: 46px;
    font-weight: 800;
    max-width: 240px;
  }
  .section_item {
    margin-top: 10px;
    .item_content:not(:last-child) {
      margin-bottom: 60px;
    }
    p {
      font-family: BitterRegular;
      font-size: $h4;
      line-height: 36px;
      color: $gray-light;
      margin-top: 10px;
    }
  }

  .item_title {
    font-family: ProductSansBold;
    font-size: 28px;
    letter-spacing: -0.5px;
  }

  .item_content:not(:last-child) {
    margin-bottom: 60px;
  }

  &.more {
    @extend %grid-1-830;
  }

  &.contact {
    @extend %grid-1-830;
  }

  &.about {
    @extend %grid-1-830;
  }

  &.story {
    @extend %grid-1-830;
  }

  &.case {
    @extend %grid-1-1;
    grid-gap: 40px;
  }

  &.brand {

  }

  &.service {
    @extend %grid-1-830;
  }

  &.blog_home {
    @extend %grid-1-830;
  }

  &.blog {
    @extend %grid-1-830;
  }

  &.work {
    @extend %grid-1-1;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  &.contact {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
  }

  &.site {
    @extend %grid-1-830;
  }
}

@media only screen and (max-width: 1140px) {
  .section {
    width: calc(100% - 140px);
    padding: 0;
    &.story,
    &.more,
    &.contact,
    &.about,
    &.case,
    &.service,
    &.blog_home,
    &.blog,
    &.work,
    &.record,
    &.site {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .section {
    width: calc(100% - 80px);
    .section_title {
      font-size: 11vw;
    }
    &.post {
      .blog_item {
        margin-left: 0 !important;
      }
    }
  }
}

.section_full {
  position: relative;
  height: 800px;
  background-color: $gray-dark;
  .section {
    max-width: 1440px;
    padding: 0 150px;
    margin: 100px auto;
  }
}
.section_full_other {
  position: relative;
  background-color: $gray-dark;
  padding: 100px 0;
  .record {
    max-width: 1440px;
    margin: 0 auto;
    @extend %grid-1-830;
    .section_title {
      color: #FFF;
    }
    &:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../images/main/record_bg.png");
      background-position: center -200px;
      width: 100%;
      height: 100%;
      opacity : 0.1;
      z-index: 1;
    }
  }
}

@media only screen and (max-width: 750px) {
  .section_full_other {
    padding: 40px 0 80px 0;
  }
}
.title_normal {
  display: none;
}
@media only screen and (max-width: 1400px) {
  .title_fixed {
    display: none;
  }
  .title_normal {
    display: block;
  }
}
.home_more {
  background-color: #151515;
  padding: 50px 0;
  .section_title {
    color: #fff;
  }
  .item_title {
    color: #fff;
  }
  .contact_item .item_desc {
    color: #a1a1a1;
  }
  .contact_item a:before {
    background-color: #3b3b3b;
  }
  .contact_item a:after {
    background-color: #fff;
  }
  .contact_item:last-child {
    margin-bottom: 0;
  }
}
// Main

.about_info {
  margin-top: 10px;
  .item_title {
    font-weight: 800;
    font-size: 24px;
    color: #fff;
  }
  .contact_item {
    .item_desc {
      color: #a1a1a1;
      font-size: $h4;
    }
    a:before {
      background-color: #3b3b3b;
    }
    a:after {
      background-color: #fff;
    }
  }
}
.about_title {
  color: #fff;
  font-size: 34px;
  line-height: 1.4em;
}
.home_top_title {
  font-family: GilroyExtraBold;
  font-size: 90px;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  line-height: 1.3em;
  margin-top: -14px;
  position: absolute;
  transform: translateY(-50%);
  top: 47%;
  z-index: 100;
  .home_top_title_swich {
    margin-bottom: 20px;
    a {
      height: 10px;
      width: 34px;
      background-color: #575757;
      margin-right: 8px;
      display: block;
      float: right;
      &.current {
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        background-color: #fff;
      }
    }

  }
  .point {
    margin-left: -10px;
    color: $gray-light;
  }
  .title_other {
    display: block;
    padding-top: 10px;
  }
}
.main_desc {
  font-family: BitterRegular;
  font-size: 20px;
  color: $gray;
  line-height: 44px;
  position: relative;
  margin-top: 40px;
}
@media only screen and (max-width: 750px) {
  .main_title {
    width: fit-content;
    font-size: 11vw;
  }
  .main_desc {
    font-size: 18px;
    line-height: 40px;
  }
}

// Home-blog

.blog_item {
  color: $gray-lightest;
  display: block;
  position: relative;
}

.blog_tag {
  display: block;
  font-size: 11px;
  margin-left: 1px;
  color: #7E7E7E;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  span:after {
    content: " · ";
    display: inline;
  }

  span:last-child:after {
    content: "";
    display: inline;
  }
}

.blog_title {
  font-size: 26px;
  font-weight: 600;
  font-family: $family-title;
  display: inline-block;
  vertical-align: super;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: $gray-dark;
  line-height: 1.5em;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.blog_item_grid .blog_title {
  text-overflow: ellipsis;
  max-width: 24vw;
  overflow: hidden;
  white-space: nowrap;
}



.blog_list_grid .blog_title,
.blog_item_grid .blog_title {
  &:after {
    content: '';
    background: $gray-light;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -1%;
    width: 102%;
    height: 50%;
    opacity: 0.3;
    transform: scale3d(0,1,1);
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  }

  &:hover:after,
  &.active:after {
    transform: scale3d(1,1,1);
  }
}
.blog_excerpt {
  margin-top: 8px;
  font-family: $family-post;
  font-size: 15px;
  font-weight: 400;
  color: #7E7E7E;
  line-height: 2em;
}

.blog_item_grid div:nth-child(1){
  grid-column: 1 / 3;
  text-align: center;
  .blog_title {
    text-overflow: inherit;
    width: auto;
    max-width: 60vw;
    overflow: hidden;
    white-space: nowrap;
  }
}

.blog_item_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  grid-template-rows: auto;
}
@media only screen and (max-width: 750px) {
  .blog_item_grid div:nth-child(1) {
    grid-column: auto;
    text-align: left;
  }
  .blog_item_grid {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

}
@media only screen and (max-width: 1140px) {
  .blog_item_grid .blog_title {
    max-width: 40vw;
  }
  .blog_item_grid div:nth-child(1) .blog_title {
    max-width: 80vw;
  }
}
@media only screen and (max-width: 1000px) {
  .blog_list_grid .blog_title {
    text-overflow: ellipsis;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
  }

}
@media only screen and (max-width: 750px) {
  .blog_list_grid .blog_title,
  .blog_item_grid .blog_title {
    width: 100vw;
    max-width: 80vw;
  }
}
.blog_info {
  padding: 20px 10px;
  font-family: $family-post;
}
.blog_list_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  .blog_item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .blog_item:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .blog_item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    .blog_cover_link {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .blog_info {
      padding: 0;
      margin-left: 10px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      position: absolute;
      bottom: 10px;
    }
  }
  .blog_item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    .blog_cover_link {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .blog_info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      position: absolute;
      bottom: 10px;
    }
  }
  .blog_item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .blog_item:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .blog_item:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .blog_item:nth-child(8) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .blog_item:nth-child(9) {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  .blog_item:nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .blog_item:nth-child(11) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .blog_item:nth-child(12) {
    grid-column-start: 5;
    grid-column-end: 7;
  }

}
@media only screen and (max-width: 750px) {
  .blog_list_grid {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}
.blog_item_top {
  margin-bottom: 30px;
  .blog_cover {
    width: 100%;
  }
  .blog_tag,
  .blog_title,
  .blog_excerpt {
    text-align: center;
    display: block;
  }
}
.blog_item_grid .blog_cover,
.blog_list_grid .blog_cover {
  width: 100%;
  border: 1px solid #eee;
  transition: all .3s;
  border-radius: 4px;
  &:hover {
    opacity: .9;
  }
}

.post_full {
  position: relative;
  height: 800px;
  background-color: $gray-dark;
  overflow: hidden;
  img {
    display: block;
    height: 100%;
  }
}

.case_full {
  position: relative;
  height: 50vw;
  max-height: 2000px;
  width: 100%;
  background-color: #1D243F;
}

@media only screen and (max-width: 1140px) {
  .case_full {
    height: 600px;
  }
}

.record {
  .record_item {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  .co {
    font-family: ProductSansBold;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .time {
    float: right;
    opacity: 0.4;
    font-size: $h4;
    color: #FFFFFF;
    text-align: right;
    margin-top: -50px;
  }
  .position {
    font-family: ProductSansBold;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  p {
    opacity: 0.6;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 36px;
  }
}
@media only screen and (max-width: 750px) {
  .record {
    .co {
      font-size: 26px;
    }
    .time {
      font-size: 16px;
    }
    .position {
      font-size: $h4;
    }
  }
}
.case_full_desc {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  .case_duty {
    opacity: 0.6;
    font-family: $family-main;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .case_full_title {
    font-family: ProductSansBold;
    font-size: 54px;
    margin-left: -2px;
    color: #fff;
  }
  .line {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-family: $family-main;
    font-size: 17px;
    letter-spacing: .5px;
    color: $gray-lightest;
    opacity: 0.6;
    line-height: 2em;
    width: 500px;
  }
  .case_link {
    color: #fff;
    font-family: ProductSansBold;
    position: relative;
    font-size: 20px;
    margin-top: 24px;
    letter-spacing: .5px;
    display: inline-block;
    padding-bottom: 4px;
    cursor: pointer;
    &:before {
    	content: '';
      background: #fff;
    	position: absolute;
    	z-index: 1;
    	bottom: 0;
    	left: -1%;
    	width: 102%;
    	height: 2px;
    	transform: scale3d(0,1,1);
    	transform-origin: 0% 50%;
    	transition: transform 0.5s;
    	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    }
    &:hover:before,
    &.active:before {
      transform: scale3d(1,1,1);
    }
  }
}

.language_swich {
  width: 80px;
  height: 30px;
  background: rgba(141,141,141,0.14);
  border-radius: 100px;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 1000;
  .language_swich_content {
    width: fit-content;
    margin: 0 auto;
  }
  a {
    color: rgba(115,115,115,.6);
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 30px;
  }
  .cn {
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0.5px;
  }
  .en {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.92px;
  }
  .en:after {
    content: '';
    display: inline-block;
    background-color: rgba(115,115,115,.6);
    height: 8px;
    width: 1px;
    margin: 0 2px 0 5px;
  }
}

.case_full_cover {
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  overflow: hidden;
  img {
    max-height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1140px) {
  .case_full_desc {
    left: 50%;
    .case_duty {
      font-size: 12px;
    }
    .case_full_title {
      font-size: 40px;
    }
    p {
      width: 80vw;
    }
  }
  .case_full_cover {
    display: none;
  }
}
.case_item {
  overflow: hidden;
  position: relative;
  background-position: center;

  .color_cover {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: all 0.3s;
  }
  .case_item_desc {
    margin-top: 30px;
    text-align: center;
  }
  &.cachemoment img{
    height: auto;
    width: 100%;
  }
  &.presen img{
    height: auto;
    width: 100%;
  }
  &.petme {
    background-image: url("../images/portfolio/petme.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  &.dns {
    background-image: url("../images/portfolio/dns.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  &.elife {
    background-image: url("../images/portfolio/elife.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  &.elife-x {
    background-image: url("../images/portfolio/elife-x.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .purple {
    background-image: linear-gradient(225deg, #E84EFB 0%, #7B42FF 100%);
  }
  .red {
    background-image: linear-gradient(225deg, #FA9086 0%, #FF4377 100%);
  }
  .yellow {
    background-image: linear-gradient(225deg, #FFDF71 0%, #FFBC00 100%);
  }
  .blue {
    background-image: linear-gradient(225deg, #00BEFF 0%, #196AFF 100%);
  }
  .blue-dark {
    background-image: linear-gradient(225deg, #5F78C7 0%, #1E2D63 100%);
  }
  .gray {
    background-image: linear-gradient(225deg, #5D698E 0%, #0A0A0A 100%);
  }

  &:hover {
    border: 0px solid rgba(0, 0, 0, .05);
    .color_cover {
      opacity: .9;
    }
    .case_item_desc {
      opacity: 1;
    }
    .case_cover {
      opacity: .05;
    }
  }
}

.case_title {
  color: $gray-dark;
  font-size: 24px;
  font-family: ProductSansBold;
  z-index: 2;
  margin-bottom: 12px;
}

.case_tag {
  font-family: BitterRegular;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .3px;
  color: $gray-dark;
  opacity: .4;
  span {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .case_title {
    font-size: $h4;
  }
  .case_tag {
    font-size: 13px;
  }
}
.view_more {
  padding-top: 16px;
  padding-bottom: 2px;
  position: relative;
  display: inline-block;
  margin-top: 40px;
  color: $gray-dark;
  font-family: BitterRegular;
  font-size: 20px;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #dfdfdf;
    position: absolute;
    top: 44px;
    transition: all 0.3s;
  }

  &:after {
    background: $gray;
    transform: scale3d(0,1,1);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
  }

  &:hover:after {
    transform: scale3d(1,1,1);
  }
}

// Contact

.contact_item {
  margin-bottom: 60px;

  a {
    padding-bottom: 2px;
    position: relative;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #dfdfdf;
      position: absolute;
      top: 44px;
      transition: all 0.3s;
    }

    &:after {
      background: $gray;
    	transform: scale3d(0,1,1);
    	transform-origin: 0% 50%;
    	transition: transform 0.3s;
    }

    &:hover:after {
      transform: scale3d(1,1,1);
    }
  }
  .item_desc {
    font-family: BitterRegular;
    color: $gray-dark;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 16px;
    position: relative;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
}
@media only screen and (max-width: 750px) {
  .contact_item {
    .item_desc {
      font-size: $h4;
      margin-bottom: 0;
    }
  }
}

.brand img {
  width: 100%;
}

.section_item {
  margin-top: 10px;
  p {
    font-family: BitterRegular;
    font-size: 19px;
    line-height: 36px;
    color: $gray-light;
    margin-top: 10px;
  }
}

.page_pagination {
  line-height: 40px;
  height: 50px;
  margin-top: 60px;

  a {
    color: $gray-dark;
    font-weight: 600;
    text-decoration: none;
    font-size: 32px;
    font-family: ProductSansBold;
  }

  span {
    color: $gray-light;
    font-size: 20px;
    font-family: BitterRegular;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s color;

    &:hover {
      color: $sunglow;
    }
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}


/* Instagram Image */
#instagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  max-width: 900px;

  a {
    display: block;
    line-height: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  img {
    width: 100%;
  }
}

#instagram a:hover {
  opacity: .9;
}

@media only screen and (max-width: 750px) {
  #instagram {
    grid-template-columns: 1fr;
  }
}

#dribbble-shots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  max-width: 900px;
  a {
    max-height: 300px;
    border-radius: 2px;
    &:hover img{
      opacity: .9;
    }
    img {
      opacity: 1;
      transition: all .3s;
      border-radius: 2px;
      border: 10px solid #fff;
      box-shadow: 0 1px 4px 0 #EEEEEE;
      max-width: 400px;
      max-height: 300px;
      width: 100%;
    }
  }
}
