html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  border-radius: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  background: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: $family-main;
}

.section {
  max-width: 1440px;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: $gray-dark;

  .title {
    font-family: SofiaProSemiBold;
    font-size: 34px;
    line-height: 1.4em;
  }
  &.zuonx {
    display: grid;
    grid-template-columns: 1fr 830px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &.more {
    display: grid;
    grid-template-columns: 1fr 830px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &.contact {
    display: grid;
    grid-template-columns: 1fr 830px;
    margin-bottom: 100px;
  }
  &.about {
    display: grid;
    grid-template-columns: 1fr 830px;
  }

  &.story {
    display: grid;
    grid-template-columns: 1fr 830px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &.case {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &.brand {
    margin-bottom: 100px;
  }
  &.service {
    display: grid;
    grid-template-columns: 1fr 830px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &.essay {
    display: grid;
    grid-template-columns: 1fr 830px;
    margin-top: 100px;
    margin-bottom: 100px;
    .title {
      padding-bottom: 20px;
    }
  }
  &.blog {
    display: grid;
    grid-template-columns: 830px;
    margin-bottom: 100px;
    .item_title {
      margin-bottom: 60px;
    }
  }
  &.portfolio {
    height: auto;
    min-height: 100%;
    .wrapper {
      position: relative;
      padding-top: 100px;
      padding-bottom: 140px;
    }

    .title {
      padding-bottom: 20px;
    }
  }

  &.portfolio {
    .section_title {
      left: -10%;
      top: 10px;
    }
  }
  &.post {
    position: relative;
    z-index: 2;
    margin: auto;
    padding-top: 1px;
    .blog_item {
      margin-right: 80px;
    }
  }
}
.case_item {

}
.post_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 1280px) {
  .section.story .title {
    display: none;
  }
  .section.essay .content a:last-child {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .section.about,
  .section.essay,
  .section.contact,
  .section.blog,
  .section.portfolio {
    width: calc(100% - 200px);
  }
  .page_pagination {
    height: 160px !important;
  }
}

@media only screen and (max-width: 1150px) {
  .case_desc p,
  .info_three_content {
    font-size: 13px !important;
    padding: 0 30px !important;
  }
}
@media only screen and (max-width: 1050px) {
  .section.case .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "main" "cover";
    .case_main,
    .case_synopsis,
    .case_pattern,
    .case_info,
    .case_more {
      display: none;
    }
    .case_cover {
      height: 100vh;
    }
  }
}
@media only screen and (max-width: 750px) {
  .section.case .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main" "cover";
  }
  .case_main {
    justify-self: flex-start !important;
    margin-left: 0;
  }
  .case_desc p {
    padding: 0 40px !important;
  }
  .section.story .desc {
    font-size: 14px;
    span {
      font-size: 13px;
    }
  }
}
.record_full {
  position: relative;
  height: 800px;
  background-color: $gray-dark;
  &:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/main/record_bg.png");
    background-position: center -200px;
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: 1;
}
  .content {
    display: grid;
    grid-template-columns: 1fr 830px;
    max-width: 1440px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .item_title {
    color: #fff;
  }
}
.section_title {
  white-space: nowrap;
  opacity: 1;
  font-family: SofiaProBlack;
  font-size: 200px;
  color: $gray-darkest;
  position: absolute;
  left: -20%;
  top: -80px;
  z-index: -1;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.portfolio_wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.portfolio_clumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  &:last-child {
    margin-left: 60px;
  }
}
.portfolio_clumn.other {
  margin-top: 100px;
}
.portfolio_item {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 60px;

  .portfolio_item:hover .item_cover{
    opacity: 0.4;
  }

  .item_cover {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
  }

  .item_info {
    z-index: 2;
  }

  .item_number {
    font-family: SofiaProBlack;
    font-size: 6.5vw;
    color: $gray-lightest;
    margin-left: -4px;
    line-height: 1em;
  }

  .item_title {
    font-family: SofiaProBold;
    font-size: 24px;
    color: $gray-dark;
    margin-bottom: 4px;
    margin-top: 20px;
    display: block;
    text-align: center;
  }

  .item_desc {
    font-family: SofiaProRegular;
    font-size: 14px;
    line-height: 2em;
    color: $gray-light;
    display: block;
    text-align: center;
    margin-top: 6px;
  }

  .item_type_right {
    position: absolute;
    right: -120px;
    bottom: 0;
    color: $gray-lightest;
    font-size: 10px;
    letter-spacing: 10px;
    transform: rotateZ(-90deg) translateX(50%);
  }
}

@media only screen and (max-width: 1150px) {
  .portfolio_item .item_info {
    position: relative;
    transform: translateY(0);
    top: 0;
    width: 100%;
  }
  .portfolio_item .item_number {
    margin-left: 0;
  }
}
@media only screen and (max-width: 750px) {
  .portfolio_item {
    .item_info {
      padding: 0;
    }

    .item_title {
      font-size: 20px;
    }

    .item_desc {
      display: none;
    }
  }
}
@media only screen and (max-width: 1120px) {
  .about_desc.one:before {
    display: none !important;
  }
  .section .title,
  .section .title span {
    font-size: 28px;
  }
  .about_desc {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1060px) {
  .section.post {
    width: calc(100% - 200px);
  }
}
@media only screen and (max-width: 750px) {
  .section.post,
  .section.about,
  .section.essay,
  .section.contact,
  .section.story,
  .section.portfolio,
  .section.blog {
    width: calc(100% - 80px);
  }
  .portfolio_wrapper {
    display: block;
    .portfolio_clumn {
      width: 100%;
    }
    .other {
      margin-left: 0;
    }
  }
  .section.case {
    width: 100%;
  }

  .service_item {
    margin-top: 60px;
    .item_title,
    .item_desc span {
      font-size: 14px !important;
    }
  }

  .post .blog_item {
    margin-top: 120px !important;
    margin-left: 0 !important;
  }
}
.sub_title {
  font-family: SofiaProBold;
  font-size: 30px;
}

.blog_item_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}
.blog_item_top {
  .blog_cover {
    width: 100%;
    border-radius: 10px;
  }
  .blog_tag,
  .blog_title,
  .blog_excerpt {
    text-align: center;
    display: block;
  }
}
.blog_item_grid .blog_cover {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #eee;
}
.blog_item {
  color: $gray-lightest;
  cursor: pointer;
  display: block;
  margin-bottom: 60px;
}

.blog_date {
  position: absolute;
  left: -200px;
  top: 10px;
  font-family: SofiaProSemiBold;
  font-size: 14px;
  color: $gray-lightest;
  letter-spacing: 3px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  display: inline-block;
  text-align: left;
  &:before {
    position: relative;
    left: 0;
    top: 60px;
    display: block;
    content: '';
    height: 2px;
    width: 0;
    background: $sunglow;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
  }
}
@media only screen and (max-width: 900px) {
  .blog_item {
    padding: 0 !important;
    width: 100% !important;
    left: 0 !important;
  }

  .blog_date {
    display: none;
  }
}

.case_synopsis {
  z-index: 2;
}
.post_full {
  position: relative;
  height: 800px;
  background-color: $gray-dark;
  img {
    display: block;
    height: 100%;
    overflow: hidden;
  }
}
.case_full {
  position: relative;
  height: 800px;
  background-color: $gray-dark;
}
.case-1 {
  width: 550px;
  height: 500px;
  border-radius: 10px;
}
.case_nav {
  height: 25%;
  background-color: #232323;
  position: relative;

  span {
    position: absolute;
    transform: translate(-50%, -50%);
    color: $gray-lightest;
    font-size: 12px;
    font-family: SofiaProBold;
    text-transform: uppercase;
    letter-spacing: 14px;
    top: 50%;
    left: 50%;
    width: fit-content;
  }
}

.case_nav_previous {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;

  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0.6;
  }
}

.case_nav_next {
  display: inline-block;
  border-left: 1px solid #151515;
  float: right;
  width: calc(50% - 1px);
  height: 100%;
  position: relative;

  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0.6;
  }
}


.case_number {
  color: $gray-lightest;
  font-size: 18px;
  font-family: SofiaProBold;
  margin-bottom: 14px;
}

.case_title {
  color: $gray-dark;
  font-size: 24px;
  font-family: SofiaProBold;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  z-index: 2;
  text-align: center;
}

.case_category {
  font-family: SofiaProMedium;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  color: $gray-light;
  letter-spacing: 2px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
@media only screen and (max-width: 750px) {
  .about_swich {
    transform: translateX(-50%);
    left: 50%;
    width: fit-content;
  }
  .case_title {
    font-size: 30px;
  }

  .case_category {
    font-size: 12px;
    margin-bottom: 15px;
    float: none;
  }
}

.case_tag {
  color: $gray-light;
  opacity: .6;
  margin-top: 6px;
  span {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .case_tag {
    display: none;
  }

  .case_desc {
    font-size: 12px !important;
    margin-top: 10px;
  }

  .case .line {
    margin-bottom: 10px !important;
    margin-top: 20px !important;
  }
}

.tag {
  margin-right: 60px;
  display: inline-block;
}

.tag:last-child {
  margin-right: 0;
}

.tag .tag_desc {
  font-family: SofiaProRegular;
  font-size: 14px;
  color: $gray-light;
  display: inline-block;
}

.tag .tag_title {
  font-family: SofiaProSemiBold;
  font-size: 12px;
  line-height: 24px;
  color: $gray-lightest;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.tag a {
  transition: all 0.5s;
}

.tag a:hover {
  color: $sunglow;
}
.record {
  .co {
    font-family: SofiaProBold;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 14px;
  }
  .time {
    float: right;
    opacity: 0.4;
    font-family: SofiaProBold;
    font-size: 20px;
    color: #FFFFFF;
    text-align: right;
    margin-top: -48px;
  }
  .position {
    font-family: SofiaProBold;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  p {
    opacity: 0.6;
    font-family: SofiaProRegular;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 36px;
    margin-bottom: 60px;
  }
}
.full_case_cover img{
  float: right;
  width: 50%;
}
.case_full_cover {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  right: 0;
  img {
    position: absolute;
    height: 100%;
    left: 100%;
  }
}
.case_cover {
  overflow: hidden;
  display: block;
  position: relative;
  width: 550px;
  height: 500px;
  &.purple {
    background-image: linear-gradient(225deg, #E84EFB 0%, #7B42FF 100%);
  }
  &.red {
    background-image: linear-gradient(225deg, #FA9086 0%, #FF4377 100%);
  }
  &:hover img {
    opacity: 1
  }
  &:hover .case_desc p {
    display: block;
  }
}

.case_cover img {
  display: block;
  height: 100%;
  opacity: 1;
}
.case_full_desc {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  .case_duty {
    opacity: 0.6;
    font-family: SofiaPro-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .case_full_title {
    font-family: SofiaProBold;
    font-size: 60px;
    color: #fff;
  }
  .line {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  p {
    font-family: SofiaProMedium;
    font-size: 16px;
    color: $gray-lightest;
    opacity: 0.6;
    line-height: 2em;
    width: 500px;
  }
  .case_link {
    color: #fff;
    font-family: SofiaProBold;
    font-size: 20px;
    margin-top: 20px;
  }
}
.case_desc {
  text-align: center;
  z-index: 2;
  margin-top: 20px;
  p {
    display: none;
    font-family: SofiaProMedium;
    font-size: 18px;
    color: $gray-dark;
    opacity: 0.6;
    line-height: 2.5em;
    margin-bottom: 20px;
    z-index: 2;
  }
}

.case_main .line {
  display: block;
  width: 50px;
  height: 1px;
  background-color: $gray-lightest;
  margin-bottom: 40px;
  margin-top: 50px;
}

.case_second {
  .case_info_two,
  .case_pattern {
    background-color: #E94567;
  }
}

.case_third {
  .case_info_two,
  .case_pattern {
    background-color: #FFC500;
  }

  .pattern_main {
    height: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .section.case .title {
    font-size: 40px;
    line-height: 36px;
    float: none;
    display: block;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 750px) {
  .section.case .title {
    margin-bottom: 40px;
  }
}
nav {
  position: relative;
  width: 1440px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  margin: auto;
  .nav_link {
    font-size: 16px;
    color: $gray-dark;
    margin-right: 40px;
  }
}
.logo_z {
  position: relative;
  float: right;
  width: 22px;
  height: 22px;
  z-index: 10;

  i {
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    display: block;
    background-color: $gray-dark;
    background-image: none;
    width: 22px;
    height: 22px;
    background-size: 20px 20px;
  }
}

.logo_z {
  right: 0;

  i {
    -webkit-mask-image: url("../images/logo/z.svg");
    mask-image: url("../images/logo/z.svg");
  }
}

.page_number,
.post_back {
  position: fixed;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 34px;
  top: 50%;
  -webkit-transition: all 0.2s 0.2s;
  transition: all 0.2s 0.2s;
  color: $gray-lightest;
  font-family: SofiaProSemiBold;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 10;
}

.post_back:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  content: '';
  background-color: $gray-light;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.post_back:hover:before {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.main_title {
  z-index: 5;
  color: $gray-dark;
  font-family: SofiaProBlack;
  font-size: 90px;
  text-align: left;
  white-space: nowrap;
  line-height: 1em;
}
@media only screen and (max-width: 750px) {
  .main_title {
    width: fit-content;
    font-size: 28px;
    display: block;
  }
}

.about_desc {
  font-family: $family-post;
  font-size: 22px;
  color: $gray-dark;
  line-height: 48px;
  position: relative;
  margin-top: 60px;

  p:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 750px) {
  .about_desc {
    font-size: 12px;
    line-height: 30px;
  }
  .about_desc.one {
    margin-top: 20px;
  }
  .about_desc.one:before,
  .about_desc.two {
    display: none;
  }

  .service_item {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .about_desc.one:before {
    display: none;
  }
  .section .title,
  .section .title span {
    font-size: 28px;
  }
  .about_desc {
    font-size: 14px;
  }
  .blog_title {
    font-size: 24px;
  }
  .blog_excerpt {
    font-size: 14px;
  }
}
.about_cn,
.about_en {
  display: none;

  &.active {
    display: block;
  }
}

.blog_title {
  font-size: 28px;
  font-weight: 600;
  font-family: $family-post;
  display: inline-block;
  vertical-align: super;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: $gray-dark;
  line-height: 1.5em;
  margin-top: 10px;
}
@media only screen and (max-width: 750px) {
  .blog_title {
    font-size: 20px;
  }
  .blog_item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .blog_date {
    display: none;
  }
}

.post-header .blog_date {
  left: -180px;
}

@media only screen and (max-width: 1550px) {
  .post-header .blog_date {
    display: none;
  }
}

.blog,
.essay {
  .blog_item:hover .blog_date,
  .blog_item:hover .blog_title {
    color: $sunglow;
  }
}

.blog_item:active .blog_date:before,
.blog_item:hover .blog_date:before {
  width: 40px;
}

.blog_tag {
  display: block;
  font-family: SofiaProSemiBold;
  font-size: 12px;
  color: $gray-light;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 16px;

  span:after {
    content: " · ";
    display: inline;
  }

  span:last-child:after {
    content: "";
    display: inline;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_tag {
    font-size: 11px;
  }
}
@media only screen and (max-width: 750px) {
  .blog_tag {
    font-size: 10px;
  }
}

.blog_excerpt {
  margin-top: 16px;
  font-family: $family-post;
  font-size: 18px;
  font-weight: 400;
  color: $gray;
  line-height: 2em;

  img {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_excerpt {
    font-size: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .blog_excerpt {
    font-size: 12px;
    margin-top: 0;
    padding-right: 0;
    height: 50px;
    overflow: hidden;
  }
}

.blog_more {
  display: inline-block;
  bottom: 42px;
  right: -12.5%;
  color: $gray-light;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: SofiaProBold;
  overflow: hidden;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;

  &:hover {
    color: $sunglow;
  }
}
@media only screen and (max-width: 1120px) {
  .blog_more {
    right: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .blog_more {
    right: 80px;
  }
  .blog_item {
    margin-top: 30px;
  }
  .section.post .blog_item .blog_title,
  .blog .blog_title,
  .essay .blog_title {
    font-size: 18px;
  }
  .blog_tips {
    font-size: 12px !important;
  }
  .blog .blog_tag,
  .essay .blog_tag {
    display: none;
  }
}
.contact_content {
  margin-top: 20px;
}
@media only screen and (max-width: 750px) {
  .contact_content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    margin-top: 10px;
  }

  .contact_item:nth-child(3),
  .contact_item:nth-child(4) {
    display: none;
  }

  .contact_item:last-child,
  .contact_item:nth-child(2) {
    margin-left: 0 !important;
  }
}
.contact_item {
  margin-bottom: 60px;
}
.contact_item a {
  padding-bottom: 10px;
  border-bottom: 2px solid $gray-lighter;
}
.contact_item .item_title {
  font-family: SofiaProBlack;
  font-size: 30px;
  color: $gray-dark;
  margin-bottom: 10px;
  display: block;
}
@media only screen and (max-width: 1200px) {
  .contact_item .item_title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 750px) {
  .contact_item .item_title {
    margin-top: 30px;
  }
}

.contact_item .item_desc {
  color: $gray-light;
  display: inline-block;
  font-family: SofiaProRegular;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

@media only screen and (min-width: 1201px) {
  .contact_item a:hover {
    color: $sunglow;
  }
}

@media only screen and (max-width: 750px) {
  .contact_item .item_desc {
    font-size: 14px;
  }
}


.footer_right {
  position: absolute;
  bottom: 46px;
  width: auto;
  color: $gray-dark;
  -webkit-transition: all 0.2s 0.2s;
  transition: all 0.2s 0.2s;
  line-height: 12px;
  font-family: SofiaProSemiBold;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer_right {
  font-size: 14px;
  transform: translateX(50%);
  right: 10%;
}

.footer_right:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $gray-dark;
  content: '';
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer_right:hover:before {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (max-width: 900px) {
  .footer_right {
    left: 20%;
    transform: translateX(0);
  }

  .footer_right:before {
    display: none;
  }
}

.title,
.title span {
  font-size: 34px;
  color: $gray-lightest;
  font-family: SofiaProSemiBold;
  position: relative;
  z-index: 2;
  display: block;
  overflow: hidden;
}
@media only screen and (max-width: 750px) {
  .title,
  .title span {
    font-size: 20px !important;
  }
}

.active .content {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 1s 0.4s, -webkit-transform 1s 0.4s;
  transition: opacity 1s 0.4s, -webkit-transform 1s 0.4s;
  transition: transform 1s 0.4s, opacity 1s 0.4s;
  transition: transform 1s 0.4s, opacity 1s 0.4s, -webkit-transform 1s 0.4s;
}
@media only screen and (max-width: 750px) {
  .active .content {
    opacity: 1 !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    -webkit-transition: opacity 1s 0.4s, -webkit-transform 1s 0.4s;
    transition: opacity 1s 0.4s, -webkit-transform 1s 0.4s;
    transition: transform 1s 0.4s, opacity 1s 0.4s;
    transition: transform 1s 0.4s, opacity 1s 0.4s, -webkit-transform 1s 0.4s;
  }
}
.brand img {
  width: 1140px;
}
.item_desc {
  margin-top: 16px;
}
.item_desc_content:not(:last-child) {
  margin-bottom: 60px;
}
.item_title {
  color: $gray-dark;
  font-size: 60px;
  font-family: SofiaProBlack;
}

.item_desc p {
  font-family: SofiaProRegular;
  font-size: 20px;
  line-height: 36px;
  color: $gray-light;
  margin-top: 10px;
}

.page_pagination {
  width: calc(100% - 200px);
  margin-left: 200px;
  line-height: 40px;
  height: 115px;
  margin-top: 40px;
  position: absolute;
  bottom: 0;

  a {
    color: $gray-light;
    font-weight: 400;
    text-decoration: none;
  }

  span {
    color: $gray-lightest;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s color;

    &:hover {
      color: $sunglow;
    }
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}
@media only screen and (max-width: 900px) {
  .page_pagination {
    width: 100% !important;
    margin-left: 0;
  }
}

/* Instagram Image */
#instagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  max-width: 900px;

  a {
    line-height: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  img {
    border-radius: 10px;
    width: 100%;
  }
}

#instagram:hover a {
  opacity: 0.8;
}

#instagram a:hover {
  opacity: 1;
}

/* Fullpage Nav */
#fp-nav.right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100px;
  margin-top: 0 !important;
  background: transparent;
  z-index: 99;
  color: $gray-dark;
  -webkit-transition: color 0.2s 0.2s, background 0.5s, width 0.5s ease-in;
  transition: color 0.2s 0.2s, background 0.5s, width 0.5s ease-in;
  a {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    &.active span {
      opacity: 1;
    }
    span {
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 3px;
      width: 3px;
      border-radius: 100px;
      background-color: $gray-lightest;
      transition: all 0.3s;
      opacity: 0.4;
    }
  }
  ul {
    margin: 0 auto;
    width: 14px;
  }
  li {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 750px) {
  #fp-nav.right {
    display: none;
  }
}

.fp-tooltip {
  position: absolute;
  left: -100px;
  opacity: 0;
}

/* Menu */
.menu {
  position: fixed;
  pointer-events: none;
  z-index: 3;
  top: 0;
  right: 100px;
  overflow: hidden;
  width: calc(100% - 200px);
  height: 100vh;

  .lines-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .lines_i:before {
      background: $sunglow-dark;
    }
  }

  .wrapper_title {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    right: calc(20% - 8px);
    font-size: 280px;
    letter-spacing: -10px;
    font-family: SofiaProBlack;
    color: #FDC000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $sunglow;
  }
}

.menu_wrapper {
  position: relative;
  height: 100%;
}

.menu_content {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 20%;
}

.menu_content a {
  font-family: SofiaProBlack;
  font-size: 40px;
  color: $gray-dark;
  display: block;
  margin: 40px 0;
}
@media only screen and (max-width: 750px) {
  .menu_content a {
    font-size: 20px;
  }

  .menu_content a:hover span {
    transform: translateX(0) !important;
  }

  .menu_content a:hover:before {
    width: 0 !important;
  }
}

.menu_content a span {
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateX(0);
  transition: transform 0.3s;
}

.menu_content a:before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-top: 6px;
  left: 0;
  width: 0;
  height: 36px;
  background-color: $gray-dark;
  transition: width 0.3s;
}

.menu_content a:hover span {
  transform: translateX(26px);
}

.menu_content a:hover:before {
  width: 8px;
}

.menu_open {
  pointer-events: auto;
}

.menu::before {
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.menu_open::before {
  transform: scale3d(1,1,1);
}

.menu_wrapper {
  transform: translate3d(-100%,0,0);
  transition: transform 0.3s;
}

.menu_open .menu_wrapper {
  transform: translate3d(0,0,0);
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
/* Menu Button*/
.btn_menu {
  position: fixed;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 40px;
  z-index: 1000;
  display: block;
  width: 22px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  clear: both;
}
@media only screen and (max-width: 750px) {
  .btn_menu {
    display: none;
  }
}
.btn_menu:hover div {
  background-color: $sunglow;
}

.btn_menu .line {
  background-color: #fff;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transform: 0;
  transform-origin: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_menu div:first-child {
  width: 60%;
}

.btn_menu div:last-child {
  width: 80%;
}

.btn_menu div:after,
.btn_menu div:before {
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}

.btn_menu.btn_menu--toggled div:not(:first-child):not(:last-child) {
  width: 0;
  margin-left: 0;
  opacity: 1;
}
/* Toggled */
.btn_menu.btn_menu--toggled div {
  width: 100%;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}

.btn_menu.btn_menu--toggled div:after,
.btn_menu.btn_menu--toggled div:before {
  width: 100%;
}

.btn_menu.btn_menu--toggled div:first-child {
  transform: translateY(9px) rotate(45deg);
}

.btn_menu.btn_menu--toggled div:not(:first-child):not(:last-child) {
  opacity: 0;
}

.btn_menu.btn_menu--toggled div:last-child {
  transform: translateY(-9px) rotate(-45deg);
}

// // Scrollbar
// ::-webkit-scrollbar-thumb {
//   background-color: $gray-light;
//   height: 50px;
//   -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -moz-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -o-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -webkit-border-radius: 0;
// }
//
// ::-webkit-scrollbar {
//   width: 6px;
//   height: 8px;
// }
//
// ::-webkit-scrollbar-track-piece {
//   background-color: $gray-dark;
//   -webkit-border-radius: 0;
// }
// text
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 40px;
  line-height: 1;
  color: #FFF;
  display: inline-block;
}

/* Mallki */
.link--portfolio {
  font-weight: 800;
  color: #FFF;
  -webkit-transition: color 0.5s 0.25s;
  transition: color 0.5s 0.25s;
  overflow: hidden;
}

.link--portfolio:hover {
  -webkit-transition: none;
  transition: none;
  color: transparent;
}

.link--portfolio::before {
  content: '';
  width: 100%;
  height: 4px;
  margin: -3px 0 0;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--portfolio:hover::before {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.link--portfolio span {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.link--portfolio span::before {
  content: attr(data-letters);
  color: red;
  position: absolute;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.link--portfolio span:nth-child(2) {
  top: 50%;
}

.link--portfolio span:first-child::before {
  top: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.link--portfolio span:nth-child(2)::before {
  bottom: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.link--portfolio:hover span::before {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

// light_theme
.body_white {
  background-color: #fff;
  .lines-grid-post .lines_i:before {
    background: $gray-lighter;
    opacity: .2;
  }

  .logo_n,
  .logo_u,
  .logo_x,
  .logo_z {
    i {
      background-color: $gray-dark;
    }
  }

  .btn_menu .line {
    background-color: $gray-dark;
  }
  .post_back {
    color: $gray-dark;
  }
  .post_back:before {
    background-color: $gray-dark;
  }
  .post-wrapper {
    color: $gray-dark;
    a {
      color: $gray-dark;
    }
    p {
      olor: $gray-dark;
    }
  }
  .post_pagination span {
    color: $gray-dark;
  }
  .blog_title,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-dark;
  }
  .menu:before {
    background-color: #eee;
  }
  .wrapper_title {
    color: #ddd;
  }
  .menu .lines-grid .lines_i:before {
    background-color: #ddd;
  }
}

// Disqus
#disqus_thread {
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 750px) {
  #disqus_thread {
    margin-left: 0;
    margin-right: 0;
  }
}
