body,
html
  background: #fff
  color: $gray-dark
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: antialiased
  font-family: $family-main
.body_light
  background-color: #fff
  .section_full
    background-color: #fff

// Nav
.top_nav
  position: fixed
  width: 100%
  padding: 48px 60px
  z-index: 10
  transform: translateX(-50%)
  left: 50%
  display: flex
  align-items: center
  transition: top 0.2s ease-out;
  top: 0
  &.nav-up {
    top: -120px;
  }
  .nav_link
    font-size: $h4
    color: $gray-light
    font-family: BitterR
    line-height: 30px
    transition: color 0.3s
    z-index: 2
    margin-right: 36px
    position relative
    // &:after
    //   content: ''
    //   position: absolute
    //   background-color: $gray
    //   z-index: -1
    //   bottom: 0
    //   left: -7.5%
    //   width: 115%
    //   height: 50%
    //   opacity: 0.3
    //   transform: scale3d(0, 1, 1)
    //   transform-origin: 0% 50%
    //   transition: transform 0.5s
    //   transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
    // &:hover:after,
    // &.active:after
    //   transform: scale3d(1, 1, 1)
    &.active
      color: $gray
  .logo_z
    display: inline-block
    position: relative
    width: 40px
    height: 40px
    border-radius: 100%
    transition: all 0.3s
    z-index: 10
    &.right
      position: absolute
      right: 60px
    i
      position: absolute
      -webkit-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
      display: block
      background-color: $gray-dark
      background-image: none
      width: 22px
      height: 26px
      background-size: 20px 20px
      -webkit-mask-image: url("../assets/images/logo/z.svg")
      mask-image: url("../assets/images/logo/z.svg")
      transition: all 0.3s
    &:hover i
      opacity: .8
@media only screen and (max-width: 1140px)
  .top_nav
    width: calc(100% - 140px)
    padding: 0
@media only screen and (max-width: 750px)
  .top_nav
    padding-left: 30px !important
    padding-right: 30px !important
    width: 100%
    margin: 60px auto 40px auto
    .logo_z
      right: 30px
    .nav_link
      margin-right: 20px
      font-size: 16px
      &.right
        display: none
// Module
.section
  max-width: $max-width
  padding: 0 150px 90px 150px
  margin: 0 auto
  .section_title
    color: $gray-dark
    font-size: 46px
    font-weight: 800
    max-width: 240px
  .section_item
    margin-top: 10px
    .item_content:not(:last-child)
      margin-bottom: 60px
    p
      font-family: BitterRegular
      font-size: $h4
      line-height: 36px
      color: $gray-light
      margin-top: 10px
  .item_title
    font-size: 28px
    font-weight: 800
  &.contact
    @extend $grid-1-830
  &.about
    @extend $grid-1-830
  &.story
    @extend $grid-1-830
  &.case
    @extend $grid-1-830
  &.service
    @extend $grid-1-830
  &.blog_home
    @extend $grid-1-830
  &.blog
    @extend $grid-1-830
  &.work
    @extend $grid-1-1
  &.contact
    @extend $grid-contact
  &.site
    @extend $grid-1-830
@media only screen and (max-width: 1140px)
  .section
    width: calc(100% - 140px)
    padding: 0 0 60px 0
    &.story,
    &.more,
    &.contact,
    &.about,
    &.case,
    &.service,
    &.blog_home,
    &.blog,
    &.work,
    &.record,
    &.site,
    &.shots
      display: grid
      grid-template-columns: 1fr
      grid-gap: 30px
    &.contact
      grid-template-rows: 1fr
      grid-gap: 60px
      margin-top: 0
    .section_item
      .item_content:not(:last-child)
        margin-bottom: 40px
      p
        font-size: 16px
@media only screen and (max-width: 750px)
  .section
    width: calc(100% - 60px)
    .section_title
      font-size: 11vw
    &.more
      padding-top: 40px
    &.post
      .blog_item
        margin-left: 0 !important
.section_full
  position: relative
  .section_title
    font-family: AcuminBd
    font-size: 60px
    color: $gray-dark
    letter-spacing: -2px
    margin-bottom: 60px
  .content
    max-width: 1540px
    padding: 140px 150px
    margin: 0 auto
  .item_title
    font-family: AcuminBd
    font-size: 28px
  &.home_about
    .content
      padding: 140px 120px
  &.ins
    background-color: #fff
  &.blogs
    background-color: #fff
  &.more
    height: 100vh
    .footer
      height: 180px
      border-top: 2px solid #1F1F1F
      padding: 50px
      position: absolute
      bottom: 0
      width: 100%
      .desc
        position: absolute
        transform: translateY(-50%)
        top: 50%
        width: 800px
      .desc_title
        font-family: RobotoMonoBold
        color: #fff
        margin-bottom: 6px
        font-size: 14px
        display: inline-block
      p
        font-family: RobotoMonoRegular
        font-size: 14px
        color: #A0A0A0
        line-height: 24px
        // text-align: justify;
      .copyright
        font-family: RobotoMonoRegular
        font-size: 14px
        line-height: 30px
        color: #A0A0A0
        position: absolute
        right: 50px
        bottom: 50px
    .section_title
      color: #fff
    .item_title
      color: #fff
    .contact_item .item_desc
      font-family: RobotoMonoRegular
      color: #a1a1a1
    .contact_item a:before
      background-color: #3b3b3b
    .contact_item a:after
      background-color: #fff
    .contact_item:last-child
      margin-bottom: 0
  &.cases
    .case
      @extend $grid-1-1
      overflow hidden
      height: 105vh;
      padding: 140px 150px
      margin: 0 auto
      font-size: 16px
      color: #A0A0A0
      position relative
      .case_about
        position: absolute
        transform: translateY(-50%)
        top: 50%
        .case_title
          font-family: AcuminBd
          font-size: 60px
          z-index: 2
          margin-bottom: 30px
        .case_info
          font-family: AcuminR
          font-size: 20px
          margin-bottom: 24px
        .case_button
          padding: 16px 26px
          font-family: BitterR
          font-size: 18px
          display: inline-block
          border-radius: 4px
      .case_logo
        height: 52px
        margin-bottom: 20px
      .case_desc
        line-height: 30px
        margin-bottom: 10px
      .case_left
      .case_right
        position: relative
      .case_link
        font-family: RobotoMonoBold
        position: absolute
        bottom: 0
      .case_cover
        position: absolute
        transform: translateY(-50%)
        top 50%
        left 0
        img
          border-radius: 4px
          height: 80vh
  .section
    padding: 0 150px
    margin: 100px auto
.section_full_other
  position: relative
  background-color: $gray-dark
  padding: 100px 0
  margin-bottom: 90px
  .record
    margin: 0 auto
    @extend $grid-1-830
    .section_title
      color: #FFF
    &:after
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      background-image: url("../assets/images/main/record_bg.png")
      background-position: center -200px
      width: 100%
      height: 100%
      opacity: 0.1
      z-index: 1
@media only screen and (max-width: 750px)
  .section_full_other
    padding: 40px 0 80px 0
.space
  height: 100px
// Main
.title
  max-width: 1540px
  padding: 200px 150px 90px 150px
  margin: 0 auto
  .main_title
    font-family: GilroyExtraBold
    font-weight: 800
    font-size: 80px
    color: $gray-dark
    text-align: left
    white-space: nowrap
    line-height: 1.3em
    margin-top: -10px
@media only screen and (max-width: 1140px)
  .title
    width: calc(100% - 140px)
    padding: 160px 0 60px 0
@media only screen and (max-width: 750px)
  .title
    width: calc(100% - 60px)
    padding: 130px 0 60px 0
    .main_title
      font-size: 12vw
.main_desc_about
  padding-bottom: 100px
@media only screen and (max-width: 750px)
  .main_desc_about
    padding-bottom: 40px
.home_about
  .content
    position: relative
    padding: 90px 150px
    margin: 0 auto
    position: relative
    .section_title
      margin-top: 340px
.home_top
  position: relative
  height: 100vh
  .content
    position: relative
    height: 100vh
    margin: 0 auto
    padding: 90px 110px
.header_nav
  position: absolute
  bottom: 20px
  width: calc(100% - 100px)
  margin: 40px auto
  z-index: 10
  transform: translateX(-50%)
  left: 50%
  display: flex
  align-items: center
  .nav_link
    font-size: $h3
    color: $gray-light
    font-family: BitterR
    line-height: 30px
    transition: color 0.3s
    z-index: 2
    span
      color: #FFCD00
      text-decoration: underline
    &.right
      position: absolute
      right: 0
    &.right_top_1
      position: absolute
      right: 0
      margin-top: -36px
      color: #4D4D4D
    &.right_top_2
      position: absolute
      right: 0
      margin-top: -72px
      color: #4D4D4D
    &.right_top_3
      position: absolute
      right: 0
      margin-top: -108px
      color: #4D4D4D
@media only screen and (max-width: 1140px)
  .home_top,
  .home_about
    .content
      width: calc(100% - 140px)
      padding: 0
.home_about
.ins
  .content
    @extend $grid-1-1_5
@media only screen and (max-width: 750px)
  .home_about
    margin-bottom: 40px
  .home_about .content
    width: 100%
    display: grid
    grid-template-columns: 1fr
    grid-gap: 30px
    padding: 30px 30px
    margin: 0 auto
    .about_desc p
      font-size: 20px
      font-weight: 400
      color: #e8e8e8
      line-height: 36px
      margin-bottom: 16px
.about_info
  position: relative
  img
    margin-top: -265px
    width: 100%
    right: 0
  .item_title
    font-weight: 800
    font-size: 24px
    color: #fff
  .contact_item
    .item_desc
      color: #a1a1a1
      font-size: $h4
    a:before
      background-color: #3b3b3b
    a:after
      background-color: #fff
.about_title
  color: #fff
  font-size: 34px
  line-height: 1.4em
.home_top_title
  position: absolute
  transform: translateY(-50%)
  top: 50%
  z-index: 100
  left: 180px
  .main_title
    font-family: AcuminBd
    font-size: 60px
    color: $gray-dark
    text-align: left
    white-space: nowrap
    line-height: 1.2em
    letter-spacing: -0.5px
  .point
    margin-left: -10px
    color: $gray-light
  .title_other
    display: block
    padding-top: 10px
@media only screen and (max-width: 750px)
  .about_info
    display: none
@media only screen and (max-width: 750px)
  .home_top
    height: 100vh
    .content
      width: auto
      height: 100vh
      padding: 30px 30px
    .home_top_title
      font-size: 15vw
      top: 25%
    .home_top_title .home_top_title_swich a
      width: 24px
.main_desc
  font-family: BitterRegular
  font-size: 20px
  color: $gray
  line-height: 44px
  position: relative
  margin-top: 40px
@media only screen and (max-width: 750px)
  .main_title
    width: fit-content
    font-size: 11vw
  .main_desc
    font-size: 16px
    line-height: 38px
    margin-top: 20px
// Home-blog
.blog_item
  color: $gray-lightest
  display: block
  position: relative
  &:not(:first-child)
    padding-top: 40px
  &:not(:last-child)
    padding-bottom: 40px
    border-bottom: 1px solid #E4E4E4
.blog_tag
  display: block
  font-family: AcuminR
  font-size: 17px
  margin-left: 1px
  color: #999999
  letter-spacing: .5px
  -webkit-transition: all 0.5s
  transition: all 0.5s
  span
    &:not(:last-child):after
      content: ","
      display: inline
.blog_title
  font-size: 30px
  font-weight: 600
  font-family: $family-title
  display: inline-block
  vertical-align: super
  -webkit-transition: all 0.5s
  transition: all 0.5s
  color: $gray-dark
  line-height: 1.5em
  position: relative
  margin-bottom: 16px
  z-index: 2
.blog_item_grid .blog_title
  text-overflow: ellipsis
  max-width: 24vw
  overflow: hidden
  white-space: nowrap
.blog_list_grid .blog_title,
.blog_item_grid .blog_title
  &:after
    content: ''
    background: $gray-light
    position: absolute
    z-index: -1
    bottom: 0
    left: -1%
    width: 102%
    height: 50%
    opacity: 0.3
    transform: scale3d(0, 1, 1)
    transform-origin: 0% 50%
    transition: transform 0.5s
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
  &:hover:after,
  &.active:after
    transform: scale3d(1, 1, 1)
.blog_excerpt
  margin-top: 8px
  font-family: $family-post
  font-size: 15px
  font-weight: 400
  color: #6b6b6b
  line-height: 2em
.blog_item_grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 40px
  grid-template-rows: auto
@media only screen and (max-width: 750px)
  .blog_item_grid div:nth-child(1)
    grid-column: auto
    text-align: left
  .blog_item_grid
    grid-template-columns: 1fr
    grid-gap: 50px
@media only screen and (max-width: 1140px)
  .blog_item_grid .blog_title
    max-width: 40vw
  .blog_item_grid div:nth-child(1) .blog_title
    max-width: 80vw
@media only screen and (max-width: 1000px)
  .blog_list_grid .blog_title
    text-overflow: ellipsis
    width: 40vw
    overflow: hidden
    white-space: nowrap
@media only screen and (max-width: 750px)
  .blog_list_grid .blog_title,
  .blog_item_grid .blog_title
    width: 100vw
    max-width: 80vw
.blog_list_tags
  @extend $grid-830-1
.blog_list_grid_full
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 30px
.blog_large
  .blog_info
    position: absolute
    left: 60px
    bottom: 60px
    .blog_title
      color: #fff
      font-size: 24px
    .blog_excerpt
      color: #fff
.blog_cover
  width: 100%
  border-radius: 6px
.blog_section_title
  font-family: AcuminBd
  line-height: 30px
  font-size: 36px
  color: $gray-dark
  margin-bottom: 36px
.new
  .content
    display: grid
    grid-template-columns: 2.4fr 1fr
    grid-template-rows: auto
    grid-gap: 80px
  .blog_title
    font-size: 1.25rem
  .blog_info
    padding-bottom: 30px
  .blog_tag
    margin-bottom: 6px
.develop
  .content
    @extend $grid-1-830
.readinglists
  .blog_list_book
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: auto
    grid-gap: 45px
.blog_list_s
  .blog_item:nth-child(2)
    display: none
.blog_list_grid
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: auto
  grid-gap: 45px
@media only screen and (max-width: 750px)
  .blog_list_grid
    grid-template-columns: 1fr
    grid-gap: 50px
    .blog_item:nth-child(1)
      grid-column-start: 1
      grid-column-end: 2
      .blog_info
        text-align: left
@media only screen and (max-width: 1024px)
  .tags_list
    display: none
.blog_item_top
  margin-bottom: 30px
  .blog_cover
    width: 100%
  .blog_tag,
  .blog_title,
  .blog_excerpt
    text-align: center
    display: block
.blog_list_grid_full .blog_cover,
.blog_item_grid .blog_cover,
.blog_list_grid .blog_cover
  width: 100%
  border: 1px solid #eee
  transition: all .3s
  border-radius: 6px
  &:hover
    opacity: .9
.tags_list
  position: relative
  .tags_list_content
    position: absolute
    right: 0
  span
    display: block
    font-size: 14px
    font-weight: 500
    letter-spacing: 1.5px
    color: #858585
    margin-bottom: 30px
  .current span
    color: $gray
    font-weight: 600
.post_full
  position: relative
  height: 800px
  background-color: $gray-dark
  overflow: hidden
  margin-bottom: 90px
  img
    display: block
    height: 100%
.appraise_full
  position: relative
  height: 800px
  background-color: $gray-dark
  margin-bottom: 90px
  .appraise_content
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    .appraise_desc
      font-weight: 800
      font-size: 40px
      color: #FFFFFF
      text-align: center
      line-height: 60px
      width: 80vw
      margin-bottom: 30px
    .appraise_name
      font-weight: 500
      font-size: 24px
      color: #FFFFFF
      text-align: center
      margin-bottom: 10px
    .appraise_title
      opacity: 0.5
      font-weight: 400
      font-size: 16px
      color: #FFFFFF
      text-align: center
.case_full
  position: relative
  height: 50vw
  max-height: 2000px
  width: 100%
  background-color: #1D243F
  margin-bottom: 90px
@media only screen and (max-width: 1140px)
  .appraise_full
    height: 600px
    .appraise_content
      .appraise_desc
        font-size: 28px
        line-height: 40px
      .appraise_name
        font-size: 20px
      .appraise_title
        font-size: 14px
  .case_full
    height: 600px
@media only screen and (max-width: 750px)
  .case_full,
  .post_full,
  .appraise_full
    margin-bottom: 40px
.record
  .record_item
    &:not(:last-child)
      margin-bottom: 60px
  .co
    font-weight: 800
    font-size: 28px
    color: #FFFFFF
    margin-bottom: 12px
  .time
    font-weight: 500
    float: right
    opacity: 0.4
    font-size: $h4
    color: #FFFFFF
    text-align: right
    margin-top: -44px
  .position
    font-weight: 500
    font-size: 20px
    color: #FFFFFF
    margin-bottom: 12px
  p
    opacity: 0.6
    font-size: 20px
    color: #FFFFFF
    line-height: 36px
@media only screen and (max-width: 750px)
  .record
    .co
      font-size: 24px
    .time
      margin-top: -34px
      font-size: 14px
    .position
      font-size: $h4
    .section_item p
      font-size: 16px
.case_full_desc
  position: absolute
  top: 50%
  left: 25%
  transform: translate(-50%, -50%)
  .case_duty
    opacity: 0.6
    font-family: $family-main
    font-size: 13px
    font-weight: 500
    color: #FFFFFF
    letter-spacing: 2px
    text-transform: uppercase
    margin-bottom: 24px
  .case_full_title
    font-weight: 800
    font-size: 54px
    margin-left: -2px
    color: #fff
  .line
    display: block
    background-color: #fff
    height: 4px
    width: 36px
    margin-top: 24px
    margin-bottom: 24px
  p
    font-family: $family-main
    font-size: 17px
    letter-spacing: .5px
    color: $gray-lightest
    opacity: 0.6
    line-height: 2em
    width: 500px
  .case_link
    color: #fff
    position: relative
    font-size: 20px
    font-weight: 800
    margin-top: 24px
    letter-spacing: .5px
    display: inline-block
    padding-bottom: 4px
    cursor: pointer
    &:before
      content: ''
      background: #fff
      position: absolute
      z-index: 1
      bottom: 0
      left: -1%
      width: 102%
      height: 2px
      transform: scale3d(0, 1, 1)
      transform-origin: 0% 50%
      transition: transform 0.5s
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
    &:hover:before,
    &.active:before
      transform: scale3d(1, 1, 1)
.case_full_cover
  display: block
  position: absolute
  width: 50%
  height: 100%
  right: 0
  overflow: hidden
  img
    max-height: 100%
    position: absolute
    left: 50%
    transform: translateX(-50%)
@media only screen and (max-width: 1140px)
  .case_full_desc
    left: 50%
    .case_duty
      font-size: 12px
    .case_full_title
      font-size: 40px
    p
      width: 80vw
  .case_full_cover
    display: none
@media only screen and (max-width: 750px)
  .case_full_desc
    .case_full_title
      font-size: 30px
.bottom_0
  padding-bottom: 0 !important
  margin-bottom: 0 !important
.work_content
  background-color: #151515
  position: relative
  height: 100%
  .content
    max-width: 1440px
    position: relative
    padding: 90px 150px
    margin: 0 auto
.work_info
  padding-top: 120px
  margin: 0 auto
  .work_title
    color: #fff
    font-size: 90px
    font-weight: 900
    text-align: center
    padding-bottom: 30px
    line-height: 90px
  .work_desc
    color: $gray-light
    font-size: 20px
    font-weight: 300
    line-height: 34px
    text-align: center
    width: 80%
    margin: 0 auto
.work_pic img
  margin-top: 100px
  width: 100%
  border-radius: 10px
.cases
  &.elife
    background-color: #191A1F
    .case_title
    .case_link
      color: #fff
    .case_button
      background-color: #25262A
      color: rgba(255, 255, 255, .8)
  &.designer_and_studio
  &.smartisan
    .case_title,
    .case_link
      color: $gray-dark
    .case_info
      color: $gray-light
    .case_button
      background-color: #F2F2F2
      color: rgba(0, 0, 0, .3)
  &.petme
    background-color: #FFC700
    .case_title,
    .case_link
      color: #111
    .case_about,
    .case_info
      color: rgba(0, 0, 0, 0.8)
  &.cachemoment
    background: linear-gradient(52.93deg, #51509C 28.82%, #7748BF 84.54%, #724AB7 99.7%);
    .case_title,
    .case_link
      color: #fff
    .case_about,
    .case_info
      color: rgba(255, 255, 255, 0.9)
    .case_button
      background-color: rgba(255, 255, 255, .1)
      color: rgba(255, 255, 255, .5)
  &.presen
    background: linear-gradient(149.21deg, #F76192 26.14%, #EF3760 95.86%);
    .case_title,
    .case_link
      color: #111
    .case_about,
    .case_info
      color: #6F6F70
  &.ds
    background-image: linear-gradient(225deg, #e84efb 0%, #7b42ff 100%)
  .red
    background-image: linear-gradient(225deg, #fa9086 0%, #ff4377 100%)
  .yellow
    background-image: linear-gradient(225deg, #ffdf71 0%, #ffbc00 100%)
  .blue
    background-image: linear-gradient(225deg, #00beff 0%, #196aff 100%)
  .blue-dark
    background-image: linear-gradient(225deg, #5f78c7 0%, #1e2d63 100%)
  .gray
    background-image: linear-gradient(225deg, #5d698e 0%, #0a0a0a 100%)
  .color_cover_img
    transition: all .3s
.case_tag
  font-family: BitterRegular
  font-size: 15px
  font-weight: 500
  letter-spacing: .3px
  float: right
  color: $gray-dark
  opacity: .4
  margin-top: 4px
  span
    margin-right: 20px
@media only screen and (max-width: 750px)
  .case_title
    font-size: $h4
  .case_tag
    font-size: 13px
.view_more
  padding-top: 16px
  padding-bottom: 2px
  position: relative
  display: inline-block
  margin-top: 40px
  font-family: BitterRegular
  font-size: 20px
  margin-bottom: 20px
  left: 50%
  transform: translateX(-50%)
  color: $gray-dark
  &.link
    margin-top: 10px
    margin-bottom: 0
    transform: translateX(0)
    left: 0
    span
      font-size: 22px
      color: #fff
    &:before,
    &:after
      content: ""
      display: block
      width: 100%
      height: 3px
      background-color: rgba(255, 255, 255, 0.4)
      position: absolute
      top: 60px
      transition: all 0.3s
    &:after
      background: #fff
      transform: scale3d(0, 1, 1)
      transform-origin: 0% 50%
      transition: transform 0.3s
    &:hover:after
      transform: scale3d(1, 1, 1)
  &:before,
  &:after
    content: ""
    display: block
    width: 100%
    height: 3px
    background-color: #dfdfdf
    position: absolute
    top: 44px
    transition: all 0.3s
  &:after
    background: $gray
    transform: scale3d(0, 1, 1)
    transform-origin: 0% 50%
    transition: transform 0.3s
  &:hover:after
    transform: scale3d(1, 1, 1)
.link_content
  position: relative
  padding-bottom: 40px
  padding-top: 20px
.dark
  position: absolute
  transform: translateX(-50%)
  left: 50%
  .link
    margin: 0 20px
// Contact
.contact_item
  margin-bottom: 60px
  a
    padding-bottom: 2px
    position: relative
    &:before,
    &:after
      content: ""
      display: block
      width: 100%
      height: 3px
      background-color: #dfdfdf
      position: absolute
      top: 55px
      transition: all 0.3s
    &:after
      background: $gray
      transform: scale3d(0, 1, 1)
      transform-origin: 0% 50%
      transition: transform 0.3s
    &:hover:after
      transform: scale3d(1, 1, 1)
  .item_desc
    font-family: BitterRegular
    color: $gray-dark
    display: inline-block
    font-size: 20px
    margin-right: 20px
    margin-bottom: 20px
    padding-top: 24px
    position: relative
    -webkit-transition: color 0.5s
    transition: color 0.5s
@media only screen and (max-width: 750px)
  .contact_item
    .item_desc
      font-size: $h4
      margin-bottom: 0
.item_img img
  margin-top: 30px
  width: 210px
.brand img
  width: 100%
.page_footer_nav
  position: relative
  line-height: 40px
  height: 80px
  a
    color: $gray-dark
    font-weight: 600
    text-decoration: none
    font-size: 36px
    transition: 0.3s color
    &:hover
      color: $sunglow
  span
    display: block
    color: $gray-light
    font-size: 20px
    font-family: BitterRegular
    font-weight: 400
    text-decoration: none
    transition: 0.3s color
  .left
    float: left
  .right
    float: right
@media only screen and (max-width: 750px)
  .page_footer_nav
    a
      font-size: 24px
    span
      line-height: 20px
      font-size: 14px
.dark .page_footer_nav
  a
    color: #fff
/* Instagram Image */
#instafeed-gallery-feed
  margin: 0 auto
  .grid-sizer,
  .grid-item
    width: 40%
    margin: 20px
  &:after
    content: ''
    display: block
    clear: both
  a
    margin-bottom: 20px
    -webkit-transition: opacity 0.2s ease-in-out
    transition: opacity 0.2s ease-in-out
    &:hover
      opacity: .9
  img
    width: 100%
    height: auto
@media only screen and (max-width: 750px)
  #instagram
    grid-template-columns: 1fr
#dribbble-shots
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: auto
  grid-gap: 40px
  a
    max-height: 300px
    border-radius: 2px
    &:hover img
      opacity: .9
    img
      opacity: 1
      transition: all .3s
      border-radius: 2px
      max-width: 400px
      max-height: 300px
      width: 100%
@media only screen and (max-width: 750px)
  #dribbble-shots
    grid-template-columns: 1fr
  #dribbble-shots a img
    width: 100%
// new homepage styles
.lines-grid
  width: 100%
  height: 850px
  position: absolute
  left: 0
  top: 0
  font-size: 0
  pointer-events: none
  display: grid
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.lines-grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
.lines-grid-post
  grid-template-columns: 100px 1fr 100px
@media only screen and (max-width: 750px)
  .lines-grid,
  .lines-grid-post
    display: none !important
  .post_back
    display: none
.lines_i
  height: 100%
  display: inline-block
  position: relative
.lines_i:before
  content: ''
  display: block
  height: 100%
  width: 1px
  background: $gray-darkest
  -webkit-transition: background 0.2s 0.2s
  transition: background 0.2s 0.2s
.lines_i:first-child:before
  width: 0
// home img
.main_pic_z
  opacity: 0
.top_title
  position: absolute
  display: block
  opacity: 0
  &.current
    opacity: 1
.main_pic_z
  position: absolute
  -webkit-transform: translate(0, -50%)
  transform: translate(0, -50%)
  top: 60%
  right: 150px
  height: auto
  width: 526px
  object-fit: cover
  -webkit-transition: all 0.25s ease-in-out
  transition: all 0.25s ease-in-out
  &.current
    opacity: 1
@media only screen and (max-width: 1400px)
  .home_top_title
    font-size: 6.5vw
  .main_pic_z
    width: 35vw
@media only screen and (max-width: 1140px)
  .home_top_title
    font-size: 7.5vw
  .main_pic_z
    width: 38vw
    right: 0
@media only screen and (max-width: 750px)
  .main_pic_z
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    top: 70%
    left: 50%
    height: auto
    width: calc(100vw - 60px)


// new about
.about_desc
  position: relative
  background-color: #FBFBFB
  .desc
    padding: 80px

  .desc_title
    font-family: AcuminBd
    font-size: 24px
    color: $gray-dark
    margin-bottom: 12px
    display: inline-block
  p
    font-family: BitterR
    font-size: 19px
    font-weight: 400
    color: #A0A0A0
    line-height: 38px
    margin-bottom: 40px
    // text-align: justify;
  .social_link
    color: #A0A0A0
    font-family: BitterR
    span
      color: #FFCD00
      text-decoration: underline
@media only screen and (max-width: 750px)
  .about_desc
    font-size: 12px
    line-height: 30px
  .service_item
    display: none
@media only screen and (max-width: 1120px)
  .about_desc.one:before
    display: none
  .section .title,
  .section .title span
    font-size: 28px
  .about_desc
    font-size: 14px
  .blog_title
    font-size: 24px
  .blog_excerpt
    font-size: 15px
.about_cn,
.about_en
  display: none
  &.active
    display: block
// image container
.img-featured-container
  overflow: hidden
  position: relative
  img
    width: 100%
    display: block
  .img-backdrop
    background: linear-gradient(135deg, rgba(38, 163, 255, 0.85), rgba(83, 201, 179, 0.85))
    margin: 0
    padding: 0
    width: 100%
    height: 100%
    position: absolute
    z-index: 1
    opacity: 0
    transition: all 0.3s ease
  .description-container
    color: #fff
    font-size: 16px
    line-height: 1.2
    padding: 0 30px
    text-align: center
    line-height: 20px
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transform-style: preserve-3d
    z-index: 2
    opacity: 0
    transition: all .2s ease
    p
      font-weight: 300
      margin-bottom: 0
    .caption
      display: none
      margin-bottom: 10px
    .likes,
    .comments
      margin: 0 5px
  &:hover img
    // transform: scale(1.2);
    filter: grayscale(0)
  &:hover .img-backdrop,
  &:hover .description-container
    opacity: 1
// load more button
#btn-instafeed-load
  color: #fff
  background: #26a3ff
  font-size: 16px
  margin: 20px auto
  padding: 8px 40px
  display: block
  border: none
// media queries
@media screen and (min-width: 500px)
  .grid-sizer,
  .grid-item
    width: 33.333%
@media screen and (min-width: 992px)
  .grid-sizer,
  .grid-item
    width: 20%
  // .img-featured-container .description-container .caption {
  //   // display: block;
  // }
//404
/* Styles of the 404 page of my website. */
.page_error
  color: #d3d7de
  font-family: RobotoMonoRegular
  font-size: 18px
  line-height: 1.5em
  cursor: default
  height: 100vh
a
  color: #fff
.code-area
  position: absolute
  width: 320px
  min-width: 320px
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
.code-area
  & > span
    display: block
@media screen and (max-width: 320px)
  .code-area
    font-size: 5vw
    min-width: auto
    width: 95%
    margin: auto
    padding: 5px
    padding-left: 10px
    line-height: 6.5vw

/* Menu */
.menu
  position: fixed
  pointer-events: none
  z-index: 3
  top: 0
  right: 100px
  overflow: hidden
  width: calc(100% - 200px)
  height: 100vh
  .lines-grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    .lines_i:before
      background: $sunglow-dark
  .wrapper_title
    position: absolute
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    top: 50%
    right: calc(20% - 8px)
    font-size: 280px
    font-weight: 600
    letter-spacing: -10px
    color: #FDC000
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $sunglow
.menu_wrapper
  position: relative
  height: 100%
.menu_content
  position: absolute
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)
  top: 50%
  left: 20%
.menu_content a
  font-size: 40px
  color: $gray-dark
  display: block
  margin: 40px 0
@media only screen and (max-width: 750px)
  .menu_content a
    font-size: 20px
  .menu_content a:hover span
    transform: translateX(0) !important
  .menu_content a:hover:before
    width: 0 !important
.menu_content a span
  font-weight: 600
  display: block
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  transform: translateX(0)
  transition: transform 0.3s
.menu_content a:before
  content: ""
  display: inline-block
  position: absolute
  margin-top: 6px
  left: 0
  width: 0
  height: 36px
  background-color: $gray-dark
  transition: width 0.3s
.menu_content a:hover span
  transform: translateX(26px)
.menu_content a:hover:before
  width: 8px
.menu_open
  pointer-events: auto
.menu::before
  transform: scale3d(0, 1, 1)
  transform-origin: 0 50%
  transition: transform 0.3s
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
.menu_open::before
  transform: scale3d(1, 1, 1)
.menu_wrapper
  transform: translate3d(-100%, 0, 0)
  transition: transform 0.3s
.menu_open .menu_wrapper
  transform: translate3d(0, 0, 0)
  transition-delay: 0.15s
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
/* Menu Button*/
.btn_menu
  position: fixed
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)
  top: 50%
  left: 40px
  z-index: 1000
  display: block
  width: 22px
  height: auto
  box-sizing: border-box
  cursor: pointer
  clear: both
@media only screen and (max-width: 750px)
  .btn_menu
    display: none
.btn_menu:hover div
  background-color: $sunglow
.btn_menu .line
  background-color: #fff
  width: 100%
  height: 1px
  margin-top: 8px
  margin-bottom: 8px
  border-radius: 10px
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65)
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65)
  transform: 0
  transform-origin: center
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.btn_menu div:first-child
  width: 60%
.btn_menu div:last-child
  width: 80%
.btn_menu div:after,
.btn_menu div:before
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65)
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65)
.btn_menu.btn_menu--toggled div:not(:first-child):not(:last-child)
  width: 0
  margin-left: 0
  opacity: 1
/* Toggled */
.btn_menu.btn_menu--toggled div
  width: 100%
  animation-duration: 0.6s
  animation-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65)
.btn_menu.btn_menu--toggled div:after,
.btn_menu.btn_menu--toggled div:before
  width: 100%
.btn_menu.btn_menu--toggled div:first-child
  transform: translateY(9px) rotate(45deg)
.btn_menu.btn_menu--toggled div:not(:first-child):not(:last-child)
  opacity: 0
.btn_menu.btn_menu--toggled div:last-child
  transform: translateY(-9px) rotate(-45deg)
// // Scrollbar
// ::-webkit-scrollbar-thumb {
//   background-color: $gray-light;
//   height: 50px;
//   -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -moz-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -o-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -webkit-border-radius: 0;
// }
//
// ::-webkit-scrollbar {
//   width: 6px;
//   height: 8px;
// }
//
// ::-webkit-scrollbar-track-piece {
//   background-color: $gray-dark;
//   -webkit-border-radius: 0;
// }
// text
.link
  outline: none
  text-decoration: none
  position: relative
  font-size: 40px
  line-height: 1
  color: #FFF
  display: inline-block
/* Mallki */
.link--portfolio
  font-weight: 800
  color: #FFF
  -webkit-transition: color 0.5s 0.25s
  transition: color 0.5s 0.25s
  overflow: hidden
.link--portfolio:hover
  -webkit-transition: none
  transition: none
  color: transparent
.link--portfolio::before
  content: ''
  width: 100%
  height: 4px
  margin: -3px 0 0
  background: #fff
  position: absolute
  left: 0
  top: 50%
  -webkit-transform: translate3d(-100%, 0, 0)
  transform: translate3d(-100%, 0, 0)
  -webkit-transition: -webkit-transform 0.4s
  transition: transform 0.4s
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1)
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1)
.link--portfolio:hover::before
  -webkit-transform: translate3d(100%, 0, 0)
  transform: translate3d(100%, 0, 0)
.link--portfolio span
  position: absolute
  height: 50%
  width: 100%
  left: 0
  top: 0
  overflow: hidden
.link--portfolio span::before
  content: attr(data-letters)
  color: red
  position: absolute
  left: 0
  width: 100%
  color: #fff
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
.link--portfolio span:nth-child(2)
  top: 50%
.link--portfolio span:first-child::before
  top: 0
  -webkit-transform: translate3d(0, 100%, 0)
  transform: translate3d(0, 100%, 0)
.link--portfolio span:nth-child(2)::before
  bottom: 0
  -webkit-transform: translate3d(0, -100%, 0)
  transform: translate3d(0, -100%, 0)
.link--portfolio:hover span::before
  -webkit-transition-delay: 0.3s
  transition-delay: 0.3s
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
// Disqus
.comment
  padding-left: 10px
  padding-right: 10px
  padding-top: 60px
  margin: 0 auto
  padding-bottom: 60px
  background-color: #f8f8f8
#disqus_thread
  max-width: 740px
  margin: 0 auto
@media only screen and (max-width: 750px)
  #disqus_thread
    width: calc(100% - 80px)
.box1, .box2, .box3
  display: inline-block
  position: relative
  border-radius: 8px
  border: 0px solid white
  text-align: center
  vertical-align: middle
  padding: 0 5px
.horizontal .box2
  top: 0
  max-height: 50px
  margin: -25px 25px auto 25px
// menu footer right
.footer_right
  position: absolute
  bottom: 46px
  width: auto
  color: $gray-dark
  -webkit-transition: all 0.2s 0.2s
  transition: all 0.2s 0.2s
  line-height: 12px
  font-family: SofiaProSemiBold
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.footer_right
  font-size: 14px
  transform: translateX(50%)
  right: 10%
.footer_right:before
  position: absolute
  bottom: -10px
  left: 0
  height: 1px
  width: 100%
  background-color: $gray-dark
  content: ''
  -webkit-transform-origin: right top
  transform-origin: right top
  -webkit-transform: scaleX(0)
  transform: scaleX(0)
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
.footer_right:hover:before
  -webkit-transform-origin: left top
  transform-origin: left top
  -webkit-transform: scaleX(1)
  transform: scaleX(1)
@media only screen and (max-width: 900px)
  .footer_right
    left: 20%
    transform: translateX(0)
  .footer_right:before
    display: none
//logo
//
// .logo_n,
// .logo_u,
// .logo_x,
// .logo_z {
//   position: fixed;
//   width: 100px;
//   height: 22px;
//   z-index: 10;
//
//   i {
//     position: absolute;
//     -webkit-transform: translate(-50%, 0);
//     transform: translate(-50%, 0);
//     left: 50%;
//     display: block;
//     background-color: $gray-lightest;
//     background-image: none;
//     width: 22px;
//     height: 22px;
//     background-size: 20px 20px;
//   }
// }
//
// .logo_z {
//   top: 40px;
//   left: 0;
//
//   i {
//     -webkit-mask-image: url("../images/logo/z.svg");
//     mask-image: url("../images/logo/z.svg");
//   }
// }
//
// .logo_x {
//   right: 0;
//   top: 40px;
//
//   i {
//     -webkit-mask-image: url("../images/logo/x.svg");
//     mask-image: url("../images/logo/x.svg");
//   }
// }
//
// .logo_n {
//   right: 0;
//   bottom: 40px;
//
//   i {
//     -webkit-mask-image: url("../images/logo/n.svg");
//     mask-image: url("../images/logo/n.svg");
//   }
// }
//
// .logo_u {
//   left: 0;
//   bottom: 40px;
//
//   i {
//     -webkit-mask-image: url("../images/logo/u.svg");
//     mask-image: url("../images/logo/u.svg");
//   }
// }
//
// .logo_o {
//   position: absolute;
//   -webkit-transform: translate(-50%, 0);
//   transform: translate(-50%, 0);
//   left: 50%;
//   top: 40px;
//   z-index: 10;
// }
//
// .logo_o i {
//   display: block;
//   background-color: $gray-lightest;
//   background-image: none;
//   width: 22px;
//   height: 22px;
//   background-size: 20px 20px;
//   -webkit-mask-image: url("../images/logo/o.svg");
//   mask-image: url("../images/logo/o.svg");
// }

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

$line-height = 80px
  $line-height-abs = - $line-height

  .main_scroll
    position: absolute
    left: 180px
    bottom: 21px
    span
      display block
      position absolute
      left 20px
      bottom 20px
      font-size 11px
      color: #8a8a8a
      width 140px
  .c-scrolldown
    width: 1px
    height: $line-height
    position: absolute
    background-color #333
    bottom: 24px
    left: 0
    right: 0
    margin: 0 auto
    overflow: hidden
  .c-line
    width: 100%
    height: 100%
    display: block
    background: linear-gradient(to bottom, #DFDFDF 50%, rgba(255, 255, 255, 0) 50%)
    background-position: 0 $line-height-abs
    background-size: 100% 200%
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite

  @keyframes scrolldown
    0%
      background-position: 0 $line-height-abs
    75%
      background-position: 0 0
    100%
      background-position: 0 $line-height