body,
html
  background: #161616
  color: #FFFFFF
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: antialiased
  font-family: $family-main

a
  font-weight: 600
  color: #ffffff
  display: inline-block

a.link
  padding: 0 10px
  margin: 0 3px
  position relative
  &:before
    content: ''
    position: absolute
    display: block
    transform: translateY(-50%)
    right 0
    top: 50%
    width: 100%
    height calc(100% - 4px)
    border-radius: 6px
    @extend $Transition-Normal
  &:after
    content: ''
    position: absolute
    right 0
    top: 2px
    width: 5px
    height 5px
    border 1px solid $sunglow
    border-radius: 50%
  &:hover
    &:before
      background: rgba($sunglow,0.12)
    color: $sunglow
a.title_link_book
  position relative
  &:before
      content: ''
      position: absolute
      display: block
      transform: translate(-50%,-50%)
      left 50%
      top: 50%
      width: 100%
      height 100%
      border-radius: 8px
      @extend $Transition-Normal
  &:after
    content: ''
    position: absolute
    right 0
    top: 0
    width: 5px
    height 5px
    border 1px solid $green
    border-radius: 50%
  &:hover
    &:before
      background: rgba($green,0.12)
    color: $green
a.title_link_product
  position relative
  &:before
    content: ''
    position: absolute
    display: block
    transform: translate(-50%,-50%)
    left 50%
    top: 50%
    width: calc(100% + 20px)
    height 100%
    border-radius: 6px
    @extend $Transition-Normal
  &:after
    content: ''
    position: absolute
    right -10px
    top: 0
    width: 5px
    height 5px
    border 1px solid $sunglow
    border-radius: 50%
  &:hover
    &:before
      background: rgba($sunglow,0.12)
    color: $sunglow
a.title_link_h1
  position relative
  &:before
    content: ''
    position: absolute
    display: block
    transform: translate(-50%,-50%)
    left 50%
    top: 50%
    width: calc(100% + 22px)
    height 100%
    border-radius: 8px
    @extend $Transition-Normal
  &:after
    content: ''
    position: absolute
    right -11px
    top: 0
    width: 5px
    height 5px
    border 1px solid $blue
    border-radius: 50%
  &:hover
    &:before
      background: rgba($blue,0.12)
    color: $blue
a.link, a.title_link_h1, a.title_link_book
  font-weight: 500
  position relative
  color: inherit

.main_layout
  max-width: 1260px
  margin: 0 auto
  position relative
  display: grid
  grid-template-columns: 420px 1fr


.left_wrap
  position: sticky
  width: 100%
  z-index: 10000
  left 0
  top 0
  height 100vh
  padding: 90px 60px
  &:after 
    content: ''
    position: absolute
    top: 90px
    right 0
    height 520px
    width: 1px
    border-right: 1px dashed rgba(255, 255, 255, 0.12);
  .hello
    display: inline-block
    cursor: default
    &:hover
      animation-name: upAnimation;
      transform-origin: center bottom;
      animation-duration: 3s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-delay: .2s;
  .info
    .avatar
      margin-bottom: 42px
      img
        display: block
        width: 120px
        height: 120px
        border-radius: 18px
    .title
      font-size: 26px
      font-weight: 600
      margin-bottom: 24px
    .desc
      font-size: 17px
      font-weight: 400
      line-height: 1.8
      color: rgba(255, 255, 255, 0.5)
      margin-bottom: 120px
  .contact
    display: grid
    grid-template-columns: 24px 24px 24px 24px
    gap: 30px
    .wechat
      .img_qr
        position: absolute
        display: none
        width: 120px
        height 120px
        bottom: 42px
        left 0
        border-radius: 6px
      &:hover
        .img_qr
          display: block
    .item_desc
      position relative
      @extend $Transition-Normal
      &:hover
        transform: scale(1.05)
    img
      width: 24px
      height 24px
  .copyright
    position: absolute
    bottom: 90px
    left 60px
    font-size: 14px
    color: rgba(255, 255, 255, 0.3)

@keyframes upAnimation {
    0% {
        transform: rotate(0deg);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }

    10% {
        transform: rotate(-12deg);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }

    20% {
        transform: rotate(12deg);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }

    25% {
        transform: rotate(-8deg);
        transition-timing-function: cubic-bezier(0.755, .5, .855, .06)
    }

    30% {
        transform: rotate(8deg);
        transition-timing-function: cubic-bezier(0.755, .5, .855, .06)
    }

    35% {
        transform: rotate(-4deg);
        transition-timing-function: cubic-bezier(0.755, .5, .855, .06)
    }

    40% {
        transform: rotate(4deg);
        transition-timing-function: cubic-bezier(0.755, .5, .855, .06)
    }

    50% {
        transform: rotate(0deg);
        transition-timing-function: cubic-bezier(0.755, .5, .855, .06)
    }

    100% {
        transform: rotate(0deg);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
}

.right_wrap
  padding: 90px 60px

.post_nav
  max-width: 790px
  display: flex
  align-items: center
  justify-content: space-between
  margin: 90px auto 0 auto
  position relative
  .back_link
    font-size: 17px
    font-weight: 600
    color: $gray
    line-height: 30px
    z-index: 2
    position relative
    display: flex
    align-items: center
    @extend $Transition-Normal
    svg
      width: 21px
      height: 21px
      margin-right: 6px
      margin-top: -0.5px
      opacity .5
    &:not(:last-child) 
      margin-right: 48px
    &:hover
      color: $gray-lightest
      svg
        opacity 1
    &.active
      color: $gray-lightest
      

// Nav
.top_nav
  width: 100%
  display: flex
  align-items: center
  margin-bottom: 60px
  position relative
  .nav_link
    font-size: 17px
    font-weight: 600
    color: $gray
    line-height: 30px
    z-index: 2
    position relative
    @extend $Transition-Normal
    &:not(:last-child) 
      margin-right: 48px
    &:hover
      color: $gray-lightest
    &.active
      color: $gray-lightest

.logo_z
  display: inline-block
  position: absolute
  right: 0
  width: 40px
  height: 40px
  @extend $Transition-Normal
  z-index: 10
  cursor pointer
  i
    @extend $XY-Center
    position: absolute
    display: block
    background-color: $gray-lightest
    background-image: none
    width: 22px
    height: 26px
    background-size: 20px 20px
    -webkit-mask-image: url("../images/logo/z.svg")
    mask-image: url("../images/logo/z.svg")
    @extend $Transition-Normal
    &:hover
      opacity: .8

// Mobie
@media only screen and (max-width: 1140px)
  .top_nav
    width: calc(100% - 100px)
    padding: 48px 0
@media only screen and (max-width: 750px)
  .top_nav
    width: calc(100% - 60px)

.project_best_list_item
  display: grid
  gap: 72px
  .item
    display: grid
    gap: 30px
    .info_wrap
      display: flex
      justify-content: space-between
      padding: 0 18px
      .title
        font-size: 26px
        font-weight: 700
        margin-bottom: 6px
      .info
        font-size: 17px
        font-weight: 400
        color: rgba(#ffffff,.3)
      .desc
        font-size: 17px
        font-weight: 400
        width: 300px
        line-height: 30px
        color: rgba(#ffffff,.5)
    .cover_wrap
      img
        width: 100%
        border-radius: 12px

.projectlist
  .h2
    font-size: 25px;
    font-weight: 700;
    color: #ffffff
    margin-bottom: 36px
    margin-top: 60px
    margin-left: 18px
.project_other_list_item
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 36px
  .item
    background: rgba(#ffffff,.06)
    border-radius: 12px
    padding: 42px
    height 380px
    position relative
    .info_wrap
      .title
        font-size: 26px
        font-weight: 700
        margin-bottom: 6px
      .info
        font-size: 17px
        font-weight: 400
        color: rgba(#ffffff,.3)
        margin-bottom: 24px
      .desc
        font-size: 17px
        font-weight: 400
        line-height: 30px
        color: rgba(#ffffff,.5)
    .link_wrap
      height: fit-content
      position absolute
      left 42px
      bottom: 42px
      a
        font-weight: 600
        color: $blue

.wonderful-tab
  ul
    display: flex
    li
      margin-right: 48px
      a
        font-size: 17px
        color: $sunglow
        opacity .5
      &.highligh
        a
          opacity 1

.wonderful-tab > .title
  margin-bottom: 60px

.wonderful_content
  display: none

.wonderful_content.active
  display: block



.wonderful_article_list_item
  display: grid
  gap: 72px
  .item
    .title_wrap
      .title
        font-size: 26px
        line-height: 40px
        margin-bottom: 18px
        display: inline-block
    .desc_wrap
      .desc
        font-size: 16px
        margin-bottom: 18px
        line-height: 30px
        color: rgba(#ffffff,.5)
    .site_wrap
      .site
        font-size: 16px
        font-weight: 600
        color: $blue

.wonderful_book_list_item
  display: grid
  gap: 72px
  .item
    display: flex
    align-items: center
    .cover_wrap
      margin-right: 30px
      img
        display block
        width: 160px
        border-radius: 12px
    .title_wrap
      .title
        font-size: 26px
        line-height: 40px
        margin-bottom: 18px
        display: inline-block
    .desc_wrap
      .desc
        font-size: 16px
        margin-bottom: 18px
        line-height: 30px
        color: rgba(#ffffff,.5)
    .score_wrap
      .score
        font-size: 16px
        font-weight: 600
        color: $green

.wonderful_product_list_item
  .h2
    font-size: 25px;
    font-weight: 700;
    color: #ffffff
    margin-bottom: 36px
    margin-top: 60px
  .item_wrap
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 60px
    .title_wrap
      .title
        font-size: 18px
        line-height: 30px
        margin-bottom: 18px
        display: inline-block
    .desc_wrap
      .desc
        font-size: 16px
        margin-bottom: 18px
        line-height: 30px
        color: rgba(#ffffff,.5)


.home_top
  position: relative
  height: 100vh
  .content
    position: relative
    height: 100vh
    margin: 0 auto
    padding: 90px 110px


//Mobie
@media only screen and (max-width: 750px)
  .about_info
    display: none

.bloglist
  .blog_item
    color: $gray-lightest
    display: block
    position: relative
    @extend $Transition-Normal
    border-radius: 18px
    cursor pointer
    a
      display: block
    &:not(:first-child)
      margin-top: 50px
    &:not(:last-child)
      margin-bottom: 50px
    &:after
      content: ''
      position: absolute
      display: block
      transform: translate(-50%, -50%)
      left 50%
      top 50%
      width: calc(100% + 54px)
      height calc(100% + 42px)
      border-radius: 12px
      @extend $Transition-Normal
    &:hover
      &:after
        background: rgba(255, 255, 255, .06)
  .view_more
    transform: translateX(0)
    left 0
    margin-top: 0px !important

.blog_tag
  display: block
  font-size: 17px
  margin-left: 1px
  color: rgba(255, 255, 255, .3)
  letter-spacing: .5px
  position relative
  z-index 2
  span
    &:not(:last-child):after
      content: ", "
      display: inline

.blog_title
  font-size: 26px
  font-weight: 600
  display: inline-block
  vertical-align: super
  color: $gray-lightest
  line-height: 1.5em
  position: relative
  margin-bottom: 14px
  z-index: 2

.blog_excerpt
  margin-top: 2px
  margin-bottom: 14px
  font-family: $family-post
  font-size: 17px
  font-weight: 400
  color: rgba(#FFFFFF, 0.5)
  line-height: 32px
  position relative
  z-index 2

.blog_cover_link
  display: inline-block
  margin-bottom: 10px


//Mobie

.view_more
  padding-top: 30px
  padding-bottom: 2px
  position: relative
  display: inline-block
  margin-top: 60px
  font-family: AcuminBd
  font-size: 20px
  margin-bottom: 60px
  color: $gray-lightest
  &.link
    margin-top: 10px
    span
      font-size: 22px
      color: #fff
    &:before,
    &:after
      content: ""
      display: block
      width: 100%
      height: 2px
      background-color: #3C3C3C
      position: absolute
      top: 60px
      transition: all 0.3s
    &:after
      background: #9E9E9E
      transform: scale3d(0, 1, 1)
      transform-origin: 0% 50%
      transition: transform 0.3s
    &:hover:after
      transform: scale3d(1, 1, 1)
  &:before,
  &:after
    content: ""
    display: block
    width: 100%
    height: 2px
    background-color: #3C3C3C
    position: absolute
    top: 44px
    transition: all 0.3s
  &:after
    background: $gray
    transform: scale3d(0, 1, 1)
    transform-origin: 0% 50%
    transition: transform 0.3s
  &:hover:after
    transform: scale3d(1, 1, 1)

.bloglist
  .blog_info
    display: flex
  .blog_cover
    width: 240px
    height 180px
    border-radius: 12px
    margin-right: 40px
    @extend $Transition-Normal
    &:hover
      opacity: .9
      @extend $LargeShadow

  .view_more
    left: 0
    margin-top: 60px
    transform: translateX(0);

//Mobie
@media only screen and (max-width: 750px)
  .develop
    .blog_info
      display: block
    .blog_cover
      width: 100%

// new about
.about_desc
  position: relative
  .about_info
    position: relative
    height 420px
    display: flex
    align-items: center
    overflow hidden
    margin-bottom: 60px
    border-radius: 12px
    img
      display: block
      width: 100%
      right: 0
      @extend $LargeShadow
  .desc
    padding: 0 60px

  .h1
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    color: $gray-lightest
    margin-bottom: 24px
    display: inline-block
  .h2
    font-size: 25px;
    font-weight: 700;
    color: #ffffff
    margin-bottom: 36px
  .h3
    font-size: 18px;
    font-weight: 700;
    color: #ffffff
    margin-bottom: 12px
  .p1
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: rgba(#ffffff,.9)
    margin-bottom: 36px
  .p2
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    color: rgba(#ffffff,.6)
    margin-bottom: 36px
  .p3
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(#ffffff,.6)
    margin-bottom: 36px
  
  p.last
    margin-bottom: 0
  .skill
    line-height: 50px;

  .timeline
    padding: 60px 0
  
    ol
      padding-left: 0;
      list-style: none;
      counter-reset: steps;
      display: table;
      width: 100%;

    li 
      counter-increment: steps; 
      display:table-cell;
      vertical-align:top;
      text-align:center;
      position: relative;
      font-weight: 700
      span
        font-size: 14px;
        font-weight: 700;
        opacity: .5;
        margin-top: 3px
        display: inline-block

    li:not(:last-child):before
      content: '';
      margin: 0 auto 18px;
      display:block;
      width: 9px;
      height: 9px;
      text-align:center;
      line-height: 9px;
      border: 2px solid #161616;
      border-radius: 100%;
      background: #FFC42C;
      position: relative;
      z-index 2

    li:after
      content: '';
      border-top: 1px solid #FFC42C;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 6px;
      z-index: 0;
      
    li:first-of-type:after
      left: 50%;

    li:last-of-type:after
      right: 50%;

.grid-2
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 60px
  grid-row-gap: 0

.sonar-motion
  position: absolute;
  transform: scale(.3);
  top: -69px;
  left: 40px;
  z-index: 3;

@keyframes waves {
  0% {
    transform: scale(0.22);
    opacity: 0.5;
    stroke-opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    stroke-opacity: 0;
  }
}

.sonar-motion > .sonar-waves:nth-of-type(1) {
  position: absolute;
  animation-name: waves;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-delay: 0s;
  opacity: 0;
}

.sonar-motion > .sonar-waves:nth-of-type(2) {
  position: absolute;
  animation-name: waves;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-delay: 2s;
  opacity: 0;
}


//Mobie
@media only screen and (max-width: 750px)
  .about_desc
    font-size: 12px
    line-height: 30px
@media only screen and (max-width: 1120px)
  .about_desc
    font-size: 14px
  .blog_title
    font-size: 24px
  .blog_excerpt
    font-size: 15px

.medium-zoom-overlay
  background-color: #161616 !important

iframe .txp_tipbar
  display: none !important