/* Menu */
.menu {
  position: fixed;
  pointer-events: none;
  z-index: 3;
  top: 0;
  right: 100px;
  overflow: hidden;
  width: calc(100% - 200px);
  height: 100vh;

  .lines-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .lines_i:before {
      background: $sunglow-dark;
    }
  }

  .wrapper_title {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    right: calc(20% - 8px);
    font-size: 280px;
    font-weight: 600;
    letter-spacing: -10px;
    color: #FDC000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $sunglow;
  }
}

.menu_wrapper {
  position: relative;
  height: 100%;
}

.menu_content {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 20%;
}

.menu_content a {
  font-size: 40px;
  color: $gray-dark;
  display: block;
  margin: 40px 0;
}
@media only screen and (max-width: 750px) {
  .menu_content a {
    font-size: 20px;
  }

  .menu_content a:hover span {
    transform: translateX(0) !important;
  }

  .menu_content a:hover:before {
    width: 0 !important;
  }
}

.menu_content a span {
  font-weight: 600;
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateX(0);
  transition: transform 0.3s;
}

.menu_content a:before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-top: 6px;
  left: 0;
  width: 0;
  height: 36px;
  background-color: $gray-dark;
  transition: width 0.3s;
}

.menu_content a:hover span {
  transform: translateX(26px);
}

.menu_content a:hover:before {
  width: 8px;
}

.menu_open {
  pointer-events: auto;
}

.menu::before {
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.menu_open::before {
  transform: scale3d(1,1,1);
}

.menu_wrapper {
  transform: translate3d(-100%,0,0);
  transition: transform 0.3s;
}

.menu_open .menu_wrapper {
  transform: translate3d(0,0,0);
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

/* Menu Button*/
.btn_menu {
  position: fixed;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 40px;
  z-index: 1000;
  display: block;
  width: 22px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  clear: both;
}
@media only screen and (max-width: 750px) {
  .btn_menu {
    display: none;
  }
}
.btn_menu:hover div {
  background-color: $sunglow;
}

.btn_menu .line {
  background-color: #fff;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transform: 0;
  transform-origin: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_menu div:first-child {
  width: 60%;
}

.btn_menu div:last-child {
  width: 80%;
}

.btn_menu div:after,
.btn_menu div:before {
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}

.btn_menu.btn_menu--toggled div:not(:first-child):not(:last-child) {
  width: 0;
  margin-left: 0;
  opacity: 1;
}

/* Toggled */
.btn_menu.btn_menu--toggled div {
  width: 100%;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}

.btn_menu.btn_menu--toggled div:after,
.btn_menu.btn_menu--toggled div:before {
  width: 100%;
}

.btn_menu.btn_menu--toggled div:first-child {
  transform: translateY(9px) rotate(45deg);
}

.btn_menu.btn_menu--toggled div:not(:first-child):not(:last-child) {
  opacity: 0;
}

.btn_menu.btn_menu--toggled div:last-child {
  transform: translateY(-9px) rotate(-45deg);
}

// // Scrollbar
// ::-webkit-scrollbar-thumb {
//   background-color: $gray-light;
//   height: 50px;
//   -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -moz-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -o-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
//   -webkit-border-radius: 0;
// }
//
// ::-webkit-scrollbar {
//   width: 6px;
//   height: 8px;
// }
//
// ::-webkit-scrollbar-track-piece {
//   background-color: $gray-dark;
//   -webkit-border-radius: 0;
// }

// text
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 40px;
  line-height: 1;
  color: #FFF;
  display: inline-block;
}

/* Mallki */
.link--portfolio {
  font-weight: 800;
  color: #FFF;
  -webkit-transition: color 0.5s 0.25s;
  transition: color 0.5s 0.25s;
  overflow: hidden;
}

.link--portfolio:hover {
  -webkit-transition: none;
  transition: none;
  color: transparent;
}

.link--portfolio::before {
  content: '';
  width: 100%;
  height: 4px;
  margin: -3px 0 0;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--portfolio:hover::before {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.link--portfolio span {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.link--portfolio span::before {
  content: attr(data-letters);
  color: red;
  position: absolute;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.link--portfolio span:nth-child(2) {
  top: 50%;
}

.link--portfolio span:first-child::before {
  top: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.link--portfolio span:nth-child(2)::before {
  bottom: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.link--portfolio:hover span::before {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}


// Disqus
.comment {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: #f8f8f8;
}
#disqus_thread {
  max-width: 740px;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {

  #disqus_thread {
    width: calc(100% - 80px);
  }
}

.box1, .box2, .box3 {
	display: inline-block;
	position: relative;
	border-radius: 8px;
	border: 0px solid white;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
}


.horizontal .box2 {
	top: 0;
	max-height: 50px;
	margin: -25px 25px auto 25px;
}

// menu footer right
.footer_right {
  position: absolute;
  bottom: 46px;
  width: auto;
  color: $gray-dark;
  -webkit-transition: all 0.2s 0.2s;
  transition: all 0.2s 0.2s;
  line-height: 12px;
  font-family: SofiaProSemiBold;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer_right {
  font-size: 14px;
  transform: translateX(50%);
  right: 10%;
}

.footer_right:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $gray-dark;
  content: '';
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer_right:hover:before {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (max-width: 900px) {
  .footer_right {
    left: 20%;
    transform: translateX(0);
  }

  .footer_right:before {
    display: none;
  }
}

//logo
// 
// .logo_n,
// .logo_u,
// .logo_x,
// .logo_z {
//   position: fixed;
//   width: 100px;
//   height: 22px;
//   z-index: 10;
//
//   i {
//     position: absolute;
//     -webkit-transform: translate(-50%, 0);
//     transform: translate(-50%, 0);
//     left: 50%;
//     display: block;
//     background-color: $gray-lightest;
//     background-image: none;
//     width: 22px;
//     height: 22px;
//     background-size: 20px 20px;
//   }
// }
//
// .logo_z {
//   top: 40px;
//   left: 0;
//
//   i {
//     -webkit-mask-image: url("../images/logo/z.svg");
//     mask-image: url("../images/logo/z.svg");
//   }
// }
//
// .logo_x {
//   right: 0;
//   top: 40px;
//
//   i {
//     -webkit-mask-image: url("../images/logo/x.svg");
//     mask-image: url("../images/logo/x.svg");
//   }
// }
//
// .logo_n {
//   right: 0;
//   bottom: 40px;
//
//   i {
//     -webkit-mask-image: url("../images/logo/n.svg");
//     mask-image: url("../images/logo/n.svg");
//   }
// }
//
// .logo_u {
//   left: 0;
//   bottom: 40px;
//
//   i {
//     -webkit-mask-image: url("../images/logo/u.svg");
//     mask-image: url("../images/logo/u.svg");
//   }
// }
//
// .logo_o {
//   position: absolute;
//   -webkit-transform: translate(-50%, 0);
//   transform: translate(-50%, 0);
//   left: 50%;
//   top: 40px;
//   z-index: 10;
// }
//
// .logo_o i {
//   display: block;
//   background-color: $gray-lightest;
//   background-image: none;
//   width: 22px;
//   height: 22px;
//   background-size: 20px 20px;
//   -webkit-mask-image: url("../images/logo/o.svg");
//   mask-image: url("../images/logo/o.svg");
// }
