$line-height = 80px
$line-height-abs = - $line-height

.main_scroll
  position: absolute
  left: 180px
  bottom: 21px
  span
    display block
    position absolute
    left 20px
    bottom 20px
    font-size 11px
    color: #8a8a8a
    width 140px
.c-scrolldown
  width: 1px
  height: $line-height
  position: absolute
  background-color #333
  bottom: 24px
  left: 0
  right: 0
  margin: 0 auto
  overflow: hidden
.c-line
  width: 100%
  height: 100%
  display: block
  background: linear-gradient(to bottom, #DFDFDF 50%, rgba(255, 255, 255, 0) 50%)
  background-position: 0 $line-height-abs
  background-size: 100% 200%
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite

@keyframes scrolldown
  0%
    background-position: 0 $line-height-abs
  75%
    background-position: 0 0
  100%
    background-position: 0 $line-height

@media only screen and (max-width: 1220px)
  .main_scroll
    left 100px
@media only screen and (max-width: 750px)
  .main_scroll
    left 60px


// Disqus
.comment
  padding-left: 10px
  padding-right: 10px
  padding-top: 60px
  margin: 0 auto
  padding-bottom: 60px
  background-color: #f8f8f8
#disqus_thread
  max-width: 740px
  margin: 0 auto
@media only screen and (max-width: 750px)
  #disqus_thread
    width: calc(100% - 80px)
.box1, .box2, .box3
  display: inline-block
  position: relative
  border-radius: 8px
  border: 0px solid white
  text-align: center
  vertical-align: middle
  padding: 0 5px
.horizontal .box2
  top: 0
  max-height: 50px
  margin: -25px 25px auto 25px